Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2022-12, with the labels that each got.

#805 [Exporter.Geneva] Fix overflow bucket value serialization for Histogram
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#806 [Exporter.Stackdriver] Release 1.0.0-beta.4
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
Labels: comp:exporter.stackdriver

#807 [Exporter.Geneva][Patch for 1.3.0] Fix overflow bucket serialization for GenevaExporter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#803 Leverage modern .NET features for improved perf.
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
Labels: comp:exporter.geneva

#811 Update workflows to rename branch to extensions
  .github/workflows/ci-md.yml
  .github/workflows/ci.yml
  .github/workflows/dotnet-core-cov.yml
  .github/workflows/dotnet-format-md.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/integration-md.yml
  .github/workflows/integration.yml
  .github/workflows/markdownlint.yml
  .github/workflows/sanitycheck.yml
Labels: infra

#813 [Exporter.Geneva] Fix EventSource logging for GenevaExporter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
Labels: comp:exporter.geneva

#814 [OpenTelemetry.Extensions] Update unit tests
  test/OpenTelemetry.Extensions.Tests/Trace/AutoFlushActivityProcessorTests.cs
Labels: comp:extensions

#815 [Exporter.Geneva] Update GenevaExporter CHANGELOG for 1.4.0-beta.6
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#817 [Exporter.Geneva] Update unit tests for scopes
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#821 [Instrumentation.Process, Instrumentation.Runtime] Releases with OTel 1.4.0-rc.1
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime, comp:instrumentation.process

#822 [Instrumentation.Runtime] - relese request typo fix
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#836 Update package publish workflows to setup .NET 7
  .github/workflows/package-Exporter.Instana.yml
  .github/workflows/package-Extensions.AWSXRay.yml
  .github/workflows/package-Extensions.PersistentStorage.Abstractions.yml
  .github/workflows/package-Instrumentation.AWS.yml
  .github/workflows/package-Instrumentation.AWSLambda.yml
  .github/workflows/package-Instrumentation.AspNet.TelemetryHttpModule.yml
  .github/workflows/package-Instrumentation.AspNet.yml
  .github/workflows/package-Instrumentation.GrpcCore.yml
  .github/workflows/package-Instrumentation.Hangfire.yml
  .github/workflows/package-Instrumentation.MySqlData.yml
  .github/workflows/package-Instrumentation.Owin.yml
  .github/workflows/package-Instrumentation.Quartz.yml
Labels: infra

#796 [Geneva.Logs] Support prefix-based table name mapping
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/TableNameSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/README.md
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/TableNameSerializerTests.cs
Labels: comp:exporter.geneva

#837 [Instrumentation.WCF] fix rpc.system tag
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationConstants.cs
Labels: comp:instrumentation.wcf

#838 [GenevaExporter] Update MsgPackTraceExporter for new Enumerate* DS7 APIs
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
Labels: comp:exporter.geneva

#826 minor refactoring on histogram bucket serialization
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#816 [Exporter.Instana] Update Instana Transport with exception-handling and a couple of bug fixes.
  src/OpenTelemetry.Exporter.Instana/CHANGELOG.md
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaExporterEventSource.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpanSerializer.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/SpanSender.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Transport.cs
Labels: comp:exporter.instana

#818 [Exporter.Geneva] Avoid allocation for serializing scopes
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
Labels: comp:exporter.geneva

#842 Update param modifier for `SerializeHistogramBucket`
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
Labels: comp:exporter.geneva

#844 Update CHANGELOG.md
  src/OpenTelemetry.Exporter.Instana/CHANGELOG.md
Labels: comp:exporter.instana

#845 [Instrumentation.EventCounters] Enable Code Analysis for EventCounters Instrumentation
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersMetrics.cs
  src/OpenTelemetry.Instrumentation.EventCounters/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.EventCounters/OpenTelemetry.Instrumentation.EventCounters.csproj
Labels: comp:instrumentation.eventcounters

#846 [Extensions.AzureMonitor] Enable Code Analysis for AzureMonitor Extensions
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
  src/OpenTelemetry.Extensions.AzureMonitor/OpenTelemetry.Extensions.AzureMonitor.csproj
Labels: comp:extensions.azuremonitor

#847 [Exporter.Geneva] Remove unnecessary code analysis warning exceptions
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
Labels: comp:exporter.geneva

#849 [Instrumentation.EventCounters] Update EventCounter unit tests
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
Labels: comp:instrumentation.eventcounters

#852 [Exporter.Geneva] Update GenevaExporter benchmarks
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/OpenTelemetry.Exporter.Geneva.Benchmark.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmark/README.md
Labels: comp:exporter.geneva

#858 [Instrumentation.WCF] Release 1.0.0-rc.8
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
Labels: comp:instrumentation.wcf
