Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2022-07, with the labels that each got.

#483 Fix issue -propagation type is not case insensitive
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptor.cs
Labels: comp:instrumentation.grpccore

#485 [Instrumentation.StackExchangeRedis] Update ActivitySource name
  examples/redis/Examples.StackExchangeRedis/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisCallsInstrumentation.cs
Labels: comp:instrumentation.stackexchangeredis

#500 [Exporter.Geneva] Remove TCP and UDP related options
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
Labels: comp:exporter.geneva

#503 [Instrumentation.Hangfire] Update CHANGELOG for 1.0.0-beta.2 release
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
Labels: comp:instrumentation.hangfire

#506 Add component owner for AWS instrumentation
  .github/component_owners.yml
Labels: comp:contrib.instrumentation.aws

#512 [Exporter.Stackdriver] Fix markdown
  src/OpenTelemetry.Exporter.Stackdriver/README.md
Labels: comp:exporter.stackdriver

#508 Bump OpenTelemetry to 1.3.0 in MySqlData instrumentation
  src/OpenTelemetry.Instrumentation.MySqlData/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MySqlData/OpenTelemetry.Instrumentation.MySqlData.csproj
  test/OpenTelemetry.Instrumentation.MySqlData.Tests/OpenTelemetry.Instrumentation.MySqlData.Tests.csproj
Labels: comp:instrumentation.mysqldata

#495 [Instrumentation.Runtime] Change API for GC Heap Size
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
Labels: comp:instrumentation.runtime

#513 [Exporter.Stackdriver] Remove contrib from Stackdriver files
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/Constants.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ExporterStackdriverEventSource.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/GoogleCloudResourceUtils.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/StackdriverStatsConfiguration.cs
  src/OpenTelemetry.Exporter.Stackdriver/Properties/AssemblyInfo.cs
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  src/OpenTelemetry.Exporter.Stackdriver/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Utils/CommonUtils.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/Implementation/StackdriverStatsConfigurationTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestActivityProcessor.cs
Labels: comp:exporter.stackdriver

#509 [Instrumentation.Runtime] Remove `gc.heap.fragmentation.size` metrics due to buggy API on .NET 6
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
Labels: comp:instrumentation.runtime

#492 [Instrumentation.Runtime] Reformat by taking description column out of table
  src/OpenTelemetry.Instrumentation.Runtime/README.md
Labels: comp:instrumentation.runtime

#517 [Geneva.Exporter] remove obsolete comment from tests
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#521 [Instrumentation.StackExchangeRedis] Code cleanup
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
Labels: comp:instrumentation.stackexchangeredis

#522 Updated OTel SDK package version to 1.3.0
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/OpenTelemetry.Instrumentation.Hangfire.Tests.csproj
Labels: comp:instrumentation.hangfire

#524 [Instrumentation.Runtime] Add `gc.heap.fragmentation.size` back for .NET 7 and later
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
Labels: comp:instrumentation.runtime

#523 [Instrumentation.Runtime] Amend `CHANGELOG.md` for 1.0.0-rc.2
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#510 [Instrumentation.Runtime] Add unit tests
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#529 [Exporter.Stackdriver] Update CHANGELOG for 1.0.0-beta.3 release
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
Labels: comp:exporter.stackdriver

#532 [Instrumentation.Runtime] Update release date for 1.0.0-rc.3
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#514 [ExporterGeneva]Remove ConvertToJson option
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#527 [Exporter.Geneva] Add data validation for MetricExportIntervalMilliseconds
  src/OpenTelemetry.Exporter.Geneva/GenevaMetricExporterOptions.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterOptionsTests.cs
Labels: comp:exporter.geneva

#538 [Exporter.Geneva] Simplify exporter options for PrepopulatedFields
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#539 [Exporter.Geneva] Update CHANGELOG
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#530 [Instrumentation.AWSLambda] Add component owners for AWSLambda
  .github/component_owners.yml
Labels: comp:contrib.instrumentation.awslambda

#542 [Exporter.Geneva] Update CHANGELOG for 1.3.0 release
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#545 [Exporter.Geneva] Add support for ILogger scopes back
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#549 [Exporter.Geneva] Add test case for multithreading scenarios
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva
