Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2022-11, with the labels that each got.

#751 [Instrumentation.Process] Update OTel API version to 1.4.0-beta.2 and change runtime metrics type to ObservableUpDownCounter
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/OpenTelemetry.Instrumentation.Process.csproj
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  src/OpenTelemetry.Instrumentation.Process/README.md
  test/OpenTelemetry.Instrumentation.Process.Tests/OpenTelemetry.Instrumentation.Process.Tests.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#756 [Instrumentation.Hangfire] Added support for custom job display names
  src/OpenTelemetry.Instrumentation.Hangfire/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/HangfireInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentationJobFilterAttribute.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/HangfireInstrumentationJobFilterAttributeTests.cs
Labels: comp:instrumentation.hangfire

#680 [OpenTelemetry.Extensions] Upgrade OpenTelemetry to latest1.4.0-beta.2
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/Internal/ActivityEventAttachingLogProcessor.cs
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  test/OpenTelemetry.Extensions.Tests/ActivityEventAttachingLogProcessorTests.cs
Labels: comp:extensions

#764 [OpenTelemetry.Extensions] Update MinVer tag prefix
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
Labels: comp:extensions

#740 [Instrumentation.EventCounters] Support long event source names better in EventCounters instrumentation
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersMetrics.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
Labels: comp:instrumentation.eventcounters

#768 [Instrumentation.EventCounters] Update CHANGELOG for 1.0.0-alpha.2 release
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
Labels: comp:instrumentation.eventcounters

#762 [Instrumentation.Process] Update .NET API for virtual memory usage
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  src/OpenTelemetry.Instrumentation.Process/README.md
Labels: comp:instrumentation.process

#770 Update ci-md.yml - Add back `strategy`
  .github/workflows/ci-md.yml
Labels: infra

#771 [Instrumentation.Process] Release Process instrumentation version 1.0.0-alpha.1
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
Labels: comp:instrumentation.process

#737 Link fixes
  .github/workflows/markdownlint.yml
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.MassTransit/README.md
  src/OpenTelemetry.Instrumentation.MySqlData/README.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
Labels: documentation

#761 restore Activity.Current before all IIS LifeCycle events
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModule.cs
Labels: comp:instrumentation.AspNet

#777 [Instrumentation.Process] Release 1.0.0-alpha.2
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
Labels: comp:instrumentation.process

#759 add NET7 to CI and tests
  .github/workflows/ci-md.yml
  .github/workflows/ci.yml
  .github/workflows/dotnet-core-cov.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/integration-md.yml
  .github/workflows/integration.yml
  build/docker-compose.net7.0.yml
  test/OpenTelemetry.Exporter.Geneva.Benchmark/OpenTelemetry.Exporter.Geneva.Benchmark.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/OpenTelemetry.Extensions.AzureMonitor.Tests.csproj
  test/OpenTelemetry.Extensions.Docker.Tests/OpenTelemetry.Extensions.Docker.Tests.csproj
  test/OpenTelemetry.Extensions.PersistentStorage.Tests/OpenTelemetry.Extensions.PersistentStorage.Tests.csproj
  test/OpenTelemetry.Extensions.Tests/OpenTelemetry.Extensions.Tests.csproj
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/OpenTelemetry.Instrumentation.EventCounters.Tests.csproj
  test/OpenTelemetry.Instrumentation.MassTransit.Tests/OpenTelemetry.Instrumentation.MassTransit.Tests.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/OpenTelemetry.Instrumentation.Process.Tests.csproj
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Dockerfile
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
Labels: infra

#785 [Exporter.Geneva] Update CHANGELOG
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#786 [Instrumentation.Runtime] Release 1.1.0-beta.1
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#789 Update package workflow for instrumentation runtime
  .github/workflows/package-Instrumentation.Runtime.yml
Labels: comp:instrumentation.runtime

#793 Update package workflow for runtime
  .github/workflows/package-Instrumentation.Runtime.yml
Labels: comp:instrumentation.runtime

#797 Handle DateTimeOffset in the same way as DateTime
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MessagePackSerializer.cs
Labels: comp:exporter.geneva

#772 [Instrumentation.Runtime] Update readme after inclusion of process.runtime.dotnet.gc.objects.size
  src/OpenTelemetry.Instrumentation.Runtime/README.md
Labels: comp:instrumentation.runtime, Stale

#800 release Instrumentation.AspNet.TelemetryHttpModule 1.0.0-rc9.7
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.AspNet

#794 [Exporter.Stackdriver] Update dependencies
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
Labels: comp:exporter.stackdriver
