Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2022-08, with the labels that each got.

#554 [Exporter.Geneva] Update CHANGELOG
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#555 [Instrumentation.Runtime] Enable CodeAnalysis for Runtime Instrumentation library
  src/OpenTelemetry.Instrumentation.Runtime/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
Labels: comp:instrumentation.runtime

#557 [Instrumentation.Runtime] Enable CodeAnalysis.PublicApiAnalyzers
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netcoreapp3.1/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netcoreapp3.1/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
Labels: comp:instrumentation.runtime

#553 [Instrumentation.Runtime] Release Runtime instrumentation version 1.0.0
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netcoreapp3.1/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netcoreapp3.1/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#408 AWS Lambda wrapper enhancements: Trace methods enhancements and Activity creation behaviour changes.
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/AWSLambdaInstrumentationOptions.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/Implementation/AWSLambdaSemanticConventions.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/Implementation/AWSLambdaWrapper.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/OpenTelemetry.Contrib.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWSLambda.Tests/SampleHandlers.cs
Labels: comp:contrib.instrumentation.awslambda

#568 [Instrumenation.MySqlData] File scoped namespace
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentation.cs
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataTraceCommand.cs
  src/OpenTelemetry.Instrumentation.MySqlData/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.MySqlData.Tests/MySqlDataTests.cs
Labels: comp:instrumentation.mysqldata

#570 [Instrumenation.WCF] Adjust activity source name
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationActivitySource.cs
Labels: comp:instrumentation.wcf

#578 Throw when there is Invalid path / insufficient permissions to create subdirectory.
  src/OpenTelemetry.Extensions.PersistentStorage/CHANGELOG.md
  src/OpenTelemetry.Extensions.PersistentStorage/PersistentStorageHelper.cs
Labels: comp:extensions.persistentstorage

#571 [Instrumentation.Contrib.Extensions.AWSXRay] Fix CHANGELOG
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/CHANGELOG.md
Labels: comp:contrib.extensions.awsxray

#579 [Exporter.Geneva] Clean-up GenevaTraceExporter Benchmarks
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/README.md
Labels: comp:exporter.geneva

#534 [Instrumentation.AWSLambda] Updated AWSLambda ActivitySource Name
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Contrib.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
Labels: comp:contrib.instrumentation.awslambda

#589 [Exporter.Stackdriver] File scoped namespace
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/Constants.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ExporterStackdriverEventSource.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/GoogleCloudResourceUtils.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/StackdriverStatsConfiguration.cs
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  src/OpenTelemetry.Exporter.Stackdriver/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Utils/CommonUtils.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/Implementation/StackdriverStatsConfigurationTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestActivityProcessor.cs
Labels: comp:exporter.stackdriver

#592 nit: rewording
  src/OpenTelemetry.Instrumentation.Runtime/README.md
Labels: comp:instrumentation.runtime

#591 Add exception remarks for FileBlobProvider
  src/OpenTelemetry.Extensions.PersistentStorage/FileBlobProvider.cs
Labels: comp:extensions.persistentstorage

#587 [Extensions.Docker] File scoped namespace
  src/OpenTelemetry.Extensions.Docker/DockerExtensionsEventSource.cs
  src/OpenTelemetry.Extensions.Docker/Resources/DockerResourceDetector.cs
  src/OpenTelemetry.Extensions.Docker/Resources/DockerSemanticConventions.cs
  src/OpenTelemetry.Extensions.Docker/Utils/EncodingUtils.cs
  test/OpenTelemetry.Extensions.Docker.Tests/Resources/DockerResourceDetectorTests.cs
Labels: comp:extensions.docker

#588 [Extensions.AzureMonitor] File scoped namespace
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/ApplicationInsightsSamplerTests.cs
Labels: comp:extensions.azuremonitor

#598 Changelog for beta.1 release
  src/OpenTelemetry.Extensions.PersistentStorage.Abstractions/CHANGELOG.md
  src/OpenTelemetry.Extensions.PersistentStorage/CHANGELOG.md
Labels: comp:extensions.persistentstorage, comp:extensions.persistentstorage.abstractions

#601 Simplify GenevaTraceExporter benchmarks
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TraceExporterBenchmarks.cs
Labels: comp:exporter.geneva

#603 WCF instrumentation release
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
Labels: comp:instrumentation.wcf

#605 Update GenevaLogExporter Benchmarks
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
Labels: comp:exporter.geneva

#595 [Instrumentation.Process] Added memory related metrics.
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#593 Instrumentation.AWSLambda: Rename to remove .Contrib & minor cleanups.
  .github/ISSUE_TEMPLATE/comp_contrib_instrumentation_awslambda.md
  .github/component_owners.yml
  .github/workflows/package-Instrumentation.AWSLambda.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaResourceDetector.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaSemanticConventions.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/SampleHandlers.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/SampleLambdaContext.cs
Labels: comp:instrumentation.awslambda
