Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2022-10, with the labels that each got.

#626 [Instrumentation.AWSLambda] Issue/aws lambda http server semantic conventions attributes
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaHttpUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/CommonExtensions.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSLambdaHttpUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/CommonExtensionsTests.cs
Labels: comp:instrumentation.awslambda

#616 Exporter.Geneva - Refactor unit test
  .vscode/settings.json
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
Labels: comp:exporter.geneva, Stale

#664 [Instrumentation.Process] Implement threadSafe Refresh()
  src/OpenTelemetry.Instrumentation.Process/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#678 [Instrumentation.Process] Add CPU metrics
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#689 Instrumentation.Runtime - Fix incorrect readme content
  src/OpenTelemetry.Instrumentation.Runtime/README.md
Labels: comp:instrumentation.runtime

#620 [Instrumentation.EventCounters] Stabilize and Enable Testing
  .github/component_owners.yml
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EventCounters/EventCounterListener.cs
  src/OpenTelemetry.Instrumentation.EventCounters/EventCounterMetricsOptions.cs
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersMetrics.cs
  src/OpenTelemetry.Instrumentation.EventCounters/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.EventCounters/README.md
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCounterListenerTests.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/MeterProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/TestEventCounter.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/TestIncrementingEventCounter.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/TestIncrementingPollingCounter.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/TestPollingEventCounter.cs
Labels: comp:instrumentation.eventcounters

#697 [examples-instrumentation-runtime] -- Switch to new Prometheus exporter in runtime example
  examples/runtime-instrumentation/Program.cs
  examples/runtime-instrumentation/runtime-instrumentation.csproj
Labels: comp:instrumentation.runtime

#687 [Instrumentation.Process] Added 2 instruments: CPU Utilization and threads
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#698 [Instrumentation.Process] Release Process instrumentation version 0.1.0-alpha.1
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/README.md
Labels: comp:instrumentation.process

#699 [Instrumentation.Process] Add publish workflow
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
Labels: comp:instrumentation.process

#704 [Exporter.Geneva] Update GenevaMetricExporter to export Histogram Min Max
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#706 [Exporter.Geneva] Update GenevaExporter CHANGELOG for 1.4.0-beta.2 release
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#700 [Instrumentation.MySqlData] Release 1.0.0-beta.4
  src/OpenTelemetry.Instrumentation.MySqlData/CHANGELOG.md
Labels: comp:instrumentation.mysqldata

#705 [Instrumentation.EventCounters] Release 1.0.0-alpha.1
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
Labels: comp:instrumentation.eventcounters

#702 [Instrumentation.Process] Update doc and example for 0.1.0-alpha.1.
  examples/process-instrumentation/Program.cs
  examples/process-instrumentation/process-instrumentation.csproj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.Process/README.md
Labels: comp:instrumentation.process

#703 [Instrumentation.EventCounters] Avoid race condition and performance trap in EventCountersMetrics
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersMetrics.cs
Labels: comp:instrumentation.eventcounters

#672 [Exporter.Geneva] LogExporter to serialize Exception Stack
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/ExceptionStackExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
Labels: comp:exporter.geneva

#685 [Exporter.Geneva] Add support for UpDownCounter and ObservableUpDownCounter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/OpenTelemetry.Exporter.Geneva.Benchmark.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#722 [Exporter.Geneva] - Change default metric exporter interval to 60sec
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterOptions.cs
Labels: comp:exporter.geneva

#723 [Exporter.Geneva] Update CHANGELOG for 1.4.0-beta.3 release
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#719 [Instrumentation.Hangfire] Add option to record exceptions
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/HangfireInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentationJobFilterAttribute.cs
  src/OpenTelemetry.Instrumentation.Hangfire/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/HangfireInstrumentationJobFilterAttributeTests.cs
Labels: comp:instrumentation.hangfire

#675 [Instrumentation.Runtime] Update OTel API version to `1.4.0-beta.2` and change runtime metrics type to ObservableUpDownCounter
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
Labels: comp:instrumentation.runtime

#718 [Instrumentation.Process] Dropping Snapshot
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#727 [Instrumentation.Hangfire] Update broken link in documentation
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
Labels: comp:instrumentation.hangfire

#728 [Instrumentation.Hangfire] Update CHANGELOG for 1.0.0 release
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
Labels: comp:instrumentation.hangfire

#731 Remove netcoreapp3.1 from Runtime instrumentation
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
Labels: comp:instrumentation.runtime

#733 Nit fixes to tests
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#726 Fix using version 3.7.100 of AWS SDK causing exception not finding EndpointResolver
  src/OpenTelemetry.Contrib.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSTracingPipelineCustomizer.cs
Labels: comp:instrumentation.aws

#738 disable eventcounter tests
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
Labels: comp:instrumentation.eventcounters

#736 [Exporter.Geneva] Update scopes
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#741 [Exporter.Geneva] Update CHANGELOG for 1.4.0-beta.4
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva
