Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2022-09, with the labels that each got.

#608 [Instrumentation.AwsLambda] Rename Trace to TraceAsync where appropriate
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
Labels: comp:instrumentation.awslambda

#607 [Instrumentation.AwsLambda] Enable public API check.
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
Labels: comp:instrumentation.awslambda

#566 Fix null tags.
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
Labels: comp:exporter.stackdriver

#623 OpenTelemetry.Extensions.AzureMonitor - Add sampleRate attribute to SamplingResult.
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
Labels: comp:extensions.azuremonitor

#629 [Extensions.AzureMonitor] Add package release workflow for OpenTelemetry.Extensions.AzureMonitor
  .github/workflows/package-Extensions.AzureMonitor.yml
  opentelemetry-dotnet-contrib.sln
Labels: comp:extensions.azuremonitor

#630 [Extensions.AzureMonitor] Update .csproj and README
  src/OpenTelemetry.Extensions.AzureMonitor/OpenTelemetry.Extensions.AzureMonitor.csproj
  src/OpenTelemetry.Extensions.AzureMonitor/README.md
Labels: comp:extensions.azuremonitor

#633 Replaced TargetFrameworks from net461 and net6.0 to netstandard2.0
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
  src/OpenTelemetry.Extensions.AzureMonitor/CHANGELOG.md
  src/OpenTelemetry.Extensions.AzureMonitor/OpenTelemetry.Extensions.AzureMonitor.csproj
Labels: comp:extensions.azuremonitor

#590 [Instrumentation.AWSLambda] Request release of 1.1.0-beta2, reword CHANGELOG
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
Labels: comp:instrumentation.awslambda

#637 [Instrumentation.MassTransit] Bump OTel, .NET frameworks, cleanup
  src/OpenTelemetry.Instrumentation.MassTransit/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MassTransit/OpenTelemetry.Instrumentation.MassTransit.csproj
  test/OpenTelemetry.Instrumentation.MassTransit.Tests/MassTransitInstrumentationTests.cs
  test/OpenTelemetry.Instrumentation.MassTransit.Tests/OpenTelemetry.Instrumentation.MassTransit.Tests.csproj
Labels: comp:instrumentation.masstransit

#639 Instrumentation.AwsLambda: Fix versioning scheme.
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
Labels: comp:instrumentation.awslambda

#643 [Extensions.AzureMonitor] update documenation
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
  src/OpenTelemetry.Extensions.AzureMonitor/README.md
Labels: comp:extensions.azuremonitor

#646 [Exporter.Geneva] Move TableNameMappings checks to GenevaExporterOptions class
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#647 [Exporter.Geneva] Reorganize GenevaExporter src directory
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantActivityExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Schema.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ServiceProviderExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/MetricSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/IMetricDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Logs/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Logs/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Traces/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Traces/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/EtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/IDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/UnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/UnixDomainSocketEndPoint.cs
Labels: comp:exporter.geneva

#652 [Owin] 1.0.0-rc.3 release update
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
Labels: comp:instrumentation.owin

#651 [ASP.NET] Migrate to native Activity Status and Status Desc
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.AspNet/SpanHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
Labels: comp:instrumentation.AspNet

#658 Update CHANGELOG for Exporter.Stackdriver
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
Labels: comp:exporter.stackdriver

#659 [Exporter.Geneva] Optimize GenevaLogExporter
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Logs/GenevaLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
Labels: comp:exporter.geneva

#649 [Exporter.Geneva] Refactor GenevaExporter
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#661 [ASPNET] Update changelog for release
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
Labels: comp:instrumentation.AspNet

#665 [TelemetryHttpModule] Update `OpenTelemetry.Api` reference and changelog
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.csproj
Labels: comp:instrumentation.aspnet.telemetryhttpmodule

#666 [Extensions.PersistentStorage] Stabilize tests
  test/OpenTelemetry.Extensions.PersistentStorage.Tests/FileBlobProviderTests.cs
Labels: comp:extensions.persistentstorage

#670 [Exporter.Geneva] Update BenchmarkDotNet version
  build/Common.nonprod.props
  test/OpenTelemetry.Exporter.Geneva.Benchmark/OpenTelemetry.Exporter.Geneva.Benchmark.csproj
Labels: comp:exporter.geneva
