Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2022-06, with the labels that each got.

#390 [Exporter.Geneva] Add support for ILogger scopes
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
Labels: comp:exporter.geneva

#392 [Exporter.Geneva] Update CHANGELOG for 1.3.0-beta.2
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#384 [Instrumentation.StackExchangeRedis] Add example for StackExchangeRedis instrumentation
  examples/redis/Examples.StackExchangeRedis/Examples.StackExchangeRedis.csproj
  examples/redis/Examples.StackExchangeRedis/Program.cs
  examples/redis/Examples.StackExchangeRedis/README.md
  opentelemetry-dotnet-contrib.sln
Labels: comp:instrumentation.stackexchangeredis

#397 [Exporter.Geneva] Add DI support for GenevaMetricExporter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaMetricExporterExtensions.cs
Labels: comp:exporter.geneva

#398 [Instrumenation.StackExchangeRedis] Update CHANGELOG for RedisInstrumentation for 1.0.0-rc9.5 release
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
Labels: comp:instrumentation.stackexchangeredis

#382 Refactor eventsource [Extensions.PersistentStorage]
  src/OpenTelemetry.Extensions.PersistentStorage/FileBlob.cs
  src/OpenTelemetry.Extensions.PersistentStorage/FileBlobProvider.cs
  src/OpenTelemetry.Extensions.PersistentStorage/PersistentStorageEventSource.cs
  src/OpenTelemetry.Extensions.PersistentStorage/PersistentStorageHelper.cs
Labels: comp:extensions.persistentstorage

#401 [Exporter.Geneva] Add unit test for scopes
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#427 [Exporter.Geneva] Update OTel SDK version
  build/Common.props
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmark/OpenTelemetry.Exporter.Geneva.Benchmark.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
Labels: comp:exporter.geneva

#428 add workflow to clear stale PRs
  .github/workflows/stale.yml
Labels: infra

#425 fix Elasticsearch MaxDbStatementLength option
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/Implementation/ElasticsearchRequestPipelineDiagnosticListener.cs
Labels: comp:instrumentation.elasticsearchclient

#380 Generate X-Ray IDs with global Random instance
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/AWSXRayIdGenerator.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/CHANGELOG.md
Labels: comp:contrib.extensions.awsxray

#435 [Exporter.Geneva] Update exception logging
  src/OpenTelemetry.Exporter.Geneva/ExporterEventSource.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/UnixDomainSocketDataTransport.cs
Labels: comp:exporter.geneva

#434 [Exporter.Geneva] Remove unnecessary preprocessor directives
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
Labels: comp:exporter.geneva

#436 [Instrumentation.AspNet] Add AspNet example
  examples/AspNet/App_Start/RouteConfig.cs
  examples/AspNet/App_Start/WebApiConfig.cs
  examples/AspNet/Controllers/HomeController.cs
  examples/AspNet/Controllers/WeatherForecastController.cs
  examples/AspNet/Examples.AspNet.csproj
  examples/AspNet/Global.asax
  examples/AspNet/Global.asax.cs
  examples/AspNet/Models/WeatherForecast.cs
  examples/AspNet/Properties/AssemblyInfo.cs
  examples/AspNet/SuppressInstrumentationHttpModule.cs
  examples/AspNet/Views/Home/About.cshtml
  examples/AspNet/Views/Home/Index.cshtml
  examples/AspNet/Views/Shared/_Layout.cshtml
  examples/AspNet/Views/Web.config
  examples/AspNet/Views/_ViewStart.cshtml
  examples/AspNet/Web.Debug.config
  examples/AspNet/Web.Release.config
  examples/AspNet/Web.config
  opentelemetry-dotnet-contrib.sln
Labels: comp:instrumentation.AspNet

#440 Target net462 on windows only [PersistentStorage.Extensions]
  src/OpenTelemetry.Extensions.PersistentStorage.Abstractions/OpenTelemetry.Extensions.PersistentStorage.Abstractions.csproj
  src/OpenTelemetry.Extensions.PersistentStorage/OpenTelemetry.Extensions.PersistentStorage.csproj
Labels: comp:extensions.persistentstorage, comp:extensions.persistentstorage.abstractions

#441 [Exporter.Geneva] Update target framework from net461 to net462
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#442 [Extensions.PersistentStorage.Abstractions] Update PersistentStorage Abstractions workflow
  .github/workflows/package-Extensions.PersistentStorage.Abstractions.yml
Labels: comp:extensions.persistentstorage.abstractions

#443 [Instrumentation.AspNet] Update AspNetTelemetryHttpModule depdendency as a project reference
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
Labels: comp:instrumentation.AspNet

#430 Update a few metrics to be in sync of doc updates for `gc.heap`, `gc.fragmentation.ratio`, `time.in.jit`, `process.cpu.count` and `assembly.count`
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#432 #172 Resource detectors for Docker
  src/OpenTelemetry.Extensions.Docker/OpenTelemetry.Extensions.Docker.csproj
  src/OpenTelemetry.Extensions.Docker/README.md
  test/OpenTelemetry.Extensions.Docker.Tests/OpenTelemetry.Extensions.Docker.Tests.csproj
Labels: comp:extensions.docker

#446 Remove Process related metrics from .NET Runtime metrics
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetricsOptions.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsOptionsTests.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#431 Add `exception.count` in Runtime metrics
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetricsOptions.cs
Labels: comp:instrumentation.runtime

#416 Redis: Adding the ability to disable adding Events to Activities
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisCallsInstrumentationOptions.cs
Labels: comp:instrumentation.stackexchangeredis

#458 Release Runtime instrumentation version 1.0.0-beta.1
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#464 fix workflow persistenstorage.extensions
  .github/workflows/package-Extensions.PersistentStorage.Abstractions.yml
  .github/workflows/package-Extensions.PersistentStorage.yml
  src/OpenTelemetry.Extensions.PersistentStorage/OpenTelemetry.Extensions.PersistentStorage.csproj
Labels: comp:extensions.persistentstorage, comp:extensions.persistentstorage.abstractions

#424 [Instrumentation.MySql] fix sql text incomplete
  src/OpenTelemetry.Instrumentation.MySqlData/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentation.cs
Labels: comp:instrumentation.mysqldata

#470 [Instrumentation.MySql] update CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MySqlData/CHANGELOG.md
Labels: comp:instrumentation.mysqldata

#418 Add db.system attribute to the AWS SDK instrumentation.
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSSemanticConventions.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSServiceHelper.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/OpenTelemetry.Contrib.Instrumentation.AWS.csproj
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
Labels: comp:contrib.instrumentation.aws
