Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-06, with the labels that each got.

#1210 [Exporter.Geneva] Update OTel SDK prerelease version
  build/Common.props
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#1217 [Exporter.Geneva] Update CHANGELOG for 1.5.0-rc.1
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1214 [Instrumentation.Runtime] Update CHANGELOG for 1.4.0 release
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#1220 Bump OpenTelemetry to 1.5.0
  build/Common.props
  examples/AspNet/Examples.AspNet.csproj
  examples/process-instrumentation/process-instrumentation.csproj
  examples/runtime-instrumentation/runtime-instrumentation.csproj
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/CHANGELOG.md
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
  src/OpenTelemetry.Exporter.Instana/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Cassandra/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MySqlData/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Quartz/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Container/CHANGELOG.md
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetry.Extensions.Enrichment.Tests.csproj
Labels: dependencies

#1222 [Instrumentation.Runtime] Update CHANGELOG for 1.5.0
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#1218 [Exporter.Geneva] Add named options support for GenevaTraceExporter and GenevaMetricExporter
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ServiceProviderExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterExtensions.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#1233 [Exporter.Geneva] Mark internal classes sealed
  src/OpenTelemetry.Exporter.Geneva/External/TraceLoggingDynamic.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantActivityExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/UnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/UnixDomainSocketEndPoint.cs
Labels: comp:exporter.geneva

#1231 Release packages with tag containing -rc9. as prerelease
  .github/workflows/package-Instrumentation.AspNet.TelemetryHttpModule.yml
  .github/workflows/package-Instrumentation.AspNet.yml
  .github/workflows/package-Instrumentation.StackExchangeRedis.yml
Labels: infra

#1238 [Exporter.Geneva] Update OTel SDK version to 1.5.0 and remove Exemplars support
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1237 [Exporter.Geneva] Update CHANGELOG for 1.5.0
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1203 [Instrumentation.EntityFrameworkCore] Add Filter public API to enable filtering
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/EntityFrameworkInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
Labels: comp:instrumentation.entityframeworkcore

#1240 [Instrumentation.AWSLambda] Tests - Supported versions of .NET
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSLambdaHttpUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSMessagingUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
Labels: comp:instrumentation.awslambda

#1249 [Instrumentation.Hangfire] Update CHANGELOG for 1.5.0-beta.1 release
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
Labels: comp:instrumentation.hangfire

#1257 [Exporter.OneCollector] Update CHANGELOG for 1.5.1-rc.1
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
Labels: comp:exporter.onecollector
