Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-10, with the labels that each got.

#1376 [wcf] Streamline the exposed public interface (breaking change)
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryClientMessageInspector.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryDispatchMessageInspector.cs
  src/OpenTelemetry.Instrumentation.Wcf/TelemetryContractBehaviorAttribute.cs
  src/OpenTelemetry.Instrumentation.Wcf/TelemetryServiceBehavior.cs
Labels: comp:instrumentation.wcf

#1389 [onecollector] Update CHANGELOG for 1.6.0-rc.1 release
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
Labels: comp:exporter.onecollector

#1386 [repo] Add dedicated CI for AspNet projects
  .github/codecov.yml
  .github/workflows/Component.Package.yml
  .github/workflows/ci.yml
  .github/workflows/package-Instrumentation.AspNet.TelemetryHttpModule.yml
  .github/workflows/package-Instrumentation.AspNet.yml
  build/Projects/OpenTelemetry.Instrumentation.AspNet.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.csproj
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#1390 [repo] Use project files for tests in dedicated CI flows
  .github/workflows/Component.BuildTest.yml
  .github/workflows/Component.Package.yml
  build/Projects/OpenTelemetry.Exporter.Geneva.proj
  build/Projects/OpenTelemetry.Exporter.OneCollector.proj
  build/Projects/OpenTelemetry.Instrumentation.AspNet.proj
  build/Projects/OpenTelemetry.Instrumentation.Owin.proj
  build/Projects/OpenTelemetry.Instrumentation.Process.proj
  build/Projects/OpenTelemetry.Instrumentation.StackExchangeRedis.proj
  build/Projects/OpenTelemetry.Instrumentation.Wcf.proj
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1388 [Instrumentation.AspNet] Fix activity being closed before processing completes
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/ActivityHelperTest.cs
Labels: comp:instrumentation.aspnet

#1392 [Instrumentation.AspNet] Update CHANGELOG for 1.6.0-beta.1 release
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#1395 [repo] Fix a bug in the package workflow causing github release tagging issues
  .github/workflows/Component.Package.yml
Labels: infra

#1394 Export metrics to InfluxDB at a configurable interval
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBExporterExtensions.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBMetricsExporterOptions.cs
Labels: comp:exporter.influxdb

#1396 [Exporter.Geneva][TLD] Fix serialization bug when there are no Part C fields
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
Labels: comp:exporter.geneva

#1397 [repo] Add dedicated CI for persistent storage projects
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/package-PersistentStorage.Abstractions.yml
  .github/workflows/package-PersistentStorage.FileSystem.yml
  .github/workflows/package-PersistentStorage.yml
  build/Projects/OpenTelemetry.PersistentStorage.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.PersistentStorage.Abstractions/OpenTelemetry.PersistentStorage.Abstractions.csproj
  src/OpenTelemetry.PersistentStorage.FileSystem/OpenTelemetry.PersistentStorage.FileSystem.csproj
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#1402 [Exporter.Geneva] Update mapping for http tags
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
Labels: comp:exporter.geneva

#1403 [repo] Add dedicated CI for OpenTelemetry.Extensions
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/package-Extensions.yml
  build/Projects/OpenTelemetry.Extensions.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  test/OpenTelemetry.Extensions.Tests/OpenTelemetry.Extensions.Tests.csproj
Labels: comp:extensions

#1406 [repo] Add dedicated CI for the OpenTelemetry.ResourceDetectors.Azure project
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/package-ResourceDetectors.Azure.yml
  build/Projects/OpenTelemetry.ResourceDetectors.Azure.proj
  opentelemetry-dotnet-contrib.sln
Labels: comp:resourcedetectors.azure

#1405 [ResourceDetector.Azure] add support for AOT/Trimming
  src/OpenTelemetry.ResourceDetectors.Azure/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Azure/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetaDataRequestor.cs
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/OpenTelemetry.ResourceDetectors.Azure.csproj
  src/OpenTelemetry.ResourceDetectors.Azure/SourceGenerationContext.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: comp:resourcedetectors.azure

#1408 Release OpenTelemetry.Instrumentation.ElasticsearchClient v1.0.0-beta.5
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
Labels: comp:instrumentation.elasticsearchclient

#1412 [OneCollector] 1.6.0 release
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
Labels: comp:exporter.onecollector

#1411 Update Elastic.Clients.Elasticsearch ActivitySource name
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
Labels: comp:instrumentation.elasticsearchclient

#1413 [Instrumentation.Wcf] Release 1.0.0-rc.13
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
Labels: comp:instrumentation.wcf

#1415 Fix AOT warnings in StackExchangeRedis
  .github/workflows/ci.yml
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisConnectionInstrumentation.cs
  src/Shared/PropertyFetcher.AOT.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: comp:instrumentation.stackexchangeredis

#1419 [Instrumentation.StackExchangeRedis] Update CHANGELOG for 1.0.0-rc9.11
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
Labels: comp:instrumentation.stackexchangeredis
