Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-11, with the labels that each got.

#1420 Fix up Redis trimming annotations
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
Labels: comp:instrumentation.stackexchangeredis

#1421 [Instrumentation.StackExchangeRedis] Update CHANGELOG for 1.0.0-rc9.12
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
Labels: comp:instrumentation.stackexchangeredis

#1366 Nullable Instrumentation.EntityFrameworkCore
  build/Common.props
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/Implementation/ElasticsearchRequestPipelineDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/EntityFrameworkInstrumentation.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/EntityFrameworkInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Quartz/Implementation/QuartzDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  src/Shared/DiagnosticSourceListener.cs
  src/Shared/DiagnosticSourceSubscriber.cs
  src/Shared/ListenerHandler.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
Labels: comp:instrumentation.entityframeworkcore, Stale

#1354 Nullable for WCF instrumentation
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/ActionMetadata.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/AspNetParentSpanCorrector.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/ClientChannelInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/HttpRequestMessagePropertyWrapper.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedChannelFactory.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedDuplexChannel.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedRequestChannel.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/RequestTelemetryState.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/RequestTelemetryStateTracker.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryClientMessageInspector.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryContextMessageProperty.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryDispatchMessageInspector.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryMessageHeader.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryPropagationReader.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryPropagationWriter.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationActivitySource.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
  src/OpenTelemetry.Instrumentation.Wcf/TelemetryEndpointBehavior.cs
  src/OpenTelemetry.Instrumentation.Wcf/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Wcf/WcfInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/AspNetParentSpanCorrectorTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForHttpTests.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForTcpTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryDispatchMessageInspectorForOneWayOperationsTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryDispatchMessageInspectorTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryPropagationTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationBindingElement.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationChannel.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationChannelFactory.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/Service.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/ServiceRequest.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/ServiceResponse.cs
Labels: comp:instrumentation.wcf

#1425 [Instrumentation.AspNet] Fix metric http.server.duration always being zero
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
Labels: comp:instrumentation.aspnet

#1424 [Exporter.Geneva][TLD] Fix serialization issue
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/JsonSerializer.cs
Labels: comp:exporter.geneva

#1407 [Instrumentation.AspNet] Add metric enrich functionality
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/AspNetMetrics.cs
  src/OpenTelemetry.Instrumentation.AspNet/AspNetMetricsInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RouteTestHelper.cs
Labels: comp:instrumentation.aspnet

#1441 Fix ActivityTraceFlags assertion
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
Labels: comp:instrumentation.entityframeworkcore
