Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-07, with the labels that each got.

#1259 Nuget badges in readme.md
  CONTRIBUTING.md
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/README.md
  src/OpenTelemetry.Contrib.Instrumentation.AWS/README.md
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.InfluxDB/README.md
  src/OpenTelemetry.Exporter.Instana/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
  src/OpenTelemetry.Exporter.Stackdriver/README.md
  src/OpenTelemetry.Extensions.AzureMonitor/README.md
  src/OpenTelemetry.Extensions.Enrichment/README.md
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/README.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.EventCounters/README.md
  src/OpenTelemetry.Instrumentation.GrpcCore/README.md
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
  src/OpenTelemetry.Instrumentation.MassTransit/README.md
  src/OpenTelemetry.Instrumentation.MySqlData/README.md
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/OpenTelemetry.Instrumentation.Process/README.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
  src/OpenTelemetry.Instrumentation.Wcf/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
  src/OpenTelemetry.ResourceDetectors.AWS/README.md
  src/OpenTelemetry.ResourceDetectors.Azure/README.md
  src/OpenTelemetry.ResourceDetectors.Container/README.md
  src/OpenTelemetry.Sampler.AWS/README.md
Labels: documentation

#1262 [Instrumentation.EventCounters] Release EventCounters instrumentation version 1.5.1-alpha.1
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
Labels: comp:instrumentation.eventcounters

#1261 [OpenTelemetry.Instrumentation.AWSLambda]: consider two sources when setting http.method and http.target: original request and request context.
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaHttpUtils.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSLambdaHttpUtilsTests.cs
Labels: comp:instrumentation.awslambda

#1264 [Exporter.Geneva] Add Exemplar support back
  build/Common.props
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1265 [Exporter.Geneva] Update CHANGELOG for 1.6.0-alpha.1
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1244 Remove Extensions.AzureMonitor
  .github/ISSUE_TEMPLATE/comp_extensions_azuremonitor.md
  .github/component_owners.yml
  .github/workflows/package-Extensions.AzureMonitor.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSamplerOptions.cs
  src/OpenTelemetry.Extensions.AzureMonitor/CHANGELOG.md
  src/OpenTelemetry.Extensions.AzureMonitor/OpenTelemetry.Extensions.AzureMonitor.csproj
  src/OpenTelemetry.Extensions.AzureMonitor/README.md
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/ApplicationInsightsSamplerTests.cs
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/OpenTelemetry.Extensions.AzureMonitor.Tests.csproj
Labels: comp:extensions.azuremonitor

#1267 Add Produced Metrics by Cassandra
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
Labels: comp:instrumentation.cassandra

#1272 [OpenTelemetry.ResourceDetectors.Azure] Update Azure detector resource semantics.
  src/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/ResourceAttributeConstants.cs
  src/Shared/ResourceSemanticConventions.cs
  test/OpenTelemetry.ResourceDetectors.Azure.Tests/AzureResourceDetectorTests.cs
Labels: comp:resourcedetectors.azure

#1273 Instrumentation.AWSLambda: Upgrade & explicitly depend on Newtonsoft.Json
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSMessagingUtilsTests.cs
Labels: comp:instrumentation.awslambda

#1277 [ResourceDetectors.Azure] update changelog and readme
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/README.md
Labels: comp:resourcedetectors.azure

#1278 [ResourceDetectors.Azure] Add unreleased section
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
Labels: comp:resourcedetectors.azure

#1280 [ResourceDetectors.Azure] update readme to use `ConfigureResource`
  src/OpenTelemetry.ResourceDetectors.Azure/README.md
Labels: comp:resourcedetectors.azure

#1279 Downgrade `system.text.json` OpenTelemetry.ResourceDetectors.Azure
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/OpenTelemetry.ResourceDetectors.Azure.csproj
Labels: comp:resourcedetectors.azure

#1281 [OpenTelemetry.ResourceDetectors.Azure] Update Readme for Azure App Service and VM Resource Detector
  src/OpenTelemetry.ResourceDetectors.Azure/README.md
Labels: comp:resourcedetectors.azure

#1232 Rename package: [OpenTelemetry.Contrib.Extensions.AWSXRay] to [OpenTelemetry.Extensions.AWS]
  .github/ISSUE_TEMPLATE/comp_extensions_aws.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_aws.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_awslambda.md
  .github/component_owners.yml
  .github/workflows/package-Extensions.AWS.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AWS/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AWS/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AWS/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AWS/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AWS/AWSXRayEventSource.cs
  src/OpenTelemetry.Extensions.AWS/AWSXRayIdGenerator.cs
  src/OpenTelemetry.Extensions.AWS/AssemblyInfo.cs
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Extensions.AWS/README.md
  src/OpenTelemetry.Extensions.AWS/Trace/AWSXRayPropagator.cs
  src/OpenTelemetry.Extensions.AWS/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Extensions.AWS.Tests/AWSXRayIdGeneratorTests.cs
  test/OpenTelemetry.Extensions.AWS.Tests/AssemblyInfo.cs
  test/OpenTelemetry.Extensions.AWS.Tests/OpenTelemetry.Extensions.AWS.Tests.csproj
  test/OpenTelemetry.Extensions.AWS.Tests/Trace/AWSXRayPropagatorTests.cs
Labels: comp:extensions.aws

#1284 [OpenTelemetry.ResourceDetectors.Azure] Fix Readme bug - Swap cloud.platform and cloud.provider value for Azure VM Resource detector
  src/OpenTelemetry.ResourceDetectors.Azure/README.md
Labels: comp:resourcedetectors.azure

#1283 [Instrumentation.AWS] tests against net6.0
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/OpenTelemetry.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/CustomWebResponse.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/MockHttpRequest.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/Utils.cs
Labels: comp:instrumentation.aws

#1096 [Extensions.AWS] Add net6.0 target framework, optimize AWSXRayIdGenerator
  src/OpenTelemetry.Extensions.AWS/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AWS/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AWS/AWSXRayIdGenerator.cs
  src/OpenTelemetry.Extensions.AWS/AWSXRayIdGenerator.net6.cs
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Extensions.AWS/Trace/AWSXRayPropagator.cs
  src/OpenTelemetry.Extensions.AWS/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Extensions.AWS.Tests/AWSXRayIdGeneratorTests.cs
Labels: comp:extensions.aws
