Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-03, with the labels that each got.

#935 Handle exception while opening connection from constructor
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/UnixDomainSocketDataTransport.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#1050 [Exporter.Instana] Bump OTel to 1.4.0
  src/OpenTelemetry.Exporter.Instana/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Instana/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Instana/CHANGELOG.md
  src/OpenTelemetry.Exporter.Instana/OpenTelemetry.Exporter.Instana.csproj
  src/OpenTelemetry.Exporter.Instana/README.md
  src/OpenTelemetry.Exporter.Instana/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
Labels: comp:exporter.instana

#898 Add missing db providers to db.system
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
Labels: comp:instrumentation.entityframeworkcore

#930 [Instrumentation.MySQL] Remove AddMySqlDataInstrumentation with default parameter
  src/OpenTelemetry.Instrumentation.MySqlData/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.MySqlData/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MySqlData/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.mysqldata

#926 Enable Nulls on Contrib.Instrumentation.AWS & Test Projects
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/net452/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/net452/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/Utils.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/OpenTelemetry.Contrib.Instrumentation.AWS.csproj
  src/OpenTelemetry.Contrib.Instrumentation.AWS/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/OpenTelemetry.Contrib.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/CustomResponses.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/CustomWebResponse.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/HttpResponseMessageBody.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockHttpRequest.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockHttpRequestFactory.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockWebResponse.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/Utils.cs
Labels: comp:instrumentation.aws

#1019 Add options support to ElasticsearchClient instrumentation
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
Labels: comp:instrumentation.elasticsearchclient

#1065 [OneCollector] CHANGELOG update for 0.1.0-alpha.2 release
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
Labels: comp:exporter.onecollector

#1064 Release OpenTelemetry.Instrumentation.ElasticsearchClient 1.0.0-beta.4
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
Labels: comp:instrumentation.elasticsearchclient

#952 [Extensions.AWS] Fix analysis warnings
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/Utils.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/HttpResponseMessageBody.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockHttpRequest.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockWebResponse.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/Utils.cs
Labels: comp:instrumentation.aws

#1020 Add options support to EntityFrameworkCore instrumentation
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
Labels: comp:instrumentation.entityframeworkcore

#951 [Extensions.AWSXRay] Fix analysis warnings
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/AWSXRayIdGenerator.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEBSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEC2ResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSECSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEKSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSLambdaResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Http/ServerCertificateValidationProvider.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/ResourceDetectorUtils.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Trace/AWSXRayPropagator.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEBSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEC2ResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSECSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEKSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Trace/TestAWSXRayPropagator.cs
Labels: comp:extensions.awsxray

#875 Add ECS and Logs attributes based on Metadata v4 endpoint
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Properties/launchSettings.json
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/net452/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/CHANGELOG.md
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/OpenTelemetry.Contrib.Extensions.AWSXRay.csproj
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEBSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEC2ResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSECSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEKSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSLambdaResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSSemanticConventions.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/IResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/ResourceBuilderExtensions.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/ResourceDetectorUtils.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests.csproj
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEBSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEC2ResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSECSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEKSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSLambdaResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestResourceBuilderExtensions.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/ecs_metadata/metadatav4-response-container-ec2.json
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/ecs_metadata/metadatav4-response-container-fargate.json
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/ecs_metadata/metadatav4-response-task-ec2.json
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/ecs_metadata/metadatav4-response-task-fargate.json
Labels: comp:extensions.awsxray

#943 [Instrumentation.AWSLambda] Remove AddAWSLambdaConfigurations with default parameter
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.awslambda

#1073 [OneCollector] Support common schema extensions in json
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/ExtensionFieldInformationManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/OneCollectorExporterEventSource.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationHelper.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationState.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/ThreadStorageHelper.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationStateTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/ExtensionFieldInformationManagerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/WriteDirectlyToTransportSinkTests.cs
Labels: comp:exporter.onecollector

#1069 [Exporter.Geneva] Update GenevaMetricExporter to export Exemplars
  build/Common.props
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/MetricSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1070 Release OpenTelemetry.Instrumentation.EntityFrameworkCore 1.0.0-beta.6
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
Labels: comp:instrumentation.entityframeworkcore

#1075 Update GenevaExporter CHANGELOG for 1.5.0-alpha.1 release
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1081 [PersistentStorage] Fix issue templates
  .github/ISSUE_TEMPLATE/comp_persistentstorage.abstractions.md
  .github/ISSUE_TEMPLATE/comp_persistentstorage_filesystem.md
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#1083 [PersistentStorage] Update readme and changelog after rename
  src/OpenTelemetry.PersistentStorage.Abstractions/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#1088 [OneCollector] Add benchmark project
  .github/component_owners.yml
  opentelemetry-dotnet-contrib.sln
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/LogRecordCommonSchemaJsonHttpPostBenchmarks.cs
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/OpenTelemetry.Exporter.OneCollector.Benchmarks.csproj
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/Program.cs
Labels: comp:exporter.onecollector

#1085 [PersistentStorage.FileSystem] Nullable
  src/OpenTelemetry.PersistentStorage.Abstractions/OpenTelemetry.PersistentStorage.Abstractions.csproj
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlob.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlobProvider.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/OpenTelemetry.PersistentStorage.FileSystem.csproj
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/FileBlobProviderTests.cs
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/FileBlobTests.cs
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/OpenTelemetry.PersistentStorage.FileSystem.Tests.csproj
Labels: comp:persistentstorage.filesystem

#1094 [Instrumentation.MySqlData] Nullable
  src/OpenTelemetry.Contrib.Shared/Api/StatusHelper.cs
  src/OpenTelemetry.Instrumentation.MySqlData/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.MySqlData/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentation.cs
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataTraceCommand.cs
  src/OpenTelemetry.Instrumentation.MySqlData/OpenTelemetry.Instrumentation.MySqlData.csproj
  src/OpenTelemetry.Instrumentation.MySqlData/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Contrib.Tests.Shared/ActivityHelperExtensions.cs
  test/OpenTelemetry.Contrib.Tests.Shared/TestActivityExportProcessor.cs
  test/OpenTelemetry.Contrib.Tests.Shared/TestActivityProcessor.cs
  test/OpenTelemetry.Contrib.Tests.Shared/TestSampler.cs
  test/OpenTelemetry.Instrumentation.MySqlData.Tests/MySqlDataTests.cs
  test/OpenTelemetry.Instrumentation.MySqlData.Tests/OpenTelemetry.Instrumentation.MySqlData.Tests.csproj
Labels: comp:instrumentation.mysqldata

#1076 [Exporter.Geneva] Update GenevaMetricExporter tests
  test/OpenTelemetry.Exporter.Geneva.Tests/External/MetricsContract.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/External/VlqBase128Le.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/MetricsContract.cs
Labels: comp:exporter.geneva

#1080 Removing automatic service name from Lambda instrumentation
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.awslambda

#970 [Instrumentation.Cassandra] Add Cassandra metrics support
  .github/ISSUE_TEMPLATE/comp_instrumentation_cassandra.md
  .github/component_owners.yml
  .github/workflows/package-Instrumentation.Cassandra.yml
  build/Common.props
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.Cassandra/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Cassandra/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Cassandra/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Cassandra/CassandraBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Cassandra/CassandraDriverMetricsProvider.cs
  src/OpenTelemetry.Instrumentation.Cassandra/CassandraMeter.cs
  src/OpenTelemetry.Instrumentation.Cassandra/DriverCounter.cs
  src/OpenTelemetry.Instrumentation.Cassandra/DriverGauge.cs
  src/OpenTelemetry.Instrumentation.Cassandra/DriverMeter.cs
  src/OpenTelemetry.Instrumentation.Cassandra/DriverTimer.cs
  src/OpenTelemetry.Instrumentation.Cassandra/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Cassandra/OpenTelemetry.Instrumentation.Cassandra.csproj
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
  test/OpenTelemetry.Contrib.Tests.Shared/SkipUnlessEnvVarFoundFactAttribute.cs
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/BooksEntity.cs
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/CassandraInstrumentationTests.cs
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/Dockerfile
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/docker-compose.yml
Labels: comp:instrumentation.cassandra

#1099 [Exporter.Geneva] Fix serialization issue when there are no exemplars
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1056 [Extensions.Docker] Remove netcoreapp3.1 from test
  test/OpenTelemetry.Extensions.Docker.Tests/OpenTelemetry.Extensions.Docker.Tests.csproj
Labels: comp:resourcedetector.container

#1101 [Extensions.Docker] Nullable
  src/OpenTelemetry.Extensions.Docker/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.Docker/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.Docker/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.Docker/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.Docker/OpenTelemetry.Extensions.Docker.csproj
  src/OpenTelemetry.Extensions.Docker/Resources/DockerResourceDetector.cs
  test/OpenTelemetry.Extensions.Docker.Tests/OpenTelemetry.Extensions.Docker.Tests.csproj
Labels: comp:resourcedetector.container

#1092 [Extensions.AWSXray] Replace Newtonsoft.Json with System.Text.Json
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/CHANGELOG.md
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/OpenTelemetry.Contrib.Extensions.AWSXRay.csproj
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSECSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Models/AWSEBSMetadataModel.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Models/AWSEKSClusterDataModel.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/ResourceDetectorUtils.cs
Labels: comp:extensions.awsxray

#1059 [Extensions] Add LogToActivityEventConversionOptions.Filter callback
  src/OpenTelemetry.Extensions/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/Internal/ActivityEventAttachingLogProcessor.cs
  src/OpenTelemetry.Extensions/Internal/OpenTelemetryExtensionsEventSource.cs
  src/OpenTelemetry.Extensions/Logs/LogToActivityEventConversionOptions.cs
  test/OpenTelemetry.Extensions.Tests/ActivityEventAttachingLogProcessorTests.cs
Labels: comp:extensions

#1110 [PersistentStorage.FileSystem] Remove custom folder structure for file
  src/OpenTelemetry.PersistentStorage.FileSystem/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlobProvider.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/PersistentStorageHelper.cs
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/FileBlobProviderTests.cs
Labels: comp:persistentstorage.filesystem

#1113 [Extenstions.AzureMonitor] Codeowners for tests
  .github/component_owners.yml
Labels: comp:extensions.azuremonitor

#1095 [Instrumentation.AWS] Replace net452 target with net462
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Contrib.Instrumentation.AWS/OpenTelemetry.Contrib.Instrumentation.AWS.csproj
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/OpenTelemetry.Contrib.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/CustomResponses.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockHttpRequest.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockHttpRequestFactory.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/MockWebResponse.cs
Labels: comp:instrumentation.aws

#1112 [Extenstions.AzureMonitor] Nullable
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/OpenTelemetry.Extensions.AzureMonitor.csproj
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/OpenTelemetry.Extensions.AzureMonitor.Tests.csproj
Labels: comp:extensions.azuremonitor

#1091 [Sampler.AWS] AWS X-Ray remote sampler part 1
  .github/ISSUE_TEMPLATE/comp_sampler_aws.md
  .github/component_owners.yml
  .github/workflows/package-Sampler.AWS.yml
  build/Common.nonprod.props
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Sampler.AWS/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Sampler.AWS/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Sampler.AWS/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Sampler.AWS/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Sampler.AWS/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Sampler.AWS/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Sampler.AWS/AWSSamplerEventSource.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSampler.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSamplerBuilder.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRaySamplerClient.cs
  src/OpenTelemetry.Sampler.AWS/AssemblyInfo.cs
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/GetSamplingRulesResponse.cs
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
  src/OpenTelemetry.Sampler.AWS/README.md
  src/OpenTelemetry.Sampler.AWS/SamplingRule.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRuleRecord.cs
  test/OpenTelemetry.Sampler.AWS.Tests/Data/GetSamplingRulesResponse.json
  test/OpenTelemetry.Sampler.AWS.Tests/OpenTelemetry.Sampler.AWS.Tests.csproj
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRayRemoteSampler.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRaySamplerClient.cs
Labels: comp:sampler.aws

#1114 [Extensions.AWSXRay] Update Moq
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests.csproj
Labels: comp:extensions.awsxray

#1111 [Exporter.Geneva] Add support for exporting metrics to different combinations of account and namespace
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterOptions.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1115 [Exporter.Geneva][TldTraceExporter] Fix serialization bug
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
Labels: comp:exporter.geneva

#1116 Bump test dependencies
  build/Common.nonprod.props
  build/Common.props
  build/process-codecoverage.ps1
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/OpenTelemetry.Contrib.Instrumentation.AWS.Tests.csproj
Labels: infra, dependencies

#1121 [Exporter.Geneva] Update CHANGELOG for 1.5.0-alpha.2 version
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1120 [GenevaExporter] [1.4.0 hotfix] Backport remove extra table name mapping validation
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/TableNameSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#1119 [Instrumentation.Cassandra] Release 1.0.0-beta.1
  src/OpenTelemetry.Instrumentation.Cassandra/CHANGELOG.md
Labels: comp:instrumentation.cassandra

#1123 [ResourceDetectors.Container] Rename Container package
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_container.md
  .github/component_owners.yml
  .github/workflows/package-ResourceDetectors.Container.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Extensions.Docker/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.Docker/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/AssemblyInfo.cs
  src/OpenTelemetry.ResourceDetectors.Container/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Container/ContainerExtensionsEventSource.cs
  src/OpenTelemetry.ResourceDetectors.Container/ContainerResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Container/ContainerSemanticConventions.cs
  src/OpenTelemetry.ResourceDetectors.Container/OpenTelemetry.ResourceDetectors.Container.csproj
  src/OpenTelemetry.ResourceDetectors.Container/README.md
  src/OpenTelemetry.ResourceDetectors.Container/Utils/EncodingUtils.cs
  test/OpenTelemetry.ResourceDetectors.Container.Tests/ContainerResourceDetectorTests.cs
  test/OpenTelemetry.ResourceDetectors.Container.Tests/OpenTelemetry.ResourceDetectors.Container.Tests.csproj
  test/OpenTelemetry.ResourceDetectors.Container.Tests/TempFile.cs
Labels: comp:resourcedetectors.container
