Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-08, with the labels that each got.

#1287 Drop netcoreapp3.1 from CI & update testing framework in Instrumentation.GrpcCore to net6.0
  .github/workflows/ci-Instrumentation.Process.yml
  .github/workflows/ci-md.yml
  .github/workflows/ci.yml
  .github/workflows/integration-md.yml
  .github/workflows/integration.yml
  build/docker-compose.netcoreapp3.1.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptorOptions.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/FoobarService.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreServerInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/InterceptorActivityListener.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/proto/foobar.proto
Labels: infra, comp:instrumentation.grpccore

#1290 Bump common dependencies
  build/Common.nonprod.props
  build/Common.props
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SnsRequestContextHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SqsRequestContextHelper.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  src/OpenTelemetry.ResourceDetectors.Azure/ResourceAttributeConstants.cs
  src/OpenTelemetry.Sampler.AWS/RateLimiter.cs
  src/OpenTelemetry.Sampler.AWS/RateLimitingSampler.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/InfluxDBMetricsExporterTests.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/TestsHelper.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/MockHttpRequest.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/MockHttpRequestFactory.cs
  test/OpenTelemetry.Instrumentation.MySqlData.Tests/MySqlDataTests.cs
  test/OpenTelemetry.ResourceDetectors.Azure.Tests/OpenTelemetry.ResourceDetectors.Azure.Tests.csproj
Labels: infra

#1288 [Instrumentation.AWS] Update dependency to OpenTelemetry.Extensions.AWS
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
Labels: comp:instrumentation.aws

#1289 [Instrumentation.AWSLambda] Update dependency to OpenTelemetry.Extensions.AWS
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaResourceDetector.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.awslambda

#1286 [Exporter.Stackdriver] Documentation - remove reference to metric exporter
  src/OpenTelemetry.Exporter.Stackdriver/README.md
Labels: comp:exporter.stackdriver

#1299 [OneCollectorExporter] Release 1.5.1 stable
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net7.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net7.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.1/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.1/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
Labels: comp:exporter.onecollector

#1297 Suppress http calls for outgoing metadata request
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
Labels: comp:resourcedetectors.azure

#1295 [Instrumentation.AWSLambda] Enable nullable
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaHttpUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSMessagingUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/CommonExtensions.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSLambdaHttpUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSMessagingUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/SampleLambdaContext.cs
Labels: comp:instrumentation.awslambda

#1247 Convert WCF client instrumentation to a BindingElement
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/AsyncResultWithTelemetryState.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/ClientChannelInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedChannel.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedChannelFactory.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedCommunicationObject.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedDuplexSessionChannel.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedDuplexSessionChannelFactory.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedRequestChannel.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedRequestChannelFactory.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/RequestTelemetryState.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/RequestTelemetryStateTracker.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryBindingElement.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryContextMessageProperty.cs
  src/OpenTelemetry.Instrumentation.Wcf/README.md
  src/OpenTelemetry.Instrumentation.Wcf/TelemetryClientMessageInspector.cs
  src/OpenTelemetry.Instrumentation.Wcf/TelemetryContractBehaviorAttribute.cs
  src/OpenTelemetry.Instrumentation.Wcf/TelemetryEndpointBehavior.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForHttpTests.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForTcpTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationBindingElement.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationChannel.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationChannelFactory.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationEndpointBehavior.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationExtensions.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/IServiceContract.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/Service.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/ServiceClient.cs
Labels: comp:instrumentation.wcf

#1308 [wcf] 1.0.0-rc.11 release
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
Labels: comp:instrumentation.wcf

#1320 Add conditional compilation to make copying easier to otlp
  src/OpenTelemetry.PersistentStorage.Abstractions/PersistentBlob.cs
  src/OpenTelemetry.PersistentStorage.Abstractions/PersistentBlobProvider.cs
  src/OpenTelemetry.PersistentStorage.Abstractions/PersistentStorageAbstractionsEventSource.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlob.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlobProvider.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/PersistentStorageEventSource.cs
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#1309 [OneCollectorExporter] Failed transmission callback
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net7.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.1/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/HttpJsonPostTransport.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/ITransport.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporter.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterPayloadTransmittedCallbackArguments.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/HttpJsonPostTransportTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/WriteDirectlyToTransportSinkTests.cs
Labels: comp:exporter.onecollector

#1314 OpenTelemetry.Exporter.InfluxDB nullable support
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/IMetricsWriter.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBExporterExtensions.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBMetricsExporterOptions.cs
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
  src/OpenTelemetry.Exporter.InfluxDB/PointDataExtensions.cs
  src/OpenTelemetry.Exporter.InfluxDB/TelegrafPrometheusWriterV1.cs
  src/OpenTelemetry.Exporter.InfluxDB/TelegrafPrometheusWriterV2.cs
Labels: comp:exporter.influxdb

#1321 [OneCollectorExporter] Add LogRecord.Body support
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
Labels: comp:exporter.onecollector

#1322 Add EventCounters to AotCompatibility.Test
  .github/workflows/ci-aot.yml
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: comp:instrumentation.eventcounters

#1326 Increase reliability of WCF HTTP tests
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForHttpTests.cs
Labels: comp:instrumentation.wcf

#1328 [Exporter.Geneva] Add build time constant for experimental features
  src/OpenTelemetry.Exporter.Geneva/Common.GenevaExporter.props
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/OpenTelemetry.Exporter.Geneva.Benchmark.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#1329 [Exporter.Geneva] Update OTel SDK version to 1.6.0-rc.1
  build/Common.props
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1316 [Instrumentation.Quartz] Nullable
  src/OpenTelemetry.Instrumentation.Quartz/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Quartz/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Quartz/Implementation/QuartzDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  src/OpenTelemetry.Instrumentation.Quartz/QuartzInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Quartz/TraceProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
Labels: comp:instrumentation.quartz

#1323 [PersistentStorage.Abstractions] and [PersistentStorage.FileSystem] Prepare 1.0.0 release
  src/OpenTelemetry.PersistentStorage.Abstractions/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.PersistentStorage.Abstractions/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.PersistentStorage.Abstractions/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.PersistentStorage.Abstractions/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.PersistentStorage.Abstractions/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.PersistentStorage.FileSystem/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#1333 [PersistentStorage.FileSystem] Update PersistentStorage FileSystem csproj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.PersistentStorage.FileSystem/OpenTelemetry.PersistentStorage.FileSystem.csproj
Labels: comp:persistentstorage.filesystem

#1251 [wcf] Add support for non-SOAP based payloads
  examples/wcf/client-netframework/App.config
  examples/wcf/client-netframework/Program.cs
  examples/wcf/server-netframework/App.config
  examples/wcf/shared/Examples.Wcf.Shared.csproj
  examples/wcf/shared/IStatusServiceContract.cs
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/HttpRequestMessagePropertyWrapper.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryMessageHeader.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryPropagationReader.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryPropagationWriter.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationActivitySource.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
  src/OpenTelemetry.Instrumentation.Wcf/README.md
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryPropagationTests.netfx.cs
Labels: comp:instrumentation.wcf

#1337 [wcf]1.0.0-rc.12 release
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
Labels: comp:instrumentation.wcf
