Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-04, with the labels that each got.

#1117 [Instrumentation.AWS] drop default parameter from registration method
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Contrib.Instrumentation.AWS/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.aws

#1127 [OneCollectorExporter] eventId support
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
Labels: comp:exporter.onecollector

#1129 [Instrumentation.Hangfire] drop default parameter from registration method
  src/OpenTelemetry.Instrumentation.Hangfire/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.hangfire

#1132 [ResourceDetectors.Container] Release 1.0.0-beta.3
  src/OpenTelemetry.ResourceDetectors.Container/CHANGELOG.md
Labels: comp:resourcedetectors.container

#1134 [Exporter.Geneva][TldLogExporter] Update TldLogExporter to log eventId.Id as a PartB field
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
Labels: comp:exporter.geneva

#1144 [PersistentStorage] Update changelog for release storage
  src/OpenTelemetry.PersistentStorage.Abstractions/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.FileSystem/CHANGELOG.md
Labels: comp:persistentstorage.abstractions

#1145 [PersistentStorage.*] Fix release tags in csproj
  src/OpenTelemetry.PersistentStorage.Abstractions/OpenTelemetry.PersistentStorage.Abstractions.csproj
  src/OpenTelemetry.PersistentStorage.FileSystem/OpenTelemetry.PersistentStorage.FileSystem.csproj
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#1146 Changelog for release PersistentStorage.Filesystem
  src/OpenTelemetry.PersistentStorage.FileSystem/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.FileSystem/OpenTelemetry.PersistentStorage.FileSystem.csproj
Labels: comp:persistentstorage.filesystem

#1148 [ResourceDetectors.Azure] Add additional attributes to Appservice detector
  src/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  test/OpenTelemetry.ResourceDetectors.Azure.Tests/AzureResourceDetectorTests.cs
Labels: comp:resourcedetectors.azure

#1135 [Exporter.Geneva] Update GenevaLogExporter to export eventName
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/EventNameExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#1150 [ResourceDetectors.Azure] Readme + Changelog
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/README.md
Labels: comp:resourcedetectors.azure

#1154 [Exporter.Geneva] Update CHANGELOG for 1.5.0-alpha.3
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1155 [Exporter.Geneva] Update component owners
  .github/component_owners.yml
Labels: comp:exporter.geneva

#1130 [Exporter.Stackdriver] Nullable
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/Constants.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ExporterStackdriverEventSource.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/GoogleCloudResourceUtils.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/StackdriverStatsConfiguration.cs
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  src/OpenTelemetry.Exporter.Stackdriver/README.md
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestActivityProcessor.cs
Labels: comp:exporter.stackdriver

#1142 Allow subtypes of default AWS service clients to be instrumented
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSTracingPipelineCustomizer.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/TestAmazonDynamoDBClient.cs
Labels: comp:instrumentation.aws

#1124 [Sampler.AWS] Part-2: Add rules cache and rule matching logic
  src/OpenTelemetry.Sampler.AWS/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Sampler.AWS/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Sampler.AWS/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Sampler.AWS/AWSSamplerEventSource.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSampler.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSamplerBuilder.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRaySamplerClient.cs
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/Clock.cs
  src/OpenTelemetry.Sampler.AWS/FallbackSampler.cs
  src/OpenTelemetry.Sampler.AWS/Matcher.cs
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
  src/OpenTelemetry.Sampler.AWS/README.md
  src/OpenTelemetry.Sampler.AWS/RulesCache.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRule.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRuleApplier.cs
  src/OpenTelemetry.Sampler.AWS/Statistics.cs
  src/OpenTelemetry.Sampler.AWS/SystemClock.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRayRemoteSampler.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRaySamplerClient.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestClock.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestMatcher.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestRulesCache.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestSamplingRuleApplier.cs
  test/OpenTelemetry.Sampler.AWS.Tests/Utils.cs
Labels: comp:sampler.aws

#1160 [AzureMonitor] Add ApplicationInsightsSamplerOptions to improve Dependency Injection support
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSamplerOptions.cs
  src/OpenTelemetry.Extensions.AzureMonitor/CHANGELOG.md
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/ApplicationInsightsSamplerTests.cs
Labels: comp:extensions.azuremonitor
