Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-09, with the labels that each got.

#1304 Sample.AWS.Tests - nullable
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSamplerBuilder.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRuleApplier.cs
  test/OpenTelemetry.Sampler.AWS.Tests/OpenTelemetry.Sampler.AWS.Tests.csproj
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRayRemoteSampler.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRaySamplerClient.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestClock.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestMatcher.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestRateLimiter.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestRulesCache.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestSamplingRuleApplier.cs
  test/OpenTelemetry.Sampler.AWS.Tests/Utils.cs
Labels: comp:sampler.aws

#1343 [Instrumentation.Runtime] Release Runtime instrumentation version 1.5.1
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#1339 [repo+ci] Use SDK dotnet format in CI
  .github/workflows/dotnet-format.yml
  build/Common.prod.props
  build/Common.props
  build/Common.targets
  examples/AspNet/App_Start/RouteConfig.cs
  examples/AspNet/Controllers/HomeController.cs
  examples/AspNet/Controllers/WeatherForecastController.cs
  examples/AspNet/Examples.AspNet.csproj
  examples/AspNet/Global.asax.cs
  examples/AspNet/Properties/AssemblyInfo.cs
  examples/AspNet/Properties/launchSettings.json
  examples/AspNet/Web.config
  examples/Directory.Build.props
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Instrumentation.EventCounters/OpenTelemetry.Instrumentation.EventCounters.csproj
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Process/OpenTelemetry.Instrumentation.Process.csproj
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
  src/OpenTelemetry.PersistentStorage.Abstractions/OpenTelemetry.PersistentStorage.Abstractions.csproj
  src/OpenTelemetry.ResourceDetectors.Azure/OpenTelemetry.ResourceDetectors.Azure.csproj
  src/OpenTelemetry.Sampler.AWS/AWSXRaySamplerClient.cs
  src/Shared/ExceptionExtensions.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/OpenTelemetry.Exporter.OneCollector.Benchmarks.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
Labels: infra

#1336 Nullable for ASP.NET instrumentation projects
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/AspNetTelemetryEventSource.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.csproj
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModule.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModuleOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/AspNetInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.AspNet/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Contrib.Tests.Shared/EventSourceTestHelper.cs
  test/OpenTelemetry.Contrib.Tests.Shared/InMemoryEventListener.cs
  test/OpenTelemetry.Contrib.Tests.Shared/TestEventListener.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/ActivityHelperTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/HttpContextHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/WebConfigTransformTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/WebConfigWithLocationTagTransformTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#1346 [Exporter.Geneva] Update OTel SDK version and CHANGELOG for 1.6.0 release
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Common.GenevaExporter.props
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1345 [onecollector] Remove ext.dt.traceFlags
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
Labels: comp:exporter.onecollector

#1348 [OneCollector] Integration tests prep
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  build/Projects/OpenTelemetry.Exporter.OneCollector.proj
  opentelemetry-dotnet-contrib.sln
Labels: comp:exporter.onecollector

#1353 Nullable Examples.AspNet
  examples/AspNet/Controllers/WeatherForecastController.cs
  examples/AspNet/Examples.AspNet.csproj
  examples/AspNet/Global.asax.cs
  examples/AspNet/Models/WeatherForecast.cs
  examples/AspNet/SuppressInstrumentationHttpModule.cs
Labels: comp:instrumentation.aspnet

#1352 Nullable Hangfire
  src/OpenTelemetry.Instrumentation.Hangfire/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Hangfire/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Hangfire/HangfireInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentationJobFilterAttribute.cs
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
  src/OpenTelemetry.Instrumentation.Hangfire/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/TestJob.cs
Labels: comp:instrumentation.hangfire

#1356 [Instrumentation.ElasticsearchClient] Execute tests on .NET Fx 4.6.2
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
Labels: comp:instrumentation.elasticsearchclient

#1358 [ResourceDetectors.Azure] Update AzureVmMetaDataRequestor [Add timeout for HttpClient]
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetaDataRequestor.cs
Labels: comp:resourcedetectors.azure

#1359 [ResourceDetectors.Azure] Update CHANGELOG.md - Request for release
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
Labels: comp:resourcedetectors.azure

#1360 Nullable OpenTelemetry.Instrumentation.EventCounters.Tests
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/OpenTelemetry.Instrumentation.EventCounters.Tests.csproj
Labels: comp:instrumentation.eventcounters

#1361 [OneCollectorExporter] Perf improvements
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/ExtensionFieldInformation.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/ExtensionFieldInformationManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationHelper.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationState.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationHelperTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationStateTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/ExtensionFieldInformationManagerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
Labels: comp:exporter.onecollector

#1335 OWIN HTTP server metrics
  src/OpenTelemetry.Instrumentation.Owin/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  src/OpenTelemetry.Instrumentation.Owin/Implementation/OwinInstrumentationMetrics.cs
  src/OpenTelemetry.Instrumentation.Owin/OwinInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
Labels: comp:instrumentation.owin

#1347 [onecollector] Add integration tests
  .github/workflows/package-Exporter.OneCollector.yml
  opentelemetry-dotnet-contrib.sln
  test/OpenTelemetry.Contrib.Tests.Shared/EventSourceTestHelper.cs
  test/OpenTelemetry.Contrib.Tests.Shared/OpenTelemetry.Contrib.Tests.Shared.csproj
  test/OpenTelemetry.Contrib.Tests.Shared/SkipUnlessEnvVarFoundFactAttribute.cs
  test/OpenTelemetry.Contrib.Tests.Shared/SkipUnlessEnvVarFoundTheoryAttribute.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorIntegrationTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
Labels: comp:exporter.onecollector

#1364 [OneCollector] 1.6.0-beta.1 release
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
Labels: comp:exporter.onecollector

#1365 [repo] Add dedicated CI for Geneva Exporter
  .github/codecov.yml
  .github/workflows/ci-Exporter.Geneva.yml
  .github/workflows/ci.yml
  build/Projects/OpenTelemetry.Exporter.Geneva.proj
  opentelemetry-dotnet-contrib.sln
Labels: comp:exporter.geneva

#1368 [repo] Use reusable workflows for build & package processing
  .github/workflows/Component.BuildTest.yml
  .github/workflows/Component.Package.yml
  .github/workflows/ci-Exporter.Geneva.yml
  .github/workflows/ci-Exporter.OneCollector.yml
  .github/workflows/ci-Instrumentation.Process.yml
  .github/workflows/package-Exporter.Geneva.yml
  .github/workflows/package-Exporter.OneCollector.yml
  .github/workflows/package-Instrumentation.Process.yml
  build/Projects/OpenTelemetry.Instrumentation.Process.proj
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1367 Allow overriding the Part B "name" field value in GenevaLogExporter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#1371 [repo] Add dedicated CI for WCF Instrumentation
  .github/codecov.yml
  .github/workflows/ci-Instrumentation.Wcf.yml
  .github/workflows/ci.yml
  .github/workflows/package-Instrumentation.Wcf.yml
  build/Projects/OpenTelemetry.Instrumentation.Wcf.proj
  opentelemetry-dotnet-contrib.sln
Labels: comp:instrumentation.wcf

#1372 [geneva] CHANGELOG update for GenevaExporter 1.7.0-alpha.1 release
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1350 Fix AWSEBSResourceDetector on Linux
  src/OpenTelemetry.ResourceDetectors.AWS/AWSEBSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/CHANGELOG.md
Labels: comp:resourcedetectors.aws

#1373 [repo] Add dedicated CI for Owin Instrumentation
  .github/codecov.yml
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci-Exporter.Geneva.yml
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci-Exporter.OneCollector.yml
  .github/workflows/ci-Instrumentation.Owin.yml
  .github/workflows/ci-Instrumentation.Process.yml
  .github/workflows/ci-Instrumentation.Wcf.yml
  .github/workflows/ci.yml
  .github/workflows/package-Instrumentation.Owin.yml
  build/Projects/OpenTelemetry.Instrumentation.Owin.proj
  opentelemetry-dotnet-contrib.sln
Labels: comp:instrumentation.owin

#1342 [wcf] Add AspNet parent span correction
  examples/wcf/client-core/Program.cs
  examples/wcf/client-core/appsettings.json
  examples/wcf/client-netframework/App.config
  examples/wcf/client-netframework/Examples.Wcf.Client.NetFramework.csproj
  examples/wcf/client-netframework/Program.cs
  examples/wcf/server-aspnetframework/Examples.Wcf.Server.AspNetFramework.csproj
  examples/wcf/server-aspnetframework/Global.asax
  examples/wcf/server-aspnetframework/Global.asax.cs
  examples/wcf/server-aspnetframework/Properties/launchSettings.json
  examples/wcf/server-aspnetframework/StatusService.svc
  examples/wcf/server-aspnetframework/StatusService.svc.cs
  examples/wcf/server-aspnetframework/Web.Debug.config
  examples/wcf/server-aspnetframework/Web.Release.config
  examples/wcf/server-aspnetframework/Web.config
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/AspNetParentSpanCorrector.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Wcf/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/AspNetParentSpanCorrectorTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
Labels: comp:instrumentation.wcf

#1377 Improve OWIN server metric precision
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
Labels: comp:instrumentation.owin
