Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-12, with the labels that each got.

#1456 [Instrumentation.GrpcCore] Update minimal Google.Protobuf to 3.15.0
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/OpenTelemetry.Instrumentation.GrpcCore.csproj
Labels: comp:instrumentation.grpccore

#1454 [Instrumentation.AWS] Update AWS SDK references
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/OpenTelemetry.Instrumentation.AWS.Tests.csproj
Labels: comp:instrumentation.aws

#1460 [ResourceDetectors.ProcessRuntime] Release 0.1.0-alpha.1
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/CHANGELOG.md
Labels: comp:resourcedetectors.processruntime

#1461 [ResourceDetector.ProcessRuntime] - fix shields.io image
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/README.md
Labels: comp:resourcedetectors.processruntime

#1442 [Instrumenation.Hangfire] Add options support to hangfire instrumentation
  src/OpenTelemetry.Instrumentation.Hangfire/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
  src/OpenTelemetry.Instrumentation.Hangfire/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/OpenTelemetry.Instrumentation.Hangfire.Tests.csproj
Labels: comp:instrumentation.hangfire

#1458 [repo] Update CI workflows for .NET 8
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci.yml
  .github/workflows/verifyaotcompat.yml
  build/Common.nonprod.props
  build/test-aot-compatibility.ps1
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Contrib.Tests.Shared/OpenTelemetry.Contrib.Tests.Shared.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmark/OpenTelemetry.Exporter.Geneva.Benchmark.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Extensions.AWS.Tests/OpenTelemetry.Extensions.AWS.Tests.csproj
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetry.Extensions.Enrichment.Tests.csproj
  test/OpenTelemetry.Extensions.Tests/OpenTelemetry.Extensions.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/OpenTelemetry.Instrumentation.EventCounters.Tests.csproj
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/OpenTelemetry.Instrumentation.Hangfire.Tests.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/OpenTelemetry.Instrumentation.Process.Tests.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Implementation/RedisProfilerEntryToActivityConverterTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/OpenTelemetry.PersistentStorage.FileSystem.Tests.csproj
  test/OpenTelemetry.ResourceDetectors.AWS.Tests/OpenTelemetry.ResourceDetectors.AWS.Tests.csproj
  test/OpenTelemetry.ResourceDetectors.Azure.Tests/OpenTelemetry.ResourceDetectors.Azure.Tests.csproj
  test/OpenTelemetry.ResourceDetectors.Container.Tests/OpenTelemetry.ResourceDetectors.Container.Tests.csproj
  test/OpenTelemetry.ResourceDetectors.ProcessRuntime.Tests/OpenTelemetry.ResourceDetectors.ProcessRuntime.Tests.csproj
  test/OpenTelemetry.Sampler.AWS.Tests/OpenTelemetry.Sampler.AWS.Tests.csproj
Labels: infra

#1464 [Exporter.Geneva] Update Benchmark results
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/SerializationBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TLDLogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TLDTraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TraceExporterBenchmarks.cs
Labels: comp:exporter.geneva

#1472 [repo] Fix CI for Extensions.* projects
  .github/workflows/ci.yml
Labels: infra

#1469 Remove Moq from Extensions.AWS.Tests
  test/OpenTelemetry.Extensions.AWS.Tests/OpenTelemetry.Extensions.AWS.Tests.csproj
Labels: comp:extensions.aws

#1471 Remove Moq from Instrumentation.AspNet.Tests
  test/OpenTelemetry.Contrib.Tests.Shared/TestTextMapPropagator.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.Tests/TestHttpWorkerRequest.cs
Labels: comp:instrumentation.aspnet

#1477 Remove Moq from Instrumentation.Cassandra.Tests
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
Labels: comp:instrumentation.cassandra

#1465 Remove Moq from Exporter.Instana.Tests
  src/OpenTelemetry.Exporter.Instana/Properties/AssemblyInfo.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaExporterTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/TestActivityProcessor.cs
  test/OpenTelemetry.Exporter.Instana.Tests/TestInstanaExporterHelper.cs
  test/OpenTelemetry.Exporter.Instana.Tests/TestSpanSender.cs
Labels: infra, comp:exporter.instana

#1482 Remove Moq from Instrumentation.Wcf.Tests
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
Labels: comp:instrumentation.wcf

#1480 Remove Moq from Instrumentation.Quartz.Tests
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/QuartzDiagnosticListenerTests.cs
Labels: comp:instrumentation.quartz

#1478 Remove Moq from Instrumentation.ElasticsearchClient.Tests
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/ElasticsearchClientTests.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
Labels: comp:instrumentation.elasticsearchclient

#1468 Remove Moq from Instrumentation.GrpcCore.Tests
  src/OpenTelemetry.Instrumentation.GrpcCore/AssemblyInfo.cs
  test/OpenTelemetry.Contrib.Tests.Shared/TestTextMapPropagator.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
Labels: comp:instrumentation.grpccore

#1479 Remove Moq from Instrumentation.EntityFrameworkCore.Tests
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
Labels: comp:instrumentation.entityframeworkcore

#1476 Remove Moq from Instrumentation.AWSLambda.Tests
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSLambdaHttpUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
Labels: comp:instrumentation.awslambda

#1475 Remove Moq from Instrumentation.AWS.Tests
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/RequestContextHelperTests.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/OpenTelemetry.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestRequest.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestRequestContext.cs
Labels: comp:instrumentation.aws

#1481 Remove Moq from Instrumentation.StackExchangeRedis.Tests
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Implementation/RedisProfilerEntryToActivityConverterTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/TestProfiledCommand.cs
Labels: comp:instrumentation.stackexchangeredis

#1489 [Exporter.Geneva] Update CHANGELOG for 1.7.0
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1429 [Instrumentation.AspNet] Update semantic conventions for metrics
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpRequestRouteHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/RequestMethodHelper.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RequestMethodHelperTests.cs
Labels: comp:instrumentation.aspnet

#1440 Add Filter to HangfireInstrumentationOptions
  src/OpenTelemetry.Instrumentation.Hangfire/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/HangfireInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentationJobFilterAttribute.cs
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/HangfireInstrumentationJobFilterAttributeTests.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/ProcessorMock.cs
Labels: comp:instrumentation.hangfire

#1501 [Exporter.Geneva] Use HashSet instead of Dictionary
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#1502 Hangfire: Downgrade OpenTelemetry.Api.ProviderBuilderExtensions to 1.6.0 to avoid MS.Extensions.* v8 dependencies
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
Labels: comp:instrumentation.hangfire

#1503 Release OpenTelemetry.Instrumentation.Hangfire 1.6.0-beta.1
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
Labels: comp:instrumentation.hangfire

#1508 Hangfire - Upgrade OTel to 1.7.0
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
Labels: comp:instrumentation.hangfire

#1505 [Instrumentation.AspNet] Update CHANGELOG for 1.7.0-beta.1 release
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#1504 [Exporter.Geneva] Perf improvement on .NET 8
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#1506 ResourceDetectors - Process
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_process.md
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/package-ResourceDetectors.Process.yml
  build/Projects/OpenTelemetry.ResourceDetectors.Process.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.ResourceDetectors.Process/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Process/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Process/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Process/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Process/AssemblyInfo.cs
  src/OpenTelemetry.ResourceDetectors.Process/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Process/OpenTelemetry.ResourceDetectors.Process.csproj
  src/OpenTelemetry.ResourceDetectors.Process/ProcessDetector.cs
  src/OpenTelemetry.ResourceDetectors.Process/ProcessSemanticConventions.cs
  src/OpenTelemetry.ResourceDetectors.Process/README.md
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/ProcessRuntimeDetector.cs
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.ResourceDetectors.Process.Tests/OpenTelemetry.ResourceDetectors.Process.Tests.csproj
  test/OpenTelemetry.ResourceDetectors.Process.Tests/ProcessDetectorTests.cs
Labels: comp:resourcedetectors.process

#1507 ResourceDetectors - Host
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_host.md
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/package-ResourceDetectors.Host.yml
  build/Projects/OpenTelemetry.ResourceDetectors.Host.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.ResourceDetectors.Host/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Host/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Host/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Host/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Host/AssemblyInfo.cs
  src/OpenTelemetry.ResourceDetectors.Host/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Host/HostDetector.cs
  src/OpenTelemetry.ResourceDetectors.Host/HostSemanticConventions.cs
  src/OpenTelemetry.ResourceDetectors.Host/OpenTelemetry.ResourceDetectors.Host.csproj
  src/OpenTelemetry.ResourceDetectors.Host/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.ResourceDetectors.Host.Tests/HostDetectorTests.cs
  test/OpenTelemetry.ResourceDetectors.Host.Tests/OpenTelemetry.ResourceDetectors.Host.Tests.csproj
Labels: comp:resourcedetectors.host

#1517 [detectors] host and process detectors 0.1.0-alpha.1 release
  src/OpenTelemetry.ResourceDetectors.Host/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Process/CHANGELOG.md
Labels: comp:resourcedetectors.process, comp:resourcedetectors.host

#1518 Bump OTel to 1.7.0 for ResourceDetectors Host and Process
  src/OpenTelemetry.ResourceDetectors.Host/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Host/OpenTelemetry.ResourceDetectors.Host.csproj
  src/OpenTelemetry.ResourceDetectors.Process/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Process/OpenTelemetry.ResourceDetectors.Process.csproj
Labels: comp:resourcedetectors.process, comp:resourcedetectors.host
