Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-02, with the labels that each got.

#933 [AzureMonitor] Change drop sampling result to recordOnly
  src/OpenTelemetry.Extensions.AzureMonitor/ApplicationInsightsSampler.cs
  src/OpenTelemetry.Extensions.AzureMonitor/CHANGELOG.md
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/ApplicationInsightsSamplerTests.cs
Labels: comp:extensions.azuremonitor

#945 [Instrumentation.Runtime] Release with OTel 1.4.0-rc.3
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime

#929 [Instrumentation.Owin] Remove AddOwinInstrumentation with default parameter
  src/OpenTelemetry.Instrumentation.Owin/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.owin

#955 [Exporter.Instana] Fix analysis warnings
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpanSerializer.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/ActivityProcessorBase.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/DefaultActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/ErrorActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/EventsActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/TagsActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/SpanSender.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Transport.cs
  src/OpenTelemetry.Exporter.Instana/InstanaExporter.cs
  src/OpenTelemetry.Exporter.Instana/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaExporterTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaSpanFactoryTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaSpanSerializerTests.cs
Labels: comp:exporter.instana

#986 Create GitHub releases
  .github/workflows/package-Exporter.Geneva.yml
  .github/workflows/package-Exporter.Instana.yml
  .github/workflows/package-Exporter.Stackdriver.yml
  .github/workflows/package-Extensions.AWSXRay.yml
  .github/workflows/package-Extensions.AzureMonitor.yml
  .github/workflows/package-Extensions.Docker.yml
  .github/workflows/package-Extensions.PersistentStorage.Abstractions.yml
  .github/workflows/package-Extensions.PersistentStorage.yml
  .github/workflows/package-Extensions.yml
  .github/workflows/package-Instrumentation.AWS.yml
  .github/workflows/package-Instrumentation.AWSLambda.yml
  .github/workflows/package-Instrumentation.AspNet.TelemetryHttpModule.yml
  .github/workflows/package-Instrumentation.AspNet.yml
  .github/workflows/package-Instrumentation.Elasticsearch.yml
  .github/workflows/package-Instrumentation.EntityFrameworkCore.yml
  .github/workflows/package-Instrumentation.EventCounters.yml
  .github/workflows/package-Instrumentation.GrpcCore.yml
  .github/workflows/package-Instrumentation.Hangfire.yml
  .github/workflows/package-Instrumentation.MySqlData.yml
  .github/workflows/package-Instrumentation.Owin.yml
  .github/workflows/package-Instrumentation.Process.yml
  .github/workflows/package-Instrumentation.Quartz.yml
  .github/workflows/package-Instrumentation.Runtime.yml
  .github/workflows/package-Instrumentation.StackExchangeRedis.yml
  .github/workflows/package-Instrumentation.Wcf.yml
  .github/workflows/package-ResourceDetectors.Azure.yml
  build/RELEASING.md
Labels: infra

#993 [Instrumentation.Process, Instrumentation.Runtime] Release wtih OTel 1.4.0-rc.4
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime, comp:instrumentation.process

#981 [Instrumentation.Process] Exposed required metric `process.cpu.count` for computing CPU utilization in the backend.
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  src/OpenTelemetry.Instrumentation.Process/README.md
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#1023 Add issue template for ResourceDetectors.Azure
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_azure.md
Labels: comp:resourcedetectors.azure

#965 [Instrumentation.MySqlData] Fix analysis warnings
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentation.cs
  test/OpenTelemetry.Instrumentation.MySqlData.Tests/MySqlDataTests.cs
Labels: comp:instrumentation.mysqldata

#964 [Instrumentation.Hangfire] Fix analysis warnings
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentationJobFilterAttribute.cs
Labels: comp:instrumentation.hangfire

#963 [Instrumentation.GrpcCore] Fix analysis warnings
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Startup.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptorOptions.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/RpcScope.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptorOptions.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/FoobarService.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreServerInterceptorTests.cs
Labels: comp:instrumentation.grpccore

#956 [Exporter.Stackdriver] Fix analysis warnings
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/Constants.cs
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  src/OpenTelemetry.Exporter.Stackdriver/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Utils/CommonUtils.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestActivityProcessor.cs
Labels: comp:exporter.stackdriver

#1016 [Instrumentation.Process] Added Grafana dashboard template to the example folder.
  examples/process-instrumentation/process-instrumentation-grafana-dashboard-sample.json
  src/OpenTelemetry.Instrumentation.Process/README.md
Labels: comp:instrumentation.process

#1033 [OneCollector] Utf8JsonWriter logic tweak
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializer.cs
Labels: comp:exporter.onecollector

#1037 [OneCollectorExporter] Connection string design
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net7.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.1/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/ConnectionStringParser.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorLogExporterBuilder.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorLogExporterOptions.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorOpenTelemetryLoggerOptionsExtensions.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterOptions.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterTransportOptions.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterValidationException.cs
  src/OpenTelemetry.Exporter.OneCollector/README.md
  test/OpenTelemetry.Exporter.OneCollector.Tests/ConnectionStringParserTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorOpenTelemetryLoggerOptionsExtensionsTests.cs
Labels: comp:exporter.onecollector

#920 Enable Nulls on Contrib.Extensions.AWSXRay & Test Projects
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/net452/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/net452/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/AWSXRayIdGenerator.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/OpenTelemetry.Contrib.Extensions.AWSXRay.csproj
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEBSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEC2ResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSECSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSEKSResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/AWSLambdaResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Http/Handler.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Http/ServerCertificateValidationProvider.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/IResourceDetector.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Models/AWSEBSMetadataModel.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Models/AWSEC2IdentityDocumentModel.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Models/AWSEKSClusterDataModel.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/Models/AWSEKSClusterInformationModel.cs
  src/OpenTelemetry.Contrib.Extensions.AWSXRay/Resources/ResourceDetectorUtils.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests.csproj
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/Http/TestServerCertificateValidationProvider.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEBSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEC2ResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSECSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/Resources/TestAWSEKSResourceDetector.cs
  test/OpenTelemetry.Contrib.Extensions.AWSXRay.Tests/TestAWSXRayIdGenerator.cs
Labels: comp:extensions.awsxray

#1046 [OneCollector] Add issue template
  .github/ISSUE_TEMPLATE/comp_exporter_onecollector.md
Labels: comp:exporter.onecollector

#1038 Bump OTel to 1.4.0
  build/Common.props
  examples/AspNet/Examples.AspNet.csproj
  examples/AspNet/Web.config
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Examples.GrpcCore.AspNetCore.csproj
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Startup.cs
  examples/process-instrumentation/process-instrumentation.csproj
  examples/runtime-instrumentation/runtime-instrumentation.csproj
  src/OpenTelemetry.Contrib.Shared/OpenTelemetry.Contrib.Shared.csproj
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.Instana/OpenTelemetry.Exporter.Instana.csproj
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Extensions.Docker/CHANGELOG.md
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/README.md
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MySqlData/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MySqlData/OpenTelemetry.Instrumentation.MySqlData.csproj
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/OpenTelemetry.Instrumentation.Process.csproj
  src/OpenTelemetry.Instrumentation.Quartz/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Extensions.Docker.Tests/OpenTelemetry.Extensions.Docker.Tests.csproj
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/OpenTelemetry.Instrumentation.EventCounters.Tests.csproj
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/OpenTelemetry.Instrumentation.Hangfire.Tests.csproj
  test/OpenTelemetry.Instrumentation.MySqlData.Tests/OpenTelemetry.Instrumentation.MySqlData.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryClientMessageInspectorTests.cs
Labels: dependencies, .NET

#1043 [Exporter.Instana] Fix analysis warnings
  src/OpenTelemetry.Exporter.Instana/Implementation/Transport.cs
  src/OpenTelemetry.Exporter.Instana/InstanaExporter.cs
Labels: comp:exporter.instana

#1030 [Instrumentation.Runtime] fix doc
  src/OpenTelemetry.Instrumentation.Runtime/README.md
Labels: comp:instrumentation.runtime

#1006 [Geneva.Metrics] Add option to disable name validation
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1048 [GenevaExporter] Update CHANGELOG for 1.4.0 release
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1049 [Exporter.Geneva] Update publicAPI files for GenevaExporter
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Geneva/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
Labels: comp:exporter.geneva
