Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-01, with the labels that each got.

#859 Update CodeCoverage workflow
  .github/workflows/dotnet-core-cov.yml
  build/process-codecoverage.ps1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#840 Another null fix.
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
Labels: comp:exporter.stackdriver

#870 Add known issues to wcf documentation
  src/OpenTelemetry.Instrumentation.Wcf/README.md
Labels: comp:instrumentation.wcf

#871 [Exporter.Geneva] Update GenevaTraceExporter
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
Labels: comp:exporter.geneva

#839 Added CGroupv2 support into Docker Extensions
  src/OpenTelemetry.Extensions.Docker/Resources/DockerResourceDetector.cs
  test/OpenTelemetry.Extensions.Docker.Tests/Resources/DockerResourceDetectorTests.cs
Labels: comp:extensions.docker

#877 [Exporter.Geneva] Update CHANGELOG
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#662 [Exporter.Geneva] Add TLDTraceExporter
  .editorconfig
  src/OpenTelemetry.Exporter.Geneva/External/TraceLoggingDynamic.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/JsonSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/UncheckedASCIIEncoding.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/SerializationBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TLDTraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/JsonSerializerTests.cs
Labels: comp:exporter.geneva

#874 [Exporter.Geneva] Add TLDLogExporter
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/TLDLogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#884 [Instrumentation.Process, Instrumentation.Runtime] Releases with OTel 1.4.0-rc.2
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
Labels: comp:instrumentation.runtime, comp:instrumentation.process

#896 [Extensions.AzureMonitor.ApplicationInsightsSampler] fix unit test
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/ApplicationInsightsSamplerTests.cs
Labels: comp:extensions.azuremonitor

#886 [Extensions.Docker] Update CHANGELOG for 1.0.0-beta.2 release
  src/OpenTelemetry.Extensions.Docker/CHANGELOG.md
Labels: comp:resourcedetector.container

#788 [Instrumentation.MassTransit] deprecate package + remove code
  .github/ISSUE_TEMPLATE/comp_instrumentation_masstransit.md
  .github/component_owners.yml
  .github/workflows/package-Instrumentation.MassTransit.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.MassTransit/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.MassTransit/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.MassTransit/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.MassTransit/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.MassTransit/Implementation/DisplayNameHelper.cs
  src/OpenTelemetry.Instrumentation.MassTransit/Implementation/MassTransitDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.MassTransit/Implementation/MassTransitInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.MassTransit/Implementation/MassTransitSemanticConventions.cs
  src/OpenTelemetry.Instrumentation.MassTransit/Implementation/TagName.cs
  src/OpenTelemetry.Instrumentation.MassTransit/MassTransitInstrumentation.cs
  src/OpenTelemetry.Instrumentation.MassTransit/MassTransitInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.MassTransit/OpenTelemetry.Instrumentation.MassTransit.csproj
  src/OpenTelemetry.Instrumentation.MassTransit/OperationName.cs
  src/OpenTelemetry.Instrumentation.MassTransit/README.md
  src/OpenTelemetry.Instrumentation.MassTransit/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.MassTransit.Tests/MassTransitInstrumentationTests.cs
  test/OpenTelemetry.Instrumentation.MassTransit.Tests/OpenTelemetry.Instrumentation.MassTransit.Tests.csproj
  test/OpenTelemetry.Instrumentation.MassTransit.Tests/TestConsumer.cs
  test/OpenTelemetry.Instrumentation.MassTransit.Tests/TestMessage.cs
Labels: comp:instrumentation.masstransit

#887 Drop test exporter
  build/Common.props
  test/OpenTelemetry.Contrib.Tests.Shared/TestExporter.cs
Labels: infra

#879 [Exporter.Geneva] Add the missing changelog entry
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#890 AzureMonitor.Tests - fix code coverage execution
  test/OpenTelemetry.Extensions.AzureMonitor.Tests/OpenTelemetry.Extensions.AzureMonitor.Tests.csproj
Labels: infra, comp:extensions.azuremonitor

#889 [Instrumentation.Quartz] Update OTel + cleanup
  src/OpenTelemetry.Instrumentation.Quartz/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Quartz/Implementation/QuartzDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Quartz/Implementation/QuartzInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Quartz/Implementation/TagName.cs
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  src/OpenTelemetry.Instrumentation.Quartz/QuartzInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/QuartzDiagnosticListenerTests.cs
Labels: comp:instrumentation.quartz

#904 Single Theory+MemberData JsonSerializer.Tests
  test/OpenTelemetry.Exporter.Geneva.Tests/JsonSerializerTests.cs
Labels: comp:exporter.geneva

#885 [Exporter.Geneva] Update GenevaExporter CHANGELOG
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva, Stale

#911 [Instrumentation.Quartz] Remove net472 and update tested frameworks
  src/OpenTelemetry.Instrumentation.Quartz/.publicApi/net472/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Quartz/.publicApi/net472/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Quartz/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
Labels: comp:instrumentation.quartz

#892 [Instrumentation.Process] Enable nullable
  src/OpenTelemetry.Instrumentation.Process/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Process/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Process/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Process/OpenTelemetry.Instrumentation.Process.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/OpenTelemetry.Instrumentation.Process.Tests.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#893 [Instrumentation.Runtime] Enable nullable
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netcoreapp3.1/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netcoreapp3.1/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#913 [Instrumentation.Process, Instrumentation.Process] make configure action nullable
  src/OpenTelemetry.Instrumentation.Process/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Process/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Runtime/MeterProviderBuilderExtensions.cs
Labels: comp:instrumentation.runtime, comp:instrumentation.process

#918 [Instrumentation.EntityFrameworkCore] cleanup test project
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
Labels: comp:instrumentation.entityframeworkcore

#914 [Instrumentation.Quartz] drop default parameter from registration method
  src/OpenTelemetry.Instrumentation.Quartz/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Quartz/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Quartz/TraceProviderBuilderExtensions.cs
Labels: comp:instrumentation.quartz

#928 [Instrumentation.WCF] Remove AddWcfInstrumentation with default parameter
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.wcf

#862 [EventCounters] SpinWait for tests
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
Labels: comp:instrumentation.eventcounters

#932 [Exporter.Geneva] Release 1.4.0-rc.2
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#895 [Instrumentation.Runtime] Fix README description of the value for GC collections count
  src/OpenTelemetry.Instrumentation.Runtime/README.md
Labels: comp:instrumentation.runtime

#942 [Instrumentation.AspNet] Remove AddAspNetInstrumentation with default parameter
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.AspNet
