Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2023-05, with the labels that each got.

#1166 Add atshaw43 as AWS components co-owner
  .github/component_owners.yml
Labels: comp:instrumentation.aws, comp:extensions.awsxray, comp:sampler.aws

#1168 [Exporter.Stackdriver] Fix readme after project rename
  src/OpenTelemetry.Exporter.Stackdriver/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
Labels: comp:exporter.stackdriver

#1171 [Exporter.Geneva] Fix installation instruction
  src/OpenTelemetry.Exporter.Geneva/README.md
Labels: comp:exporter.geneva

#1175 Fix indexing issue in GetSanitizedCategoryName
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
Labels: comp:exporter.geneva

#1180 [Instrumentation.MySqlData,Instrumentation.StackExchangeRedis] Avoid SetStatus(Unset)
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentation.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
Labels: comp:instrumentation.mysqldata, comp:instrumentation.stackexchangeredis

#1178 [Instrumenation.MySqlData] Fix typos
  src/OpenTelemetry.Instrumentation.MySqlData/MySqlDataInstrumentationEventSource.cs
Labels: comp:instrumentation.mysqldata

#1182 Add azure vm resource detector
  src/OpenTelemetry.ResourceDetectors.Azure/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetaDataRequestor.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/OpenTelemetry.ResourceDetectors.Azure.csproj
  test/OpenTelemetry.ResourceDetectors.Azure.Tests/AzureResourceDetectorTests.cs
Labels: comp:resourcedetectors.azure

#1185 [ResourceDetector.Azure] Follow ups
  src/OpenTelemetry.ResourceDetectors.Azure/AppServiceResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVMResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Azure/AzureVmMetadataResponse.cs
  src/OpenTelemetry.ResourceDetectors.Azure/ResourceAttributeConstants.cs
  test/OpenTelemetry.ResourceDetectors.Azure.Tests/AzureResourceDetectorTests.cs
Labels: comp:resourcedetectors.azure

#1184 Assign correct value to ext_dt_spanId in Tld Geneva exporter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
Labels: comp:exporter.geneva

#1051 #1034: AWS SQS and SNS support
  src/OpenTelemetry.Contrib.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSMessagingUtils.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSServiceHelper.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSServiceType.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/SnsRequestContextHelper.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/Implementation/SqsRequestContextHelper.cs
  src/OpenTelemetry.Contrib.Instrumentation.AWS/OpenTelemetry.Contrib.Instrumentation.AWS.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSMessagingUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Implementation/RequestContextHelperTests.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Implementation/TestsHelper.cs
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/OpenTelemetry.Contrib.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Contrib.Instrumentation.AWS.Tests/Tools/Utils.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSMessagingUtilsTests.cs
Labels: comp:instrumentation.awslambda, comp:instrumentation.aws

#1176 Add InfluxDB exporter
  .github/ISSUE_TEMPLATE/comp_exporter_influxdb.md
  .github/component_owners.yml
  .github/workflows/package-Exporter.InfluxDB.yml
  examples/InfluxDB/Examples.InfluxDB/Examples.InfluxDB.csproj
  examples/InfluxDB/Examples.InfluxDB/Program.cs
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
  src/OpenTelemetry.Exporter.InfluxDB/IMetricsWriter.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBEventSource.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBExporterExtensions.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBMetricsExporter.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBMetricsExporterOptions.cs
  src/OpenTelemetry.Exporter.InfluxDB/MetricsSchema.cs
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
  src/OpenTelemetry.Exporter.InfluxDB/PointDataExtensions.cs
  src/OpenTelemetry.Exporter.InfluxDB/README.md
  src/OpenTelemetry.Exporter.InfluxDB/TelegrafPrometheusWriterV1.cs
  src/OpenTelemetry.Exporter.InfluxDB/TelegrafPrometheusWriterV2.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/InfluxDBMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/AssertUtils.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/InfluxDBFakeServer.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/InfluxDBMetricsExporterOptionsTestExtensions.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/LineProtocolParser.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/PointData.cs
Labels: comp:exporter.influxdb

#1191 [OpenTelemetry.Exporter.InfluxDB] Get rid of the no-warn exclusions
  src/OpenTelemetry.Exporter.InfluxDB/MetricsSchema.cs
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
Labels: comp:exporter.influxdb

#1195 [Exporter.Geneva] Cleanup GenevaMetricExporter
  build/Common.nonprod.props
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1196 [Exporter.InfluxDB] Update CHANGELOG for 1.0.0-alpha.1 release
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
Labels: comp:exporter.influxdb

#1193 [redis] Support manual connection management
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisConnectionInstrumentation.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisInstrumentation.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Implementation/RedisProfilerEntryToActivityConverterTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
Labels: comp:instrumentation.stackexchangeredis

#1205 [redis] Append options name to the background thread
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisConnectionInstrumentation.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisInstrumentation.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
Labels: comp:instrumentation.stackexchangeredis

#1177 [ResourceDetectors.AWS] Release as .NET 6 instead of NET Standard 2.0
  src/OpenTelemetry.ResourceDetectors.AWS/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.AWS/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.AWS/AWSECSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSEKSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/Http/Handler.cs
  src/OpenTelemetry.ResourceDetectors.AWS/Http/ServerCertificateValidationProvider.cs
  src/OpenTelemetry.ResourceDetectors.AWS/OpenTelemetry.ResourceDetectors.AWS.csproj
  test/OpenTelemetry.ResourceDetectors.AWS.Tests/Http/ServerCertificateValidationProviderTests.cs
  test/OpenTelemetry.ResourceDetectors.AWS.Tests/OpenTelemetry.ResourceDetectors.AWS.Tests.csproj
Labels: comp:resourcedetectors.aws

#1199 add support for abstract domain sockets in OpenTelemetry.Exporter.Geneva
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/ConnectionStringBuilderTests.cs
Labels: comp:exporter.geneva
