Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-11, with the labels that each got.

#2281 [repo/Runtime] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#2290 [repo] Remove #nullable enable
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  src/Shared/ActivityHelperExtensions.cs
  src/Shared/ActivityInstrumentationHelper.cs
  src/Shared/AssemblyVersionExtensions.cs
  src/Shared/Configuration/IConfigurationExtensionsLogger.cs
  src/Shared/Configuration/OpenTelemetryConfigurationExtensions.cs
  src/Shared/DatabaseSemanticConventionHelper.cs
  src/Shared/DiagnosticSourceListener.cs
  src/Shared/DiagnosticSourceSubscriber.cs
  src/Shared/ExceptionExtensions.cs
  src/Shared/GrpcStatusCanonicalCode.cs
  src/Shared/GrpcTagHelper.cs
  src/Shared/Guard.cs
  src/Shared/ListenerHandler.cs
  src/Shared/MultiTypePropertyFetcher.cs
  src/Shared/Options/DelegatingOptionsFactoryServiceCollectionExtensions.cs
  src/Shared/Options/SingletonOptionsManager.cs
  src/Shared/PropertyFetcher.AOT.cs
  src/Shared/RedactionHelper.cs
  src/Shared/RequestDataHelper.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/JsonSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/MessagePackSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/TableNameSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixDomainSocketDataTransportTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixDomainSocketEndPointTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixUserEventsDataTransportTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/Processors/EventsActivityProcessorTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTestCases.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTestFixture.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTestResult.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/ActionDescriptorInfo.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/ControllerActionDescriptorInfo.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/PageActionDescriptorInfo.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/RouteInfo.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/RouteInfoDiagnosticObserver.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/TestApplicationFactory.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestCase.cs
  test/Shared/CustomTextMapPropagator.cs
  test/Shared/EventSourceTestHelper.cs
  test/Shared/InMemoryEventListener.cs
  test/Shared/PlatformHelpers.cs
  test/Shared/SkipUnlessEnvVarFoundFactAttribute.cs
  test/Shared/SkipUnlessEnvVarFoundTheoryAttribute.cs
  test/Shared/TestActivityExportProcessor.cs
  test/Shared/TestActivityProcessor.cs
  test/Shared/TestEventListener.cs
  test/Shared/TestHttpServer.cs
  test/Shared/TestSampler.cs
  test/Shared/TestTextMapPropagator.cs
Labels: comp:exporter.geneva, comp:exporter.instana, comp:instrumentation.process, comp:instrumentation.aspnetcore

#2291 [repo/OWIN] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
Labels: comp:instrumentation.owin

#2293 [repo/Quartz] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.Quartz/Implementation/QuartzDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.Quartz.Tests/QuartzDiagnosticListenerTests.cs
  test/OpenTelemetry.Instrumentation.Quartz.Tests/TestJob.cs
  test/OpenTelemetry.Instrumentation.Quartz.Tests/TestJobExecutionExceptionJob.cs
Labels: comp:instrumentation.quartz

#2292 [repo/ElasticsearchClient] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/Implementation/ElasticsearchRequestPipelineDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/Customer.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/ElasticsearchClientTests.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/InMemoryConnectionWithDownstreamActivity.cs
Labels: comp:instrumentation.elasticsearchclient

#2294 [geneva] Updates for 1.10.0-rc.1
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Common.GenevaExporter.props
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantExportProcessor.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDTraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva, perf

#2295 [OneCollector] Bump SDK to 1.10.0-rc.1
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
Labels: comp:exporter.onecollector

#2296 [repo/Hangfire] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.Hangfire/Implementation/HangfireInstrumentationJobFilterAttribute.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/HangfireFixture.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/HangfireInstrumentationJobFilterAttributeTests.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/ProcessorMock.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/TestJob.cs
Labels: comp:instrumentation.hangfire

#2301 [repo/EventCounters] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EventCounters/EventCountersMetrics.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
Labels: comp:instrumentation.eventcounters

#2298 [repo/Http] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientMetrics.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/TelemetryHelper.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/Instrumentation/HttpClientInstrumentationBenchmarks.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpOutTestCase.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpTestData.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/RepeatHandler.cs
Labels: comp:instrumentation.http, perf

#2305 [sqlclient] Make SqlClientInstrumentation a singleton
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.sqlclient

#2309 [Instrumentation.SqlClient] Implements database metric `db.client.operation.duration`
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientMeterProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlTestData.cs
Labels: comp:instrumentation.sqlclient

#2307 Remove Reiley Yang 🐇 from the component owners list👋
  .github/component_owners.yml
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
Labels: documentation, infra, comp:exporter.geneva, comp:exporter.onecollector

#2315 Correct default MetricExporterIntervalMilliseconds from 20000 to 60000 in documentation
  src/OpenTelemetry.Exporter.Geneva/README.md
Labels: documentation, comp:exporter.geneva

#2320 [repo] Move Cijo to Emeritus
  README.md
Labels: documentation

#2310 [geneva] Tweak OtlpProtobufSerializer to access MetricPoint by ref
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
Labels: comp:exporter.geneva

#2311 [Instrumentation.SqlClient] Implements database metric `db.client.operation.duration` (part 2/netfx)
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#2313 Add .NET 9 in tests projects
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci.yml
  build/Common.nonprod.props
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/OpenTelemetry.Exporter.Geneva.Benchmarks.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.net9.0.md
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/OpenTelemetry.Instrumentation.Process.Tests.csproj
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
  test/OpenTelemetry.Resources.AWS.Tests/OpenTelemetry.Resources.AWS.Tests.csproj
Labels: infra, comp:instrumentation.runtime, comp:instrumentation.grpccore, comp:exporter.geneva, comp:instrumentation.stackexchangeredis, comp:instrumentation.process, comp:resources.aws, comp:instrumentation.aspnetcore, perf

#2327 [Instrumentation.StackExchangeRedis] Fix tests on .NET9
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Implementation/RedisProfilerEntryToActivityConverterTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
Labels: comp:instrumentation.stackexchangeredis

#2250 [Instrumentation.AspNet] Fix multiple routes of same template in attribute-based routing
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpRequestRouteHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RouteTestHelper.cs
Labels: comp:instrumentation.aspnet

#2328 [Resources.AWS] Execute tests against .NET9
  build/Common.nonprod.props
  test/OpenTelemetry.Resources.AWS.Tests/Http/ServerCertificateValidationProviderTests.cs
  test/OpenTelemetry.Resources.AWS.Tests/OpenTelemetry.Resources.AWS.Tests.csproj
Labels: infra, comp:resources.aws

#2188 [Sampler.AWS] Wrapped root sampler with ParentBasedSampler
  src/OpenTelemetry.Sampler.AWS/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSamplerBuilder.cs
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/FallbackSampler.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRuleApplier.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRayRemoteSampler.cs
Labels: comp:sampler.aws

#2340 [repo] Update GenevaExporter component owners
  .github/component_owners.yml
  src/OpenTelemetry.Exporter.Geneva/README.md
Labels: documentation, infra, comp:exporter.geneva

#2325 [Instrumentation.Runtime] Remove legacy checks that only applied for .NET 6
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#2339 [Instrumentation.Runtime] Prefer the built-in runtime metrics for .NET 9 targets.
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
Labels: comp:instrumentation.runtime

#2341 [repo/OneCollector] Prepare to .NET9
  src/OpenTelemetry.Exporter.OneCollector/Internal/CallbackManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/ConnectionStringParser.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventFullName.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventNameManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationHelper.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationState.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Sinks/WriteDirectlyToTransportSink.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/HttpJsonPostTransport.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorLogExporterOptions.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterTransportOptions.cs
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/LogRecordCommonSchemaJsonHttpPostBenchmarks.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationHelperTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationStateTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/EventNameManagerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/ExtensionFieldInformationManagerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/HttpJsonPostTransportTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorLogExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorLoggerProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/WriteDirectlyToTransportSinkTests.cs
Labels: comp:exporter.onecollector, perf

#2342 [repo/Geneva] Prepare to .NET9
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/TableNameSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/JsonSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/UncheckedASCIIEncoding.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/EtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/UnixDomainSocketEndPoint.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/FieldNumberConstants.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/ProtobufSerializerHelper.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricWindowsEventTracingDataTransport.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/Food.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/SerializationBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDLogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDTraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Stress/Program.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/JsonSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/MessagePackSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterWithPrefixTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterWithoutPrefixTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/TableNameSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixDomainSocketDataTransportTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixDomainSocketEndPointTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixUserEventsDataTransportTests.cs
  test/Shared/PlatformHelpers.cs
Labels: comp:exporter.geneva, perf

#2251 [repo/examples] Prepare to .NET9
  examples/AspNet/Controllers/WeatherForecastController.cs
  examples/enrichment/Examples.Enrichment/IMyService.cs
  examples/enrichment/Examples.Enrichment/MyService.cs
  examples/enrichment/Examples.Enrichment/Program.cs
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Controllers/WeatherForecastController.cs
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Program.cs
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Startup.cs
  examples/grpc.core/Examples.GrpcCore.AspNetCore/WeatherForecast.cs
  examples/kafka/Constants.cs
  examples/kafka/ProduceConsumeHostedService.cs
  examples/owin/Controllers/TestController.cs
  examples/process-instrumentation/Program.cs
  examples/runtime-instrumentation/Program.cs
  examples/wcf/client-core/StatusServiceClient.cs
  examples/wcf/client-netframework/StatusServiceClient.cs
  examples/wcf/server-netframework/StatusService.cs
Labels: documentation

#2314 [Instrumentation.Http] Skip tagging traces when running on .NET 9+
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/README.md
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.cs
Labels: comp:instrumentation.http
