Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-10, with the labels that each got.

#2118 [repo] Include license files in packages
  LICENSE.TXT
  build/Common.prod.props
  opentelemetry-dotnet-contrib.sln
  src/Directory.Build.targets
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
Labels: infra, comp:exporter.geneva

#2122 [onecollector] remove Author tag
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
Labels: comp:exporter.onecollector

#2120 [geneva] Test platform helpers and refactoring
  build/OpenTelemetryContrib.test.ruleset
  opentelemetry-dotnet-contrib.sln
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixDomainSocketDataTransportTests.cs
  test/Shared/PlatformHelpers.cs
Labels: infra, comp:exporter.geneva

#2123 [Exporter.OneCollector] Remove .NET 6 target
  build/Common.nonprod.props
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/CompatibilitySuppressions.xml
  src/OpenTelemetry.Exporter.OneCollector/Internal/CallbackManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/BatchSerializationResult.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationHelper.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/TransportSendRequest.cs
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/OpenTelemetry.Exporter.OneCollector.Benchmarks.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
Labels: infra, comp:exporter.onecollector, perf

#2129 [Exporter.InfluxDB] Replace hardcoded TFM in test project
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
Labels: comp:exporter.influxdb

#2128 [Exporter.Geneva] Replace hardcoded TFM in test projects
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/OpenTelemetry.Exporter.Geneva.Benchmarks.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva, perf

#2124 [Extensions] Replace .NET 6 target with .NET 8
  build/Common.prod.props
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Extensions/Trace/AutoFlushActivityProcessor.cs
  test/OpenTelemetry.Extensions.Tests/OpenTelemetry.Extensions.Tests.csproj
Labels: infra, comp:extensions

#2126 [Extensions.Enrichment] Remove .NET 6 target
  src/OpenTelemetry.Extensions.Enrichment/CHANGELOG.md
  src/OpenTelemetry.Extensions.Enrichment/OpenTelemetry.Extensions.Enrichment.csproj
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetry.Extensions.Enrichment.Tests.csproj
Labels: comp:extensions.enrichment

#2127 [Exporter.Stackdriver] Remove .NET 6 target and add .NET Standard 2.0
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
Labels: comp:exporter.stackdriver

#2141 [Instrumentation.Cassandra] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Instrumentation.Cassandra/OpenTelemetry.Instrumentation.Cassandra.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
Labels: comp:instrumentation.cassandra

#2138 [Instrumentation.AspNetCore] Remove .NET 6 target
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.csproj
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/OpenTelemetry.Instrumentation.AspNetCore.csproj
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet, comp:instrumentation.aspnetcore, perf

#2148 Typofixes - diable ->disable
  build/scripts/post-release.psm1
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
Labels: infra, comp:instrumentation.aspnet

#2150 [Instrumentation.GrpcNetClient] Remove .NET 6 target
  src/OpenTelemetry.Instrumentation.GrpcNetClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
Labels: comp:instrumentation.grpcnetclient

#2139 [Instrumentation.AWS] Replace .NET 6 target with .NET 8
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/OpenTelemetry.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/HttpResponseMessageBody.cs
Labels: comp:instrumentation.aws

#2140 [Instrumentation.AWSLambda] Replace .NET 6 target with .NET 8 and add .NET Standard 2.0
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSMessagingUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
Labels: comp:instrumentation.awslambda

#2142 [Instrumentation.ConfluentKafka] Remove .NET 6 target and add .NET Standard 2.0
  .github/workflows/integration.yml
  src/OpenTelemetry.Instrumentation.ConfluentKafka/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetry.Instrumentation.ConfluentKafka.csproj
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumeResultExtensions.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumerBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryProducerBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetry.Instrumentation.ConfluentKafka.Tests.csproj
Labels: infra, comp:instrumentation.confluentkafka

#2144 [Instrumentation.ElasticsearchClient] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
Labels: comp:instrumentation.elasticsearchclient

#2147 [Instrumentation.GrpcCore] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Instrumentation.GrpcCore/OpenTelemetry.Instrumentation.GrpcCore.csproj
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
Labels: comp:instrumentation.grpccore

#2152 [Instrumentation.Http] Remove .NET 6 target
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/OpenTelemetry.Instrumentation.Http.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
Labels: comp:instrumentation.http, perf

#2151 [Instrumentation.Hangfire] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/OpenTelemetry.Instrumentation.Hangfire.Tests.csproj
Labels: comp:instrumentation.hangfire

#2153 [Instrumentation.Process] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Instrumentation.Process/OpenTelemetry.Instrumentation.Process.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/OpenTelemetry.Instrumentation.Process.Tests.csproj
Labels: comp:instrumentation.process

#2155 [Instrumentation.Runtime] Replace .NET 6 target with .NET 8
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
Labels: comp:instrumentation.runtime

#2154 [Instrumentation.Quartz] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
Labels: comp:instrumentation.quartz

#2158 [Instrumentation.Cassandra] Document how to enable tracing
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
Labels: documentation, comp:instrumentation.cassandra

#2159 [Instrumentation.SqlClient] Remove .NET 6 target
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTestsFixture.cs
Labels: comp:instrumentation.sqlclient

#2161 [Instrumentation.Wcf] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
Labels: comp:instrumentation.wcf

#2163 [PersistentStorage.FileSystem] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.PersistentStorage.FileSystem/OpenTelemetry.PersistentStorage.FileSystem.csproj
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/OpenTelemetry.PersistentStorage.FileSystem.Tests.csproj
Labels: comp:persistentstorage.filesystem

#2162 [PersistentStorage.Abstractions] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.PersistentStorage.Abstractions/OpenTelemetry.PersistentStorage.Abstractions.csproj
  test/OpenTelemetry.PersistentStorage.Abstractions.Tests/OpenTelemetry.PersistentStorage.Abstractions.Tests.csproj
Labels: comp:persistentstorage.abstractions

#2165 [Resources.Azure] Replace .NET 6 target with .NET 8
  src/OpenTelemetry.Resources.Azure/CHANGELOG.md
  src/OpenTelemetry.Resources.Azure/OpenTelemetry.Resources.Azure.csproj
  test/OpenTelemetry.Resources.Azure.Tests/OpenTelemetry.Resources.Azure.Tests.csproj
Labels: comp:resources.azure

#2168 [Resources.Host] Replace .NET 6 target with .NET 8 and add .NET Standard 2.0 target
  src/OpenTelemetry.Resources.Host/CHANGELOG.md
  src/OpenTelemetry.Resources.Host/HostDetector.cs
  src/OpenTelemetry.Resources.Host/OpenTelemetry.Resources.Host.csproj
  test/OpenTelemetry.Resources.Host.Tests/OpenTelemetry.Resources.Host.Tests.csproj
Labels: comp:resources.host

#2173 [SemanticConventions] Replace hardcoded TFM
  src/OpenTelemetry.SemanticConventions/OpenTelemetry.SemanticConventions.csproj
Labels: comp:semanticconventions

#2171 [Resources.ProcessRuntime] Replace .NET 6 target with .NET 8 and add .NET Standard 2.0 target
  src/OpenTelemetry.Resources.ProcessRuntime/CHANGELOG.md
  src/OpenTelemetry.Resources.ProcessRuntime/OpenTelemetry.Resources.ProcessRuntime.csproj
  test/OpenTelemetry.Resources.ProcessRuntime.Tests/OpenTelemetry.Resources.ProcessRuntime.Tests.csproj
Labels: comp:resources.processruntime

#2169 [Resources.OperatingSystem] Replace .NET 6 target with .NET 8 and add .NET Standard 2.0 target
  src/OpenTelemetry.Resources.OperatingSystem/CHANGELOG.md
  src/OpenTelemetry.Resources.OperatingSystem/OpenTelemetry.Resources.OperatingSystem.csproj
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemDetector.cs
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OpenTelemetry.Resources.OperatingSystem.Tests.csproj
Labels: comp:resources.operatingsystem

#2166 [Resources.Container] Replace .NET 6 target with .NET 8 and add .NET Standard 2.0 target
  build/Common.props
  src/OpenTelemetry.Resources.Container/CHANGELOG.md
  src/OpenTelemetry.Resources.Container/ContainerDetector.cs
  src/OpenTelemetry.Resources.Container/OpenTelemetry.Resources.Container.csproj
  test/OpenTelemetry.Resources.Container.Tests/OpenTelemetry.Resources.Container.Tests.csproj
Labels: infra, comp:resources.container

#2167 [Resources.Gcp] Replace .NET 6 target with .NET 8
  src/OpenTelemetry.Resources.Gcp/OpenTelemetry.Resources.Gcp.csproj
  test/OpenTelemetry.Resources.Gcp.Tests/OpenTelemetry.Resources.Gcp.Tests.csproj
Labels: comp:resources.gcp

#2172 [Sampler.AWS] Replace .NET 6 target with .NET 8
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
  test/OpenTelemetry.Sampler.AWS.Tests/OpenTelemetry.Sampler.AWS.Tests.csproj
Labels: comp:sampler.aws

#2177 [geneva] Bump MessagePack to a more modern version in test project
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/MessagePackSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#2175 [repo] Reencode few files from UTF-8 with BOM to UTF-8
  NuGet.config
  build/stylecop.json
  build/xunit.runner.json
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Properties/launchSettings.json
  examples/grpc.core/Examples.GrpcCore.AspNetCore/appsettings.Development.json
  test/OpenTelemetry.Resources.AWS.Tests/ecs_metadata/metadatav4-response-container-fargate.json
  test/OpenTelemetry.Resources.AWS.Tests/ecs_metadata/metadatav4-response-task-fargate.json
  test/TestApp.AspNetCore/Properties/launchSettings.json
Labels: documentation, infra, comp:resources.aws

#2164 [Resources.AWS] Remove .NET 6 target and add .NET Standard 2.0
  src/OpenTelemetry.Resources.AWS/.publicApi/net8.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.AWS/.publicApi/net8.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.AWS/AWSECSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEKSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
  src/OpenTelemetry.Resources.AWS/OpenTelemetry.Resources.AWS.csproj
  src/OpenTelemetry.Resources.AWS/ResourceDetectorUtils.cs
  test/OpenTelemetry.Resources.AWS.Tests/OpenTelemetry.Resources.AWS.Tests.csproj
Labels: comp:resources.aws

#2179 [Instrumentation.ConfluentKafka] Remove ImplicitUsings property
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetry.Instrumentation.ConfluentKafka.csproj
Labels: comp:instrumentation.confluentkafka

#2180 [repo] Simplify preprocessor directives after dropping support for .NET 6
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/TransportSendRequest.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterValidationException.cs
  src/OpenTelemetry.Extensions.AWS/AWSXRayIdGenerator.net.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreMetrics.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumerBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryProducerBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/Shared/Configuration/OpenTelemetryConfigurationExtensions.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationHelperTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/MetricTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/RouteInfo.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/TestApplicationFactory.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
Labels: comp:extensions.aws, comp:exporter.onecollector, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.confluentkafka

#2183 [Exporter.Instana] Replace .NET 6 target with .NET 8 for test project
  src/OpenTelemetry.Exporter.Instana/OpenTelemetry.Exporter.Instana.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
Labels: comp:exporter.instana

#2178 [geneva] Vendor KaitaiStruct.Runtime.CSharp bits in test project to fix publishing issues
  test/OpenTelemetry.Exporter.Geneva.Tests/External/.editorconfig
  test/OpenTelemetry.Exporter.Geneva.Tests/External/MetricsContract.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/External/VlqBase128Le.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/External/kaitai_struct_csharp_runtime/KaitaiStream.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/External/kaitai_struct_csharp_runtime/KaitaiStruct.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/External/kaitai_struct_csharp_runtime/README.md
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/THIRD-PARTY-NOTICES.TXT
Labels: comp:exporter.geneva

#2185 [Resources.AWS] Use System.Text.Json source generator with .NET Standard 2.0
  src/OpenTelemetry.Resources.AWS/AWSEBSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEC2Detector.cs
  src/OpenTelemetry.Resources.AWS/ResourceDetectorUtils.cs
  src/OpenTelemetry.Resources.AWS/SourceGenerationContext.cs
Labels: comp:resources.aws

#2187 [repo] Some cleanup after dropping support for .NET 6
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci.yml
  build/docker-compose.net6.0.yml
  opentelemetry-dotnet-contrib.sln
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
Labels: infra, comp:exporter.geneva, comp:exporter.influxdb

#2192 [repo] Replace some hardcoded TFM
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/OpenTelemetry.Exporter.OneCollector.Benchmarks.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetry.Instrumentation.ConfluentKafka.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.Owin.Tests/OpenTelemetry.Instrumentation.Owin.Tests.csproj
Labels: comp:instrumentation.wcf, comp:instrumentation.quartz, comp:instrumentation.owin, comp:instrumentation.entityframeworkcore, comp:extensions, comp:exporter.stackdriver, comp:exporter.geneva, comp:instrumentation.awslambda, comp:extensions.aws, comp:exporter.instana, comp:exporter.onecollector, comp:instrumentation.cassandra, comp:instrumentation.grpcnetclient, comp:instrumentation.confluentkafka, perf

#2193 [repo] Simplify a couple of MSBuild conditions
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
  test/OpenTelemetry.Extensions.AWS.Tests/OpenTelemetry.Extensions.AWS.Tests.csproj
Labels: comp:extensions.aws, comp:sampler.aws

#2194 [examples] Bump packages dependent on vulnerable System.Text.Json versions
  examples/kafka/Examples.ConfluentKafka.csproj
  examples/wcf/client-core/Examples.Wcf.Client.DotNet.csproj
Labels: documentation

#2195 [tests] Bump packages dependent on vulnerable System.Text.Json versions
  build/Common.nonprod.props
  examples/kafka/Examples.ConfluentKafka.csproj
  examples/wcf/client-core/Examples.Wcf.Client.DotNet.csproj
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetry.Extensions.Enrichment.Tests.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetry.Instrumentation.ConfluentKafka.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
Labels: documentation, infra, comp:instrumentation.stackexchangeredis, comp:extensions.enrichment, comp:instrumentation.cassandra, comp:instrumentation.http, comp:instrumentation.confluentkafka

#2196 [onecollector & resources.aws] Mitigate STJ vulnerabilities
  build/Common.props
  build/Common.targets
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
  src/OpenTelemetry.Resources.AWS/OpenTelemetry.Resources.AWS.csproj
Labels: infra, comp:exporter.onecollector, comp:resources.aws

#2197 [extensions.aws & sampler.aws] Mitigate STJ vulnerabilities
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
Labels: comp:extensions.aws, comp:exporter.onecollector, comp:sampler.aws, comp:resources.aws, comp:instrumentation.http

#2198 [elastic. azure, gcp] Mitigate STJ vulnerabilities
  build/Common.targets
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  src/OpenTelemetry.Resources.Azure/CHANGELOG.md
  src/OpenTelemetry.Resources.Azure/OpenTelemetry.Resources.Azure.csproj
  src/OpenTelemetry.Resources.Gcp/CHANGELOG.md
  src/OpenTelemetry.Resources.Gcp/OpenTelemetry.Resources.Gcp.csproj
Labels: infra, comp:instrumentation.elasticsearchclient, comp:resources.azure, comp:resources.gcp

#2201 [EntityFrameworkCore.Tests] Replace hardcoded TFM
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
Labels: comp:instrumentation.entityframeworkcore

#2200 [tests] Bump packages and add references to mitigate vulnerability warnings
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
Labels: comp:instrumentation.entityframeworkcore, comp:instrumentation.aspnetcore, comp:instrumentation.sqlclient

#2202 [influxdb] Mitigate STJ vulnerabilities
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
Labels: comp:exporter.influxdb

#2199 [extensions.aws + sampler.aws] Lower STJ version
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
  src/OpenTelemetry.Resources.Azure/CHANGELOG.md
  src/OpenTelemetry.Resources.Gcp/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
Labels: comp:instrumentation.elasticsearchclient, comp:extensions.aws, comp:resources.azure, comp:exporter.onecollector, comp:sampler.aws, comp:resources.aws, comp:resources.gcp

#2204 [examples] Use the OpenTelemetryCoreUnstableLatestVersion prop in AspNet example
  examples/AspNet/Examples.AspNet.csproj
Labels: documentation

#2205 [onecollector] Fix duplicate extension field bug
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationState.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializer.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
Labels: comp:exporter.onecollector

#2203 [aws] Combine Extensions.AWS, Instrumentation.AWS, & Instrumentation.AWSLambda into a single tag
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
Labels: comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws

#2209 [extensions.aws & sampler.aws] STJ tweaks
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
Labels: comp:extensions.aws, comp:sampler.aws

#2208 [onecollector-1.9.2] Patch extension data fix
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationState.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationStateTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
Labels: comp:exporter.onecollector

#2213 [onecollector] Updates for 1.9.3 patch
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationStateTests.cs
Labels: comp:exporter.onecollector

#2113 [geneva] Add support for exporting otlp metrics via user_events on Linux
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/UnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixUserEventsDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/README.md
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixUserEventsDataTransportTests.cs
  test/Shared/PlatformHelpers.cs
Labels: comp:exporter.geneva

#2214 [repo] Update CI for AWS projects sharing a tag
  .github/codecov.yml
  .github/workflows/ci.yml
  build/Projects/OpenTelemetry.Instrumentation.AWS.proj
  opentelemetry-dotnet-contrib.sln
Labels: infra

#2216 [repo] Clean up codecov
  .github/codecov.yml
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci.yml
Labels: infra

#2218 [geneva] Nullable annotations for the metrics folder
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/MetricSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/FieldNumberConstants.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/ProtobufSerializerHelper.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/TimestampHelpers.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/WireType.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/IMetricDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricWindowsEventTracingDataTransport.cs
Labels: comp:exporter.geneva

#2217 Add muhammad-othman as Instrumentation.AWS component co-owner
  .github/component_owners.yml
Labels: infra

#2190 [Exporter.Geneva] Enable nullable globally
  src/OpenTelemetry.Exporter.Geneva/EventNameExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/ExceptionStackExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/External/TraceLoggingDynamic.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaBaseExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantActivityExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Schema.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/TableNameSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/JsonSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/UncheckedASCIIEncoding.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/EtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/IDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/UnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/UnixDomainSocketEndPoint.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/MetricSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/FieldNumberConstants.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/ProtobufSerializerHelper.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/TimestampHelpers.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/WireType.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/IMetricDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixUserEventsDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricWindowsEventTracingDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
Labels: comp:exporter.geneva

#2130 [Instrumentation.EntityFrameworkCore] Update semantic conventions for stable release
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/EntityFrameworkInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  src/Shared/DatabaseSemanticConventionHelper.cs
  test/OpenTelemetry.Contrib.Shared.Tests/DatabaseSemanticConventionHelperTests.cs
  test/OpenTelemetry.Contrib.Shared.Tests/OpenTelemetry.Contrib.Shared.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkInstrumentationOptionsTests
Labels: comp:instrumentation.entityframeworkcore

#2220 [repo] Clean up SupportedNetTargetsWithoutNet6
  .github/workflows/Component.BuildTest.yml
  build/Common.nonprod.props
  test/OpenTelemetry.Contrib.Shared.Tests/OpenTelemetry.Contrib.Shared.Tests.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/OpenTelemetry.Exporter.Geneva.Benchmarks.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/OpenTelemetry.Exporter.OneCollector.Benchmarks.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Extensions.AWS.Tests/OpenTelemetry.Extensions.AWS.Tests.csproj
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetry.Extensions.Enrichment.Tests.csproj
  test/OpenTelemetry.Extensions.Tests/OpenTelemetry.Extensions.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/OpenTelemetry.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetry.Instrumentation.ConfluentKafka.Tests.csproj
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/OpenTelemetry.Instrumentation.EventCounters.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/OpenTelemetry.Instrumentation.Hangfire.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/OpenTelemetry.Instrumentation.Http.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.Process.Tests/OpenTelemetry.Instrumentation.Process.Tests.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
  test/OpenTelemetry.Instrumentation.Runtime.Tests/OpenTelemetry.Instrumentation.Runtime.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
  test/OpenTelemetry.PersistentStorage.Abstractions.Tests/OpenTelemetry.PersistentStorage.Abstractions.Tests.csproj
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/OpenTelemetry.PersistentStorage.FileSystem.Tests.csproj
  test/OpenTelemetry.Resources.AWS.Tests/OpenTelemetry.Resources.AWS.Tests.csproj
  test/OpenTelemetry.Resources.Azure.Tests/OpenTelemetry.Resources.Azure.Tests.csproj
  test/OpenTelemetry.Resources.Container.Tests/OpenTelemetry.Resources.Container.Tests.csproj
  test/OpenTelemetry.Resources.Gcp.Tests/OpenTelemetry.Resources.Gcp.Tests.csproj
  test/OpenTelemetry.Resources.Host.Tests/OpenTelemetry.Resources.Host.Tests.csproj
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OpenTelemetry.Resources.OperatingSystem.Tests.csproj
  test/OpenTelemetry.Resources.Process.Tests/OpenTelemetry.Resources.Process.Tests.csproj
  test/OpenTelemetry.Resources.ProcessRuntime.Tests/OpenTelemetry.Resources.ProcessRuntime.Tests.csproj
  test/OpenTelemetry.Sampler.AWS.Tests/OpenTelemetry.Sampler.AWS.Tests.csproj
  test/TestApp.AspNetCore/TestApp.AspNetCore.csproj
Labels: infra, comp:instrumentation.wcf, comp:instrumentation.runtime, comp:instrumentation.quartz, comp:instrumentation.hangfire, comp:instrumentation.grpccore, comp:instrumentation.entityframeworkcore, comp:instrumentation.elasticsearchclient, comp:persistentstorage.filesystem, comp:extensions, comp:exporter.stackdriver, comp:exporter.geneva, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws, comp:persistentstorage.abstractions, comp:instrumentation.stackexchangeredis, comp:exporter.instana, comp:resources.container, comp:instrumentation.eventcounters, comp:instrumentation.process, comp:resources.azure, comp:exporter.onecollector, comp:extensions.enrichment, comp:instrumentation.cassandra, comp:sampler.aws, comp:resources.aws, comp:exporter.influxdb, comp:resources.processruntime, comp:resources.process, comp:resources.host, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient, comp:resources.gcp, comp:instrumentation.confluentkafka, perf, comp:resources.operatingsystem

#2227 [geneva] Bump MessagePack version in test project to fix vulnerability warning
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#2219 [repo] Add geneva integration test leg to CI
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci.yml
  build/Common.prod.props
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixUserEventsDataTransportTests.cs
Labels: infra, comp:exporter.geneva

#2229 [Instrumentation.SqlClient] Update to follow new DB span conventions
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTraceInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#2233 [SqlClient] Refactor SqlConnectionDetails
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlConnectionDetails.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTraceInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlConnectionDetailsTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#2245 [repo] Use NetMinimumSupportedVersion
  build/Common.nonprod.props
  build/Common.props
  examples/wcf/shared/Examples.Wcf.Shared.csproj
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Extensions.Enrichment/OpenTelemetry.Extensions.Enrichment.csproj
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.AspNetCore/OpenTelemetry.Instrumentation.AspNetCore.csproj
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetry.Instrumentation.ConfluentKafka.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
  src/OpenTelemetry.Resources.AWS/OpenTelemetry.Resources.AWS.csproj
  src/OpenTelemetry.Resources.Azure/OpenTelemetry.Resources.Azure.csproj
  src/OpenTelemetry.Resources.Container/OpenTelemetry.Resources.Container.csproj
  src/OpenTelemetry.Resources.Gcp/OpenTelemetry.Resources.Gcp.csproj
  src/OpenTelemetry.Resources.Host/OpenTelemetry.Resources.Host.csproj
  src/OpenTelemetry.Resources.OperatingSystem/OpenTelemetry.Resources.OperatingSystem.csproj
  src/OpenTelemetry.Resources.Process/OpenTelemetry.Resources.Process.csproj
  src/OpenTelemetry.Resources.ProcessRuntime/OpenTelemetry.Resources.ProcessRuntime.csproj
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: documentation, infra, comp:instrumentation.runtime, comp:extensions, comp:exporter.stackdriver, comp:exporter.geneva, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws, comp:instrumentation.stackexchangeredis, comp:resources.container, comp:resources.azure, comp:exporter.onecollector, comp:extensions.enrichment, comp:sampler.aws, comp:resources.aws, comp:exporter.influxdb, comp:resources.processruntime, comp:resources.process, comp:resources.host, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient, comp:resources.gcp, comp:instrumentation.confluentkafka, comp:resources.operatingsystem

#2137 [Instrumentation.AWS] Move adding request and response info to AWSTracingPipelineHandler
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSPropagatorPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSSemanticConventions.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineCustomizer.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
Labels: comp:instrumentation.aws

#2253 [repo/Resources] Prepare to .NET9
  src/OpenTelemetry.Resources.AWS/AWSECSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEKSDetector.cs
  src/OpenTelemetry.Resources.AWS/AsyncHelper.cs
  src/OpenTelemetry.Resources.Azure/AppServiceResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AzureContainerAppsResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AzureVMResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AzureVmMetadataResponse.cs
  src/OpenTelemetry.Resources.Container/ContainerDetector.cs
  src/OpenTelemetry.Resources.Container/Utils/EncodingUtils.cs
  src/OpenTelemetry.Resources.Gcp/GcpResourceDetector.cs
  src/OpenTelemetry.Resources.Host/HostDetector.cs
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemDetector.cs
  src/OpenTelemetry.Resources.ProcessRuntime/ProcessRuntimeDetector.cs
  src/Shared/ServerCertificateValidationProvider.cs
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/FileBlobTests.cs
  test/OpenTelemetry.Resources.AWS.Tests/AsyncHelperTests.cs
  test/OpenTelemetry.Resources.Container.Tests/ContainerDetectorTests.cs
  test/OpenTelemetry.Resources.Host.Tests/HostDetectorTests.cs
Labels: comp:persistentstorage.filesystem, comp:resources.container, comp:resources.azure, comp:resources.aws, comp:resources.processruntime, comp:resources.host, comp:resources.gcp, comp:resources.operatingsystem

#2252 [redis] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisConnectionInstrumentation.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisInstrumentation.cs
  src/Shared/PropertyFetcher.AOT.cs
Labels: comp:instrumentation.stackexchangeredis

#2254 [Exporter.Geneva] benchmarks nullable
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDTraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/OpenTelemetry.Exporter.Geneva.Benchmarks.csproj
Labels: comp:exporter.geneva, perf

#2255 [Exporter.Geneva] stress nullable
  test/OpenTelemetry.Exporter.Geneva.Stress/DummyServer.cs
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/Program.cs
Labels: comp:exporter.geneva, perf

#2243 [Instrumentation.Wcf] Add .NET6 as target framework
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/AsyncResultWithTelemetryState.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/ClientChannelInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/HttpRequestMessagePropertyWrapper.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedDuplexChannel.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/InstrumentedRequestChannel.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/RequestTelemetryStateTracker.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryPropagationWriter.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationActivitySource.cs
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
Labels: comp:instrumentation.wcf

#2268 [repo/InfluxDB] Prepare to .NET9
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBExporterExtensions.cs
  src/OpenTelemetry.Exporter.InfluxDB/InfluxDBMetricsExporter.cs
  src/OpenTelemetry.Exporter.InfluxDB/TelegrafPrometheusWriterV1.cs
  src/OpenTelemetry.Exporter.InfluxDB/TelegrafPrometheusWriterV2.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/InfluxDBMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/AssertUtils.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/InfluxDBFakeServer.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/InfluxDBMetricsExporterOptionsTestExtensions.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/LineProtocolParser.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/MeterProviderBuilderTestExtensions.cs
  test/OpenTelemetry.Exporter.InfluxDB.Tests/Utils/PointData.cs
Labels: comp:exporter.influxdb

#2267 [repo/shared] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/Shared/ActivityInstrumentationHelper.cs
  src/Shared/DatabaseSemanticConventionHelper.cs
  src/Shared/GrpcTagHelper.cs
  src/Shared/NullableAttributes.cs
  src/Shared/PropertyFetcher.AOT.cs
  src/Shared/RequestDataHelper.cs
  test/OpenTelemetry.Contrib.Shared.Tests/DatabaseSemanticConventionHelperTests.cs
  test/OpenTelemetry.Contrib.Shared.Tests/RequestDataHelperTests.cs
Labels: comp:instrumentation.sqlclient

#2264 [repo/PersistentStorage] Prepare to .NET9
  src/OpenTelemetry.PersistentStorage.Abstractions/PersistentBlobProvider.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/DirectorySizeTracker.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlob.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlobProvider.cs
  src/OpenTelemetry.PersistentStorage.FileSystem/PersistentStorageHelper.cs
  test/Shared/EventSourceTestHelper.cs
  test/Shared/TestEventListener.cs
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#2270 [repo/StackDriver] Prepare to .NET9
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/ActivityExtensionsTest.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestActivityProcessor.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestTraceServiceClient.cs
Labels: comp:exporter.stackdriver

#2265 [repo/Extensions] Prepare to .NET9
  src/OpenTelemetry.Extensions.AWS/AWSXRayIdGenerator.cs
  src/OpenTelemetry.Extensions.AWS/Trace/AWSXRayPropagator.cs
  src/OpenTelemetry.Extensions.Enrichment/Internal/TraceEnrichmentActions.cs
  test/OpenTelemetry.Extensions.AWS.Tests/Trace/AWSXRayPropagatorTests.cs
  test/OpenTelemetry.Extensions.Tests/Trace/BaggageActivityProcessorTests.cs
  test/OpenTelemetry.Extensions.Tests/Trace/RateLimitingSamplerTests.cs
Labels: comp:extensions, comp:extensions.aws, comp:extensions.enrichment

#2269 [repo/Instana] Prepare to .NET9
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpan.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpanFactory.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpanSerializer.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/ActivityProcessorBase.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/DefaultActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/EventsActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/TagsActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/SpanSender.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Transport.cs
  src/OpenTelemetry.Exporter.Instana/InstanaExporter.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaExporterTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaSpanFactoryTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaSpanSerializerTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaSpanTest.cs
  test/OpenTelemetry.Exporter.Instana.Tests/Processors/DefaultActivityProcessorTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/Processors/ErrorActivityProcessorTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/Processors/EventsActivityProcessorTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/Processors/TagsActivityProcessorTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/TestInstanaExporterHelper.cs
Labels: comp:exporter.instana, perf

#2266 [repo/AWS.Sampler] Prepare to .NET9
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSampler.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRaySamplerClient.cs
  src/OpenTelemetry.Sampler.AWS/FallbackSampler.cs
  src/OpenTelemetry.Sampler.AWS/Matcher.cs
  src/OpenTelemetry.Sampler.AWS/RateLimiter.cs
  src/OpenTelemetry.Sampler.AWS/RulesCache.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRule.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRuleApplier.cs
  src/OpenTelemetry.Sampler.AWS/SystemClock.cs
  src/Shared/Guard.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRayRemoteSampler.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRaySamplerClient.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestClock.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestMatcher.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestRateLimiter.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestRateLimitingSampler.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestRulesCache.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestSamplingRuleApplier.cs
  test/OpenTelemetry.Sampler.AWS.Tests/Utils.cs
Labels: comp:sampler.aws

#2263 [Instrumentation.WCF] Switch .NET6 to .NET8
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
Labels: comp:instrumentation.wcf

#2273 [repo/WCF] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModule.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/AspNetParentSpanCorrector.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/ClientChannelInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/HttpRequestMessagePropertyWrapper.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/RequestTelemetryStateTracker.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryDispatchMessageInspector.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/WcfInstrumentationEventSource.cs
  src/Shared/PropertyFetcher.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/AspNetParentSpanCorrectorTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForHttpTests.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForTcpTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryDispatchMessageInspectorForOneWayOperationsTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryDispatchMessageInspectorTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryPropagationTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationBindingElement.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationChannel.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationChannelFactory.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationEndpointBehavior.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/DownstreamInstrumentationExtensions.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/Tools/ErrorHandlerServiceBehavior.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/IServiceContract.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/ServiceClient.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/ServiceRequest.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/WCF/ServiceResponse.cs
Labels: comp:instrumentation.wcf, comp:instrumentation.aspnet.telemetryhttpmodule

#2261 [geneva] Add support for sending metrics in OTLP format over UDS
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/README.md
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterWithPrefixTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterWithoutPrefixTests.cs
Labels: comp:exporter.geneva, perf

#2277 [SqlClient] Include instance in `db.namespace` and activity name, start activity with required tags
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTestCase.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#2279 [SqlClient] For `CommandType.StoredProcedure` set `db.operation.name` and `db.collection.name`
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
Labels: comp:instrumentation.sqlclient

#2272 [repo/AwsInstrumentations] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSServiceHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSHistogram.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMeterProvider.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMonotonicCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSUpDownCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SnsRequestContextHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SqsRequestContextHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTraceSpan.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTracer.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTracerProvider.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Utils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaHttpUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSMessagingUtils.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/RequestContextHelperTests.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/TestsHelper.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientMetricsInstrumentation.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestRequest.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/CustomResponses.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/CustomWebResponse.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/MockHttpRequest.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/MockWebResponse.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Tools/Utils.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSLambdaHttpUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSMessagingUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/SampleHandlers.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/SampleLambdaContext.cs
Labels: comp:instrumentation.awslambda, comp:instrumentation.aws

#2282 [repo/AspNet] Prepare to .NET9
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/ActivityHelperTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/HttpContextHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/WebConfigWithLocationTagTransformTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#2262 [SqlClient] Add error.type and db.response.status_code attributes
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
Labels: comp:instrumentation.sqlclient

#2276 [repo/Grpc*] Prepare to .NET9
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Quartz/QuartzInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/FoobarService.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreServerInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcServer.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/ClientTestHelpers.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/TestHttpMessageHandler.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/TrailingHeadersHelpers.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.client.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.server.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/Services/GreeterService.cs
  test/Shared/TestActivityExportProcessor.cs
Labels: comp:instrumentation.quartz, comp:instrumentation.grpccore, comp:instrumentation.grpcnetclient

#2284 [sqlclient] Remove SetDbStatementForStoredProcedure option
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
Labels: comp:instrumentation.sqlclient
