Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-05, with the labels that each got.

#1697 [Exporter.Geneva] Release prep 1.8.0-rc.1
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1704 [Instrumentation.GrpcNetClient] Move package from main repository
  .github/ISSUE_TEMPLATE/comp_instrumentation_grpcnetclient.md
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/package-Instrumentation.GrpcNetClient.yml
  build/Projects/OpenTelemetry.Instrumentation.GrpcNetClient.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.GrpcNetClient/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.GrpcNetClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.GrpcNetClient/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/GrpcClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/GrpcClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/GrpcTagHelper.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/StatusCanonicalCode.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  src/Shared/ActivityHelperExtensions.cs
  src/Shared/AssemblyVersionExtensions.cs
  src/Shared/HttpRequestMessageContextPropagation.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Contrib.Tests.Shared/TestActivityExportProcessor.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/EventSourceTest.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcServer.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTagHelperTests.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/ClientTestHelpers.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/ResponseUtils.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/TestHttpMessageHandler.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/TrailingHeadersHelpers.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.client.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.server.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/Proto/greet.proto
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/Services/GreeterService.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTraceInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Implementation/RedisProfilerEntryToActivityConverterTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
Labels: comp:instrumentation.grpcnetclient

#1703 [Exporter.Geneva] Add exemplar support for otlp protobuf format
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/FieldNumberConstants.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1708 Release v1.0.0-beta.5 of OpenTelemetry.Extensions package
  src/OpenTelemetry.Extensions/CHANGELOG.md
Labels: comp:extensions

#1710 [repo] Enable package validation
  .github/workflows/Component.BuildTest.yml
  .github/workflows/Component.Package.yml
  build/Common.prod.props
  build/RELEASING.md
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
  src/OpenTelemetry.Exporter.Instana/OpenTelemetry.Exporter.Instana.csproj
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
  src/OpenTelemetry.Extensions.Enrichment/OpenTelemetry.Extensions.Enrichment.csproj
  src/OpenTelemetry.Extensions/OpenTelemetry.Extensions.csproj
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.csproj
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.Cassandra/OpenTelemetry.Instrumentation.Cassandra.csproj
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  src/OpenTelemetry.Instrumentation.EventCounters/OpenTelemetry.Instrumentation.EventCounters.csproj
  src/OpenTelemetry.Instrumentation.GrpcCore/OpenTelemetry.Instrumentation.GrpcCore.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Process/OpenTelemetry.Instrumentation.Process.csproj
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  src/OpenTelemetry.Instrumentation.Runtime/OpenTelemetry.Instrumentation.Runtime.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
  src/OpenTelemetry.PersistentStorage.Abstractions/OpenTelemetry.PersistentStorage.Abstractions.csproj
  src/OpenTelemetry.PersistentStorage.FileSystem/OpenTelemetry.PersistentStorage.FileSystem.csproj
  src/OpenTelemetry.ResourceDetectors.AWS/OpenTelemetry.ResourceDetectors.AWS.csproj
  src/OpenTelemetry.ResourceDetectors.Azure/OpenTelemetry.ResourceDetectors.Azure.csproj
  src/OpenTelemetry.ResourceDetectors.Container/OpenTelemetry.ResourceDetectors.Container.csproj
  src/OpenTelemetry.ResourceDetectors.Host/OpenTelemetry.ResourceDetectors.Host.csproj
  src/OpenTelemetry.ResourceDetectors.Process/OpenTelemetry.ResourceDetectors.Process.csproj
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/OpenTelemetry.ResourceDetectors.ProcessRuntime.csproj
  src/OpenTelemetry.Sampler.AWS/OpenTelemetry.Sampler.AWS.csproj
  src/OpenTelemetry.SemanticConventions/OpenTelemetry.SemanticConventions.csproj
Labels: infra

#1713 [Extensions.AWS] Remove NuGet reference to System.Net.Http
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/OpenTelemetry.Extensions.AWS.csproj
Labels: comp:extensions.aws

#1716 Simplify issue templates and automatically assign component labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/comp_exporter_geneva.md
  .github/ISSUE_TEMPLATE/comp_exporter_influxdb.md
  .github/ISSUE_TEMPLATE/comp_exporter_instana.md
  .github/ISSUE_TEMPLATE/comp_exporter_onecollector.md
  .github/ISSUE_TEMPLATE/comp_exporter_stackdriver.md
  .github/ISSUE_TEMPLATE/comp_extensions.md
  .github/ISSUE_TEMPLATE/comp_extensions_aws.md
  .github/ISSUE_TEMPLATE/comp_extensions_enrichment.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_aspnet.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_aspnet.telemetryhttpmodule.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_aspnetcore.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_aws.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_awslambda.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_cassandra.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_elasticsearchclient.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_entityframeworkcore.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_eventcounters.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_grpccore.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_grpcnetclient.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_hangfire.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_http.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_owin.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_process.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_quartz.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_runtime.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_sqlclient.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_stackexchangeredis.md
  .github/ISSUE_TEMPLATE/comp_instrumentation_wcf.md
  .github/ISSUE_TEMPLATE/comp_persistentstorage.abstractions.md
  .github/ISSUE_TEMPLATE/comp_persistentstorage_filesystem.md
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_aws.md
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_azure.md
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_container.md
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_host.md
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_process.md
  .github/ISSUE_TEMPLATE/comp_resourcedetectors_processruntime.md
  .github/ISSUE_TEMPLATE/comp_sampler_aws.md
  .github/ISSUE_TEMPLATE/comp_semanticconventions.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/miscellaneous.md
  .github/workflows/add-labels.yml
  CONTRIBUTING.md
  build/add-labels.ps1
Labels: infra

#1719 [Examples.AspNet] Update dependencies
  examples/AspNet/Examples.AspNet.csproj
  examples/AspNet/Views/Web.config
  examples/AspNet/Web.config
Labels: comp:instrumentation.aspnet

#1721 [Exporter.Geneva] Prepare release 1.8.0-rc.2
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1691 [Resources.Gcp] Add Google Cloud Platform resource detector
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/package-Resources.Gcp.yml
  build/Projects/OpenTelemetry.Resources.Gcp.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Resources.Gcp/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.Gcp/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.Gcp/AssemblyInfo.cs
  src/OpenTelemetry.Resources.Gcp/CHANGELOG.md
  src/OpenTelemetry.Resources.Gcp/GcpResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Gcp/GcpResourceDetector.cs
  src/OpenTelemetry.Resources.Gcp/OpenTelemetry.Resources.Gcp.csproj
  src/OpenTelemetry.Resources.Gcp/README.md
  src/OpenTelemetry.Resources.Gcp/ResourceAttributeConstants.cs
  src/Shared/ResourceSemanticConventions.cs
  test/OpenTelemetry.Resources.Gcp.Tests/GcpResourceDetectorTests.cs
  test/OpenTelemetry.Resources.Gcp.Tests/GlobalUsings.cs
  test/OpenTelemetry.Resources.Gcp.Tests/OpenTelemetry.Resources.Gcp.Tests.csproj
Labels: comp:resources.gcp

#1800 [repo] Build script organization and additions
  .github/workflows/add-labels.yml
  .github/workflows/sanitycheck.yml
  .github/workflows/verifyaotcompat.yml
  build/scripts/add-labels.ps1
  build/scripts/finalize-publicapi.ps1
  build/scripts/sanitycheck.py
  build/scripts/test-aot-compatibility.ps1
  build/scripts/update-changelogs.ps1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1718 [Instrumentation.AspNetCore] Nullable enabled
  src/OpenTelemetry.Instrumentation.AspNetCore/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentation.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreMetrics.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/OpenTelemetry.Instrumentation.AspNetCore.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/Shared/GrpcStatusCanonicalCode.cs
  src/Shared/GrpcTagHelper.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmark/Instrumentation/AspNetCoreInstrumentationBenchmarks.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmark/Instrumentation/AspNetCoreInstrumentationNewBenchmarks.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmark/OpenTelemetry.Instrumentation.AspNetCore.Benchmark.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/IncomingRequestsCollectionsIsAccordingToTheSpecTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/MetricTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTagHelperTests.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.server.cs
Labels: comp:instrumentation.aspnetcore

#1717 [Resources.Process] Rename process detector namespace
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/package-Resources.Process.yml
  build/Projects/OpenTelemetry.Resources.Process.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.ResourceDetectors.Process/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Process/AssemblyInfo.cs
  src/OpenTelemetry.Resources.Process/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.Process/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.Process/AssemblyInfo.cs
  src/OpenTelemetry.Resources.Process/CHANGELOG.md
  src/OpenTelemetry.Resources.Process/OpenTelemetry.Resources.Process.csproj
  src/OpenTelemetry.Resources.Process/ProcessDetector.cs
  src/OpenTelemetry.Resources.Process/ProcessResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Process/ProcessSemanticConventions.cs
  src/OpenTelemetry.Resources.Process/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Resources.Process.Tests/OpenTelemetry.Resources.Process.Tests.csproj
  test/OpenTelemetry.Resources.Process.Tests/ProcessDetectorTests.cs
Labels: comp:resources.process

#1754 [Instrumentation.AspNetCore, Instrumentation.Http] Revert support for OTEL_INSTRUMENTATION_HTTP_KNOWN_METHODS
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/TelemetryHelper.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpTagHelper.cs
  src/Shared/RequestDataHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RequestDataHelperTests.cs
Labels: comp:instrumentation.aspnetcore, comp:instrumentation.http

#1801 [repo] Refactor release creation into a powershell module
  .github/workflows/Component.Package.yml
  build/Projects/OpenTelemetry.Instrumentation.AspNet.proj
  build/scripts/post-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1803 [repo] Automate PackageValidationBaselineVersion update after stable releases
  .github/workflows/Component.Package.yml
  .github/workflows/package-Exporter.Geneva.yml
  .github/workflows/package-Exporter.OneCollector.yml
  .github/workflows/package-Extensions.yml
  .github/workflows/package-Instrumentation.AspNet.yml
  .github/workflows/package-Instrumentation.AspNetCore.yml
  .github/workflows/package-Instrumentation.EventCounters.yml
  .github/workflows/package-Instrumentation.GrpcNetClient.yml
  .github/workflows/package-Instrumentation.Http.yml
  .github/workflows/package-Instrumentation.Owin.yml
  .github/workflows/package-Instrumentation.Process.yml
  .github/workflows/package-Instrumentation.Runtime.yml
  .github/workflows/package-Instrumentation.SqlClient.yml
  .github/workflows/package-Instrumentation.StackExchangeRedis.yml
  .github/workflows/package-Instrumentation.Wcf.yml
  .github/workflows/package-PersistentStorage.yml
  .github/workflows/package-ResourceDetectors.Azure.yml
  .github/workflows/package-ResourceDetectors.Host.yml
  .github/workflows/package-ResourceDetectors.ProcessRuntime.yml
  .github/workflows/package-Resources.Gcp.yml
  .github/workflows/package-Resources.Process.yml
  .github/workflows/package-SemanticConventions.yml
  build/scripts/post-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1755 Execute tests for shared code
  .github/workflows/ci.yml
  build/Projects/OpenTelemetry.Contrib.Shared.Tests.proj
  opentelemetry-dotnet-contrib.sln
  test/OpenTelemetry.Contrib.Shared.Tests/GrpcTagHelperTests.cs
  test/OpenTelemetry.Contrib.Shared.Tests/OpenTelemetry.Contrib.Shared.Tests.csproj
  test/OpenTelemetry.Contrib.Shared.Tests/RequestDataHelperTests.cs
  test/OpenTelemetry.Contrib.Tests.Shared/OpenTelemetry.Contrib.Tests.Shared.csproj
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
  test/OpenTelemetry.Extensions.Tests/OpenTelemetry.Extensions.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
  test/OpenTelemetry.PersistentStorage.Abstractions.Tests/OpenTelemetry.PersistentStorage.Abstractions.Tests.csproj
  test/OpenTelemetry.PersistentStorage.FileSystem.Tests/OpenTelemetry.PersistentStorage.FileSystem.Tests.csproj
  test/Shared/CustomTextMapPropagator.cs
  test/Shared/EnabledOnDockerPlatformTheoryAttribute.cs
  test/Shared/EventSourceTestHelper.cs
  test/Shared/InMemoryEventListener.cs
  test/Shared/SkipUnlessEnvVarFoundFactAttribute.cs
  test/Shared/SkipUnlessEnvVarFoundTheoryAttribute.cs
  test/Shared/TestActivityExportProcessor.cs
  test/Shared/TestActivityProcessor.cs
  test/Shared/TestEventListener.cs
  test/Shared/TestHttpServer.cs
  test/Shared/TestSampler.cs
  test/Shared/TestTextMapPropagator.cs
Labels: infra

#1805 [Exporter.Geneva] Add logging for successful exports
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
Labels: comp:exporter.geneva

#1798 [Exporter.Geneva] Prepare Release - 1.8.0
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Common.GenevaExporter.props
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1767 [Resources.ProcessRuntime] Rename processruntime detector namespace
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  build/Projects/OpenTelemetry.Resources.ProcessRuntime.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/AssemblyInfo.cs
  src/OpenTelemetry.Resources.ProcessRuntime/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.ProcessRuntime/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.ProcessRuntime/AssemblyInfo.cs
  src/OpenTelemetry.Resources.ProcessRuntime/CHANGELOG.md
  src/OpenTelemetry.Resources.ProcessRuntime/OpenTelemetry.Resources.ProcessRuntime.csproj
  src/OpenTelemetry.Resources.ProcessRuntime/ProcessRuntimeDetector.cs
  src/OpenTelemetry.Resources.ProcessRuntime/ProcessRuntimeResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.ProcessRuntime/ProcessRuntimeSemanticConventions.cs
  src/OpenTelemetry.Resources.ProcessRuntime/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Resources.ProcessRuntime.Tests/OpenTelemetry.Resources.ProcessRuntime.Tests.csproj
  test/OpenTelemetry.Resources.ProcessRuntime.Tests/ProcessRuntimeDetectorTests.cs
Labels: comp:resources.processruntime

#1648 [Instrumentation.GrpcCore] Record exceptions as activity events flag
  src/OpenTelemetry.Instrumentation.GrpcCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptorOptions.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/RpcScope.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/SemanticConventions.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptorOptions.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreServerInterceptorTests.cs
Labels: comp:instrumentation.grpccore

#1799 [Instrumentation.GrpcCore] Remove usage of "otel.status_code" and "otel.status_description"
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/RpcScope.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
Labels: comp:instrumentation.grpccore

#1811 [repo] Refactor CI to use Component.proj
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci.yml
  .github/workflows/publish-packages.yml
  build/Projects/Component.proj
  build/Projects/OpenTelemetry.Exporter.Geneva.proj
  build/Projects/OpenTelemetry.Exporter.OneCollector.proj
  build/Projects/OpenTelemetry.Extensions.proj
  build/Projects/OpenTelemetry.Instrumentation.AspNetCore.proj
  build/Projects/OpenTelemetry.Instrumentation.GrpcNetClient.proj
  build/Projects/OpenTelemetry.Instrumentation.Http.proj
  build/Projects/OpenTelemetry.Instrumentation.SqlClient.proj
  build/Projects/OpenTelemetry.ResourceDetectors.Azure.proj
  build/Projects/OpenTelemetry.ResourceDetectors.Host.proj
  build/Projects/OpenTelemetry.Resources.Gcp.proj
  build/Projects/OpenTelemetry.Resources.Process.proj
  build/Projects/OpenTelemetry.Resources.ProcessRuntime.proj
  build/scripts/build.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1817 Remove exemplar and exponential histogram note from readme
  src/OpenTelemetry.Exporter.Geneva/README.md
Labels: comp:exporter.geneva

#1822 Update component_owners.yml for aws projects
  .github/component_owners.yml
Labels: infra, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws, comp:sampler.aws, comp:resourcedetectors.aws

#1826 [repo] Fix Solution file (Resources.ProcessRuntime projects)
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1820 [Resources.Host] Rename host detector namespace
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.ResourceDetectors.Host/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Host/AssemblyInfo.cs
  src/OpenTelemetry.Resources.Host/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.Host/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.Host/AssemblyInfo.cs
  src/OpenTelemetry.Resources.Host/CHANGELOG.md
  src/OpenTelemetry.Resources.Host/HostDetector.cs
  src/OpenTelemetry.Resources.Host/HostResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Host/HostResourceEventSource.cs
  src/OpenTelemetry.Resources.Host/HostSemanticConventions.cs
  src/OpenTelemetry.Resources.Host/OpenTelemetry.Resources.Host.csproj
  src/OpenTelemetry.Resources.Host/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Resources.Host.Tests/HostDetectorTests.cs
  test/OpenTelemetry.Resources.Host.Tests/OpenTelemetry.Resources.Host.Tests.csproj
  test/OpenTelemetry.Resources.Host.Tests/Samples/etc_machineid
  test/OpenTelemetry.Resources.Host.Tests/Samples/etc_var_dbus_machineid
Labels: comp:resources.host

#1825 [repo] Unify Benchmarks naming
  .github/component_owners.yml
  build/Projects/Component.proj
  build/Projects/OpenTelemetry.Instrumentation.AspNetCore.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Exporter.Geneva/AssemblyInfo.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/Food.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/SerializationBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDLogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDTraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/OpenTelemetry.Exporter.Geneva.Benchmarks.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Program.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/README.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/Instrumentation/AspNetCoreInstrumentationBenchmarks.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/Instrumentation/AspNetCoreInstrumentationNewBenchmarks.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/Program.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Benchmarks/README.md
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/Instrumentation/HttpClientInstrumentationBenchmarks.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/OpenTelemetry.Instrumentation.Http.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/Program.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/README.md
Labels: infra

#1818 [Instrumentation.GrpcCore] Release 1.0.0-beta.6
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
Labels: comp:instrumentation.grpccore

#1819 [repo] Automate tasks performed when a core release is pushed from main repo
  .github/workflows/core-version-update.yml
  build/scripts/post-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1815 [Instrumentation.GrpcNetClient] Nullable
  src/OpenTelemetry.Instrumentation.GrpcNetClient/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.GrpcNetClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.GrpcNetClient/GrpcClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/GrpcClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcServer.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/ClientTestHelpers.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.client.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.server.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
Labels: comp:instrumentation.grpcnetclient

#1824 [Instrumentation.AspNet] Improve enrich methods
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/AspNetTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/README.md
Labels: comp:instrumentation.aspnet

#1829 [aspnet] Fix AspNet rules in CI and issues introduced on latest PR
  .github/workflows/ci.yml
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
Labels: infra, comp:instrumentation.aspnet

#1837 Fix variable usage in test-aot-compatibility script
  build/scripts/test-aot-compatibility.ps1
Labels: infra

#1834 [Exporter.Geneva] 1.9.0-alpha.1 release prep
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Common.GenevaExporter.props
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1836 [Instrumentation.AspNet] Release 1.8.0-beta.3
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
Labels: comp:instrumentation.aspnet

#1833 [repo] Use separate, standardized builds for all packages
  .github/workflows/ci.yml
  build/Projects/OpenTelemetry.Exporter.InfluxDB.proj
  build/Projects/OpenTelemetry.Extensions.Enrichment.proj
  build/Projects/OpenTelemetry.Instrumentation.GrpcCore.proj
Labels: infra

#1838 [repo] Code Coverage badges
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.InfluxDB/README.md
  src/OpenTelemetry.Exporter.Instana/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
  src/OpenTelemetry.Exporter.Stackdriver/README.md
  src/OpenTelemetry.Extensions.AWS/README.md
  src/OpenTelemetry.Extensions.Enrichment/README.md
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Instrumentation.AWS/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/README.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.EventCounters/README.md
  src/OpenTelemetry.Instrumentation.GrpcCore/README.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/OpenTelemetry.Instrumentation.Process/README.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
  src/OpenTelemetry.Instrumentation.Wcf/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
  src/OpenTelemetry.ResourceDetectors.AWS/README.md
  src/OpenTelemetry.ResourceDetectors.Azure/README.md
  src/OpenTelemetry.ResourceDetectors.Container/README.md
  src/OpenTelemetry.Resources.Gcp/README.md
  src/OpenTelemetry.Resources.Host/README.md
  src/OpenTelemetry.Resources.Process/README.md
  src/OpenTelemetry.Resources.ProcessRuntime/README.md
  src/OpenTelemetry.Sampler.AWS/README.md
Labels: documentation, infra

#1842 Fix StackExchangeRedisInstrumentationOptions xml docs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisInstrumentationOptions.cs
Labels: comp:instrumentation.stackexchangeredis

#1840 [Resources.Azure] Rename Azure detector namespace
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.ResourceDetectors.Azure/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Azure/AssemblyInfo.cs
  src/OpenTelemetry.Resources.Azure/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.Azure/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.Azure/AppServiceResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AssemblyInfo.cs
  src/OpenTelemetry.Resources.Azure/AzureContainerAppsResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AzureResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Azure/AzureVMResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AzureVmMetaDataRequestor.cs
  src/OpenTelemetry.Resources.Azure/AzureVmMetadataResponse.cs
  src/OpenTelemetry.Resources.Azure/CHANGELOG.md
  src/OpenTelemetry.Resources.Azure/OpenTelemetry.Resources.Azure.csproj
  src/OpenTelemetry.Resources.Azure/README.md
  src/OpenTelemetry.Resources.Azure/ResourceAttributeConstants.cs
  src/OpenTelemetry.Resources.Azure/SourceGenerationContext.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Resources.Azure.Tests/AzureResourceDetectorTests.cs
  test/OpenTelemetry.Resources.Azure.Tests/OpenTelemetry.Resources.Azure.Tests.csproj
Labels: comp:resources.azure

#1841 [repo] Automate release process
  .github/workflows/prepare-release.yml
  build/scripts/prepare-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1835 [Instrumentation.GrpcCore] @IliaBrahinets - component owner
  .github/component_owners.yml
Labels: comp:instrumentation.grpccore

#1830 Unify Microsoft.Extensions.Options version to 8.0.0
  build/Common.nonprod.props
  build/Common.props
  src/OpenTelemetry.Instrumentation.AspNetCore/OpenTelemetry.Instrumentation.AspNetCore.csproj
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetry.Extensions.Enrichment.Tests.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
Labels: infra, comp:instrumentation.hangfire, comp:instrumentation.entityframeworkcore, comp:instrumentation.stackexchangeredis
