Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-03, with the labels that each got.

#1597 Unify SpanHelper class
  build/Common.props
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.AspNet/SpanHelper.cs
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/Implementation/ElasticsearchRequestPipelineDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/Shared/SpanHelper.cs
Labels: comp:instrumentation.owin, comp:instrumentation.elasticsearchclient, comp:instrumentation.aspnet

#1600 [Instrumentation.AspNet, Instrumentation.Quartz] Use new PropertyFetcher
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.Quartz/OpenTelemetry.Instrumentation.Quartz.csproj
  src/Shared/PropertyFetcher.AOT.cs
Labels: comp:instrumentation.quartz, comp:instrumentation.aspnet

#1604 [Instrumentation.AspNet] Rename options class to AspNetTraceInstrumentationOptions
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/AspNetInstrumentation.cs
  src/OpenTelemetry.Instrumentation.AspNet/AspNetTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.AspNet/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.aspnet

#1576 [ResourceDetectors.AWS] Implement support for some cloud.resource_id attribute in AWS ECS detector
  src/OpenTelemetry.ResourceDetectors.AWS/AWSECSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSSemanticConventions.cs
  src/OpenTelemetry.ResourceDetectors.AWS/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.AWS/README.md
  test/OpenTelemetry.ResourceDetectors.AWS.Tests/AWSECSResourceDetectorTests.cs
Labels: comp:resourcedetectors.aws

#1608 [ResourceDetector.Process] support process.owner attribute
  src/OpenTelemetry.ResourceDetectors.Process/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Process/ProcessDetector.cs
  src/OpenTelemetry.ResourceDetectors.Process/ProcessSemanticConventions.cs
  src/OpenTelemetry.ResourceDetectors.Process/README.md
  test/OpenTelemetry.ResourceDetectors.Process.Tests/ProcessDetectorTests.cs
Labels: comp:resourcedetectors.process

#1601 [Instrumentation.Owin] Nullable
  src/OpenTelemetry.Instrumentation.Owin/.publicApi/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Owin/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  src/OpenTelemetry.Instrumentation.Owin/Implementation/OwinInstrumentationActivitySource.cs
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Owin/OwinInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Owin/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/Controllers/TestController.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/OpenTelemetry.Instrumentation.Owin.Tests.csproj
Labels: comp:instrumentation.owin

#1606 [Instrumentation.AspNet] metrics - remove server attributes
  src/OpenTelemetry.Instrumentation.AspNet/AspNetMetricsInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
Labels: comp:instrumentation.aspnet

#1612 [Instrumentation.Redis] Fix and modernize example
  examples/redis/Examples.StackExchangeRedis/Examples.StackExchangeRedis.csproj
  examples/redis/Examples.StackExchangeRedis/Program.cs
  examples/redis/Examples.StackExchangeRedis/README.md
Labels: comp:instrumentation.stackexchangeredis

#1607 [Instrumentation.AspNet] Spans - semantic convention v1.24.0
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/RequestDataHelper.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RequestDataHelperTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RouteTestHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/TestHttpWorkerRequest.cs
Labels: comp:instrumentation.aspnet

#1596 [Exporter.Geneva] Add otlp protobuf metric exporter
  .editorconfig
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/FieldNumberConstants.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/ProtobufSerializerHelper.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/TimestampHelpers.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/WireType.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/IMetricDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDataTransport.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/Proto/opentelemetry/proto/collector/metrics/v1/metrics_service.proto
  test/OpenTelemetry.Exporter.Geneva.Tests/Proto/opentelemetry/proto/common/v1/common.proto
  test/OpenTelemetry.Exporter.Geneva.Tests/Proto/opentelemetry/proto/metrics/v1/metrics.proto
  test/OpenTelemetry.Exporter.Geneva.Tests/Proto/opentelemetry/proto/resource/v1/resource.proto
Labels: comp:exporter.geneva

#1626 [Exporter.Geneva] [otlp format] Add double counter support
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1628 [Exporter.Geneva][otlp protobuf] Add test for updown counter
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1629 [Exporter.Geneva][otlp protobuf] Add histogram support
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva
