Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-01, with the labels that each got.

#1512 [Instrumentation.AWSLambda] Complements documentation about DisableAwsXRayContextExtraction property.
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
Labels: comp:instrumentation.awslambda

#1521 Documentation - use new markdown syntax for Notes
  examples/wcf/README.md
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Extensions.Enrichment/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/README.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.MassTransit/README.md
  src/OpenTelemetry.Instrumentation.MySqlData/README.md
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
Labels: documentation

#1497 [Exporter.StackDriver] Add net8 and net6 TFM support and update Google Cloud libraries (#1414)
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/net8.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/net8.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  src/OpenTelemetry.Exporter.Stackdriver/Utils/CommonUtils.cs
Labels: comp:exporter.stackdriver

#1510 [ResourceDetectors.AWS] mark class as sealed
  src/OpenTelemetry.ResourceDetectors.AWS/AWSEBSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSEC2ResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSECSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSEKSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSResourcesEventSource.cs
  src/OpenTelemetry.ResourceDetectors.AWS/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.AWS/ResourceDetectorUtils.cs
Labels: comp:resourcedetectors.aws

#1538 ASP.NET and OWIN Instrumentations - fix description for `http.server.request.duration` metric
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/OwinInstrumentationMetrics.cs
  src/OpenTelemetry.Instrumentation.Owin/README.md
Labels: comp:instrumentation.owin, comp:instrumentation.aspnet

#1542 [Instrumentation.AWS] Bump minimal AWS SDKs to 3.7.300
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/OpenTelemetry.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestRequest.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestRequestContext.cs
Labels: comp:instrumentation.aws

#1545 [Instrumentation.AWSLambda] Update to net6.0
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaResourceDetector.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSMessagingUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
Labels: comp:instrumentation.awslambda

#1536 ResourceDetectors.Container: Removing Support for .NET Framework 4.6.2
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.ResourceDetectors.Container/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Container/ContainerResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.Container/OpenTelemetry.ResourceDetectors.Container.csproj
  test/OpenTelemetry.ResourceDetectors.Container.Tests/OpenTelemetry.ResourceDetectors.Container.Tests.csproj
Labels: comp:resourcedetectors.container

#1544 [Instrumentation.AWSLambda] Fix AoT warnings
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSMessagingUtils.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/OpenTelemetry.Instrumentation.AWSLambda.csproj
  src/OpenTelemetry.Instrumentation.AWSLambda/SourceGenerationContext.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: comp:instrumentation.awslambda

#1547 [Instrumentation.AWS] Support .NET 6 and resolve AoT warning
  src/OpenTelemetry.Instrumentation.AWS/.publicApi/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.AWS/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: comp:instrumentation.aws

#1553 [ResourceDetector.Host] Log exception when cannot detect host.name
  src/OpenTelemetry.ResourceDetectors.Host/HostDetector.cs
  src/OpenTelemetry.ResourceDetectors.Host/HostResourceEventSource.cs
  src/OpenTelemetry.ResourceDetectors.Host/OpenTelemetry.ResourceDetectors.Host.csproj
Labels: comp:resourcedetectors.host
