Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-08, with the labels that each got.

#1987 [OneCollector] Fix events not firing for failed responses on .NET Framework
  build/Common.nonprod.props
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/OneCollectorExporterEventSource.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/HttpJsonPostTransport.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/HttpJsonPostTransportTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.client.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/Shared/InMemoryEventListener.cs
Labels: infra, comp:exporter.geneva, comp:exporter.onecollector, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient

#1992 [onecollector] Use HttpClient.SendAsync on mobile platforms to avoid PlatformNotSupportedExceptions
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/HttpJsonPostTransport.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/IHttpClient.cs
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/LogRecordCommonSchemaJsonHttpPostBenchmarks.cs
Labels: comp:exporter.onecollector, perf

#1993 [Exporter.Geneva] Edit 1.9.0 changelog to clarify exemplars support
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1995 [repo] Update Docker Compose to v2
  .github/workflows/integration.yml
Labels: infra

#1980 [Instrumentation.AWS] Add AWS metrics instrumentation
  src/OpenTelemetry.Instrumentation.AWS/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSHistogram.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMeter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMeterProvider.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMonotonicCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSUpDownCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/OpenTelemetry.Instrumentation.AWS.Tests.csproj
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientMetricsInstrumentation.cs
Labels: comp:instrumentation.aws

#1999 [onecollector] Serialization fixes
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/OneCollectorExporterEventSource.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/BatchSerializationResult.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/BatchSerializationState.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/ISerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Sinks/WriteDirectlyToTransportSink.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/WriteDirectlyToTransportSinkTests.cs
Labels: comp:exporter.onecollector

#1871 [aspnet] Add url.path to sampler tags
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#2006 Add component status and owners information for individual projects
  README.md
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.InfluxDB/README.md
  src/OpenTelemetry.Exporter.Instana/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
  src/OpenTelemetry.Exporter.Stackdriver/README.md
  src/OpenTelemetry.Extensions.AWS/README.md
  src/OpenTelemetry.Extensions.Enrichment/README.md
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Instrumentation.AWS/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/README.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/README.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.EventCounters/README.md
  src/OpenTelemetry.Instrumentation.GrpcCore/README.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/OpenTelemetry.Instrumentation.Process/README.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
  src/OpenTelemetry.Instrumentation.Wcf/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
  src/OpenTelemetry.Resources.AWS/README.md
  src/OpenTelemetry.Resources.Azure/README.md
  src/OpenTelemetry.Resources.Container/README.md
  src/OpenTelemetry.Resources.Gcp/README.md
  src/OpenTelemetry.Resources.Host/README.md
  src/OpenTelemetry.Resources.OperatingSystem/README.md
  src/OpenTelemetry.Resources.Process/README.md
  src/OpenTelemetry.Resources.ProcessRuntime/README.md
  src/OpenTelemetry.Sampler.AWS/README.md
Labels: documentation, comp:instrumentation.wcf, comp:instrumentation.runtime, comp:instrumentation.quartz, comp:instrumentation.owin, comp:instrumentation.hangfire, comp:instrumentation.grpccore, comp:instrumentation.entityframeworkcore, comp:instrumentation.elasticsearchclient, comp:persistentstorage.filesystem, comp:extensions, comp:exporter.stackdriver, comp:exporter.geneva, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws, comp:persistentstorage.abstractions, comp:instrumentation.stackexchangeredis, comp:exporter.instana, comp:resources.container, comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet, comp:instrumentation.eventcounters, comp:instrumentation.process, comp:resources.azure, comp:exporter.onecollector, comp:extensions.enrichment, comp:instrumentation.cassandra, comp:sampler.aws, comp:resources.aws, comp:exporter.influxdb, comp:resources.processruntime, comp:resources.process, comp:resources.host, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient, comp:resources.gcp, comp:instrumentation.confluentkafka, comp:resources.operatingsystem

#2007 Fix readme links
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.InfluxDB/README.md
  src/OpenTelemetry.Exporter.Instana/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
  src/OpenTelemetry.Exporter.Stackdriver/README.md
  src/OpenTelemetry.Extensions.AWS/README.md
  src/OpenTelemetry.Extensions.Enrichment/README.md
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Instrumentation.AWS/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/README.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/README.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.EventCounters/README.md
  src/OpenTelemetry.Instrumentation.GrpcCore/README.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/OpenTelemetry.Instrumentation.Process/README.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
  src/OpenTelemetry.Instrumentation.Wcf/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
  src/OpenTelemetry.Resources.AWS/README.md
  src/OpenTelemetry.Resources.Azure/README.md
  src/OpenTelemetry.Resources.Container/README.md
  src/OpenTelemetry.Resources.Gcp/README.md
  src/OpenTelemetry.Resources.Host/README.md
  src/OpenTelemetry.Resources.OperatingSystem/README.md
  src/OpenTelemetry.Resources.Process/README.md
  src/OpenTelemetry.Resources.ProcessRuntime/README.md
  src/OpenTelemetry.Sampler.AWS/README.md
Labels: documentation, comp:instrumentation.wcf, comp:instrumentation.runtime, comp:instrumentation.quartz, comp:instrumentation.owin, comp:instrumentation.hangfire, comp:instrumentation.grpccore, comp:instrumentation.entityframeworkcore, comp:instrumentation.elasticsearchclient, comp:persistentstorage.filesystem, comp:extensions, comp:exporter.stackdriver, comp:exporter.geneva, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws, comp:persistentstorage.abstractions, comp:instrumentation.stackexchangeredis, comp:exporter.instana, comp:resources.container, comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet, comp:instrumentation.eventcounters, comp:instrumentation.process, comp:resources.azure, comp:exporter.onecollector, comp:extensions.enrichment, comp:instrumentation.cassandra, comp:sampler.aws, comp:resources.aws, comp:exporter.influxdb, comp:resources.processruntime, comp:resources.process, comp:resources.host, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient, comp:resources.gcp, comp:instrumentation.confluentkafka, comp:resources.operatingsystem

#1996 Rate Limiting sampler for .NET
  src/OpenTelemetry.Extensions/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/Internal/RateLimiter.cs
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Extensions/Trace/RateLimitingSampler.cs
  test/OpenTelemetry.Extensions.Tests/Trace/RateLimitingSamplerTests.cs
Labels: comp:extensions

#2009 Add changelog for rate limiting sampler
  src/OpenTelemetry.Extensions/CHANGELOG.md
Labels: comp:extensions

#1974 [Instrumentation.AWS] Update the instrumentation logic to use AWS TracerProvider.
  src/OpenTelemetry.Instrumentation.AWS/AWSClientInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSPropagatorPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineCustomizer.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSHistogram.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMeter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMeterProvider.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMonotonicCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSUpDownCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTraceSpan.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTracer.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTracerProvider.cs
  src/OpenTelemetry.Instrumentation.AWS/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/TestsHelper.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
Labels: comp:instrumentation.aws

#2017 Fix OpenTelemetry.Instrumentation.Http 1.9.0 release notes
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
Labels: comp:instrumentation.http

#2018 Request to release OpenTelemetry.Instrumentation.AWS package
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
Labels: comp:instrumentation.aws

#1985 [Resources.Host] Fix the bug where macOS was detected as Linux
  .github/workflows/ci.yml
  src/OpenTelemetry.Resources.Host/CHANGELOG.md
  src/OpenTelemetry.Resources.Host/HostDetector.cs
  src/OpenTelemetry.Resources.Host/HostResourceEventSource.cs
  test/OpenTelemetry.Resources.Host.Tests/HostDetectorTests.cs
Labels: infra, comp:resources.host

#2011 [Asp.Net Core, HttpClient] Clarify Enrich callback sequence
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  src/OpenTelemetry.Instrumentation.Http/README.md
Labels: documentation, comp:instrumentation.aspnetcore, comp:instrumentation.http

#1983 [Resources.OperatingSystem] Implement additional osdetector attributes
  src/OpenTelemetry.Resources.OperatingSystem/CHANGELOG.md
  src/OpenTelemetry.Resources.OperatingSystem/OpenTelemetry.Resources.OperatingSystem.csproj
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemDetector.cs
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemResourcesEventSource.cs
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemSemanticConventions.cs
  src/OpenTelemetry.Resources.OperatingSystem/README.md
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OpenTelemetry.Resources.OperatingSystem.Tests.csproj
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OperatingSystemDetectorTests.cs
  test/OpenTelemetry.Resources.OperatingSystem.Tests/Samples/SystemVersion.plist
  test/OpenTelemetry.Resources.OperatingSystem.Tests/Samples/os-release
Labels: comp:resources.operatingsystem
