Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-07, with the labels that each got.

#1493 Add ConfluentKafka instrumentation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/prepare-release.yml
  build/Common.props
  build/Projects/OpenTelemetry.Instrumentation.ConfluentKafka.proj
  examples/kafka/Constants.cs
  examples/kafka/Examples.ConfluentKafka.csproj
  examples/kafka/ProduceConsumeHostedService.cs
  examples/kafka/Program.cs
  examples/kafka/README.md
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.ConfluentKafka/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.ConfluentKafka/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.ConfluentKafka/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaCommon.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaConsumerInstrumentation.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaConsumerInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaProducerInstrumentation.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaProducerInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedConsumer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedConsumerBuilder.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedProducer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedProducerBuilder.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Consumer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Producer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetry.Instrumentation.ConfluentKafka.csproj
  src/OpenTelemetry.Instrumentation.ConfluentKafka/README.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Consumer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Producer.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/Dockerfile
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/HostedMeteringTests.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/HostedTracingAndMeteringTests.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/HostedTracingTests.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/KafkaHelpers.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/MeterProviderExtensions.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/MeteringTests.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetry.Instrumentation.ConfluentKafka.Tests.csproj
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/ProducerExtensions.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/TracingTests.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/docker-compose.yml
Labels: documentation, infra, comp:instrumentation.confluentkafka

#1933 Add YAMLLint to CI
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-packages.yml
  .github/workflows/yamllint.yml
  .yamllint
  CONTRIBUTING.md
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/docker-compose.yml
Labels: documentation, infra, comp:instrumentation.cassandra

#1936 [Instrumentation.GrpcCore] Nullable support
  src/OpenTelemetry.Instrumentation.GrpcCore/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.GrpcCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.GrpcCore/AsyncStreamReaderProxy.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientStreamWriterProxy.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptorOptions.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/GrpcCoreInstrumentation.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/OpenTelemetry.Instrumentation.GrpcCore.csproj
  src/OpenTelemetry.Instrumentation.GrpcCore/RpcScope.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerStreamWriterProxy.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptorOptions.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/FoobarService.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreServerInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/InterceptorActivityListener.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/TestActivityTags.cs
Labels: comp:instrumentation.grpccore

#1941 [Instrumentation.Http] Nullable
  src/OpenTelemetry.Instrumentation.Http/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientMetrics.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.client.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/Instrumentation/HttpClientInstrumentationBenchmarks.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmarks/OpenTelemetry.Instrumentation.Http.Benchmarks.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpOutTestCase.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpTestData.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/RepeatHandler.cs
Labels: comp:instrumentation.http, comp:instrumentation.grpcnetclient, perf

#1947 Fix yamlint
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/component_owners.yml
Labels: infra

#1945 Bump System.Text.Json to 8.0.4 due to CVE-2024-30105
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetry.Instrumentation.ConfluentKafka.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
Labels: comp:instrumentation.http, comp:instrumentation.confluentkafka

#1946 [tests - resource packages] Use extension method instead of constructor in Tests
  test/OpenTelemetry.Resources.Azure.Tests/AzureResourceDetectorTests.cs
  test/OpenTelemetry.Resources.Host.Tests/HostDetectorTests.cs
  test/OpenTelemetry.Resources.Process.Tests/ProcessDetectorTests.cs
  test/OpenTelemetry.Resources.ProcessRuntime.Tests/ProcessRuntimeDetectorTests.cs
Labels: comp:resources.azure, comp:resources.processruntime, comp:resources.process, comp:resources.host

#1943 [Resources.OperatingSystem] initial implementation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Resources.OperatingSystem/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.OperatingSystem/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.OperatingSystem/AssemblyInfo.cs
  src/OpenTelemetry.Resources.OperatingSystem/CHANGELOG.md
  src/OpenTelemetry.Resources.OperatingSystem/OpenTelemetry.Resources.OperatingSystem.csproj
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemDetector.cs
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemSemanticConventions.cs
  src/OpenTelemetry.Resources.OperatingSystem/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OpenTelemetry.Resources.OperatingSystem.Tests.csproj
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OperatingSystemDetectorTests.cs
Labels: infra, comp:resources.operatingsystem

#1952 [repo] Clarify resource detectors README
  src/OpenTelemetry.Resources.AWS/AWSResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.AWS/README.md
  src/OpenTelemetry.Resources.Azure/AzureResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Azure/README.md
  src/OpenTelemetry.Resources.Container/ContainerResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Container/README.md
  src/OpenTelemetry.Resources.Gcp/GcpResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Gcp/README.md
  src/OpenTelemetry.Resources.Host/HostResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Host/README.md
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.OperatingSystem/README.md
  src/OpenTelemetry.Resources.Process/ProcessResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.Process/README.md
  src/OpenTelemetry.Resources.ProcessRuntime/ProcessRuntimeResourceBuilderExtensions.cs
  src/OpenTelemetry.Resources.ProcessRuntime/README.md
Labels: documentation, comp:resources.container, comp:resources.azure, comp:resources.aws, comp:resources.processruntime, comp:resources.process, comp:resources.host, comp:resources.gcp, comp:resources.operatingsystem

#1816 [Extensions] Update BaggageActivityProcessor to use baggage key predicate
  src/OpenTelemetry.Extensions/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/Internal/OpenTelemetryExtensionsEventSource.cs
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Extensions/Trace/BaggageActivityProcessor.cs
  src/OpenTelemetry.Extensions/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Extensions.Tests/Trace/BaggageActivityProcessorTests.cs
Labels: comp:extensions

#1963 [infra] Sync up add-labels with changes from main repo
  build/scripts/add-labels.psm1
Labels: infra

#1966 [Instrumentation.StackExchangeRedis] @matt-hensley as component owner
  .github/component_owners.yml
Labels: infra, comp:instrumentation.stackexchangeredis

#1961 [Instrumentation.StackExchangeRedis] Updates `StackExchange.Redis` to `2.6.122`
  build/Common.props
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
Labels: infra, comp:instrumentation.stackexchangeredis

#1940 [Instrumentation.GrpcCore] Update minimal supported version of Grpc.Core.Api to 2.46.6
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientStreamWriterProxy.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/OpenTelemetry.Instrumentation.GrpcCore.csproj
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerStreamWriterProxy.cs
Labels: comp:instrumentation.grpccore

#1965 [Resources.OperatingSystem] Fix issue with detecting MacOS
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci.yml
  src/OpenTelemetry.Resources.OperatingSystem/CHANGELOG.md
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemDetector.cs
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OperatingSystemDetectorTests.cs
Labels: infra, comp:resources.operatingsystem

#1969 [Resources.OperatingSystem] readme typo fix
  src/OpenTelemetry.Resources.OperatingSystem/README.md
Labels: documentation, comp:resources.operatingsystem

#1973 [Instrumentation.Owin] Add IConfiguration support
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/OwinInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Owin/OwinInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Owin/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
Labels: comp:instrumentation.owin

#1976 [Instrumentation.AspNet] Add IConfiguration support
  src/OpenTelemetry.Instrumentation.AspNet/AspNetTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/AspNetInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.AspNet/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.AspNet/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
Labels: comp:instrumentation.aspnet

#1977 [Instrumentation.Owin] Remove SDK dependency
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
Labels: comp:instrumentation.owin

#1978 [Tests] Nullable - Instrumentation.ConfluentKafka and Exporter.Instana
  examples/kafka/Examples.ConfluentKafka.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaExporterTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaSpanSerializerTests.cs
  test/OpenTelemetry.Exporter.Instana.Tests/InstanaSpanTest.cs
  test/OpenTelemetry.Exporter.Instana.Tests/OpenTelemetry.Exporter.Instana.Tests.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/TestActivityProcessor.cs
  test/OpenTelemetry.Exporter.Instana.Tests/TestSpanSender.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/HostedTracingAndMeteringTests.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/KafkaHelpers.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetry.Instrumentation.ConfluentKafka.Tests.csproj
Labels: documentation, comp:exporter.instana, comp:instrumentation.confluentkafka

#1955 [Instrumentation.Http] Set http cancellation error description and type
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
Labels: comp:instrumentation.http
