Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-09, with the labels that each got.

#2037 [Instrumentation.AWSLambda] Incoming FaaS Span attributes: detect and set attribute for cold start
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaSemanticConventions.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
Labels: comp:instrumentation.awslambda

#2035 [repo] Drop dotnet-xunit + bump test dependencies
  build/Common.nonprod.props
  examples/AspNet/Examples.AspNet.csproj
  examples/InfluxDB/Examples.InfluxDB/Examples.InfluxDB.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/TestApp.AspNetCore/TestApp.AspNetCore.csproj
Labels: documentation, infra, comp:instrumentation.aspnetcore, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient

#2038 [repo] Remove .NET 7 target
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  CONTRIBUTING.md
  build/Common.nonprod.props
  build/docker-compose.net7.0.yml
  examples/InfluxDB/Examples.InfluxDB/Examples.InfluxDB.csproj
  examples/wcf/client-core/Examples.Wcf.Client.DotNet.csproj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/CompatibilitySuppressions.xml
  src/OpenTelemetry.Exporter.OneCollector/Internal/CallbackManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/BatchSerializationResult.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationHelper.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/TransportSendRequest.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterValidationException.cs
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  src/OpenTelemetry.Extensions.Enrichment/OpenTelemetry.Extensions.Enrichment.csproj
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/OpenTelemetry.Instrumentation.AspNetCore.csproj
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/OpenTelemetry.Exporter.OneCollector.Benchmarks.csproj
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationHelperTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OpenTelemetry.Exporter.OneCollector.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.net7.0.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/TestApplicationFactory.cs
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/Dockerfile
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/TestApp.AspNetCore/TestApp.AspNetCore.csproj
Labels: documentation, infra, comp:instrumentation.entityframeworkcore, comp:extensions, comp:exporter.geneva, comp:exporter.onecollector, comp:extensions.enrichment, comp:instrumentation.cassandra, comp:exporter.influxdb, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient, perf

#2021 [OneCollector] Introduce EventFullNameMappings on options
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventFullName.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventNameManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorLogExportProcessorBuilder.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorLogExporterOptions.cs
  src/OpenTelemetry.Exporter.OneCollector/README.md
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/LogRecordCommonSchemaJsonHttpPostBenchmarks.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/EventNameManagerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorLogExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorLoggerProviderBuilderExtensionsTests.cs
Labels: comp:exporter.onecollector, perf

#2044 [geneva] Add missing XML docs for public APIs
  build/OpenTelemetryContrib.prod.ruleset
  src/OpenTelemetry.Exporter.Geneva/EventNameExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/ExceptionStackExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaBaseExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
Labels: infra, comp:exporter.geneva

#2041 [repo] Move Vishwesh to Emeritus maintainer
  README.md
Labels: documentation

#2047 [Resources.OperatingSystem] Add a fallback mechanism for `build.id`
  src/OpenTelemetry.Resources.OperatingSystem/CHANGELOG.md
  src/OpenTelemetry.Resources.OperatingSystem/OperatingSystemDetector.cs
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OpenTelemetry.Resources.OperatingSystem.Tests.csproj
  test/OpenTelemetry.Resources.OperatingSystem.Tests/OperatingSystemDetectorTests.cs
  test/OpenTelemetry.Resources.OperatingSystem.Tests/Samples/kernelOsrelease
Labels: comp:resources.operatingsystem

#2043 [onecollector] Prevent event full name mappings with "namespace.*" form
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventFullName.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorLogExporterOptionsTests.cs
Labels: comp:exporter.onecollector

#2034 [repo] Enable NugetAudit - part 1
  build/Common.nonprod.props
  build/Common.props
  examples/kafka/Examples.ConfluentKafka.csproj
  examples/owin/Examples.Owin.csproj
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetry.Instrumentation.ConfluentKafka.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.Owin.Tests/OpenTelemetry.Instrumentation.Owin.Tests.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests.csproj
Labels: documentation, infra, comp:instrumentation.quartz, comp:instrumentation.owin, comp:instrumentation.entityframeworkcore, comp:instrumentation.stackexchangeredis, comp:instrumentation.sqlclient, comp:instrumentation.confluentkafka

#2046 [Sampler.Aws] perf improvements for AWS Xray sampler
  src/OpenTelemetry.Sampler.AWS/AWSXRayRemoteSampler.cs
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/RulesCache.cs
Labels: comp:sampler.aws

#2039 [OpenTelemetry.Instrumentation.AWS] Fix Memory Leak by Reusing ActivitySources, Meters, and Instruments
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSHistogram.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMeter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMeterProvider.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSMonotonicCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Metrics/AWSUpDownCounter.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTracer.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTracerProvider.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientMetricsInstrumentation.cs
Labels: comp:instrumentation.aws

#2052 [geneva] Update code to follow more of the repo style conventions
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/TableNameSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/MetricSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/ProtobufSerializerHelper.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/EtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/UnixDomainSocketEndPoint.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/JsonSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/UncheckedASCIIEncoding.cs
Labels: comp:exporter.geneva

#2062 [geneva] Remove reflection from tests to fix failures due to renames
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
Labels: comp:exporter.geneva

#2061 Update Component Ownership for Components
  .github/component_owners.yml
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
  src/OpenTelemetry.Resources.Azure/README.md
Labels: documentation, infra, comp:persistentstorage.filesystem, comp:exporter.geneva, comp:persistentstorage.abstractions, comp:resources.azure

#2057 [Instrumentation.Hangfire] NugetAudit - fix dependencies with known vulnerabilities
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/OpenTelemetry.Instrumentation.Hangfire.csproj
Labels: comp:instrumentation.hangfire

#2058 [Instrumentation.Cassandra] NugetAudit - fix dependencies with known vulnerabilities
  src/OpenTelemetry.Instrumentation.Cassandra/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Cassandra/OpenTelemetry.Instrumentation.Cassandra.csproj
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/OpenTelemetry.Instrumentation.Cassandra.Tests.csproj
Labels: comp:instrumentation.cassandra

#2063 [geneva] Remove remaining project-level warning suppressions and update code to be compliant
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/EtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/UnixDomainSocketEndPoint.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/JsonSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#2055 [Resources.Gcp] NugetAudit - fix dependencies with known vulnerabilities
  src/OpenTelemetry.Resources.Gcp/OpenTelemetry.Resources.Gcp.csproj
Labels: comp:resources.gcp

#2056 [Resources.Azure] NugetAudit - fix dependencies with known vulnerabilities
  src/OpenTelemetry.Resources.Azure/CHANGELOG.md
  src/OpenTelemetry.Resources.Azure/OpenTelemetry.Resources.Azure.csproj
Labels: comp:resources.azure

#2065 [geneva] Enable nullable in GenevaExporter public API files
  src/OpenTelemetry.Exporter.Geneva/.publicApi/PublicAPI.Shipped.txt
Labels: comp:exporter.geneva

#2054 [repo] Always execute build-test step
  .github/workflows/ci.yml
Labels: infra

#2067 [geneva] Nullable annotations for registration extensions
  src/OpenTelemetry.Exporter.Geneva/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterExtensions.cs
Labels: comp:exporter.geneva

#1975 [Instrumentation.ConfluentKafka] Add instrumentation helper methods
  examples/kafka/ProduceConsumeHostedService.cs
  examples/kafka/Program.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaConsumerInstrumentation.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaProducerInstrumentation.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedConsumerBuilder.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedProducerBuilder.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Consumer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Producer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumerBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryProducerBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/README.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ReflectionHelpers.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Consumer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Producer.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetryConsumerBuilderExtensionsTests.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/OpenTelemetryProducerBuilderExtensionsTests.cs
Labels: documentation, comp:instrumentation.confluentkafka

#2028 [Instrumentation.Owin] Update to semantic convention v1.27.0
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Owin/README.md
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
Labels: comp:instrumentation.owin

#2070 [geneva] Nullable annotations for the remaining public API
  src/OpenTelemetry.Exporter.Geneva/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Geneva/GenevaBaseExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporterOptions.cs
Labels: comp:exporter.geneva

#2076 [geneva] Nullable annotations for the internal folder
  src/OpenTelemetry.Exporter.Geneva/EventNameExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/ExceptionStackExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/External/TraceLoggingDynamic.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantActivityExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ReentrantExportProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Schema.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/TableNameSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
Labels: comp:exporter.geneva

#2077 [repo] Fix InfluxDB pipeline definition
  .github/workflows/ci.yml
Labels: infra

#2073 [Exporter.InfluxDB] NugetAudit - fix dependencies with known vulnerabilities
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
Labels: comp:exporter.influxdb

#2074 [Instrumentation.ConfluentKafka] Add named instrumentation support
  src/OpenTelemetry.Instrumentation.ConfluentKafka/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.ConfluentKafka/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedConsumerBuilder.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedProducer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedProducerBuilder.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Consumer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Producer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Consumer.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Producer.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/HostedTracingAndMeteringTests.cs
Labels: comp:instrumentation.confluentkafka

#2079 [repo] Enable NugetAudit - finalize
  build/Common.nonprod.props
  build/Common.props
  examples/wcf/client-core/Examples.Wcf.Client.DotNet.csproj
  examples/wcf/shared/Examples.Wcf.Shared.csproj
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetry.Extensions.Enrichment.Tests.csproj
  test/OpenTelemetry.Instrumentation.Wcf.Tests/OpenTelemetry.Instrumentation.Wcf.Tests.csproj
  test/OpenTelemetry.Sampler.AWS.Tests/OpenTelemetry.Sampler.AWS.Tests.csproj
Labels: documentation, infra, comp:instrumentation.wcf, comp:exporter.geneva, comp:extensions.enrichment, comp:sampler.aws

#2080 [repo] Release request issue template & automation
  .github/ISSUE_TEMPLATE/release_request.yml
  .github/workflows/prepare-release.yml
  build/scripts/prepare-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#2085 [geneva] Nullable annotations for TLDExporter folder
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/JsonSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/UncheckedASCIIEncoding.cs
Labels: comp:exporter.geneva

#2091 [docs] Contributing and releasing doc updates
  .markdownlint.yaml
  CONTRIBUTING.md
  build/RELEASING.md
  opentelemetry-dotnet-contrib.sln
Labels: documentation, infra

#2086 [sql] Workaround integration test failures
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTestsFixture.cs
Labels: comp:instrumentation.sqlclient

#2093 [repo] Sync-up .editorconfig with main repo
  .editorconfig
  src/OpenTelemetry.Exporter.Geneva/External/TraceLoggingDynamic.cs
Labels: comp:exporter.geneva

#2064 [Resources.Azure] Add support for Container App Jobs
  src/OpenTelemetry.Resources.Azure/AzureContainerAppsResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/CHANGELOG.md
  src/OpenTelemetry.Resources.Azure/README.md
  src/OpenTelemetry.Resources.Azure/ResourceAttributeConstants.cs
  test/OpenTelemetry.Resources.Azure.Tests/AzureResourceDetectorTests.cs
Labels: comp:resources.azure

#2101 [Instrumentation.Process, Resources.Process] Properly disposes of System.Diagnostics.Process class instances insta…
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  src/OpenTelemetry.Resources.Process/CHANGELOG.md
  src/OpenTelemetry.Resources.Process/ProcessDetector.cs
Labels: comp:instrumentation.process, comp:resources.process

#2092 [geneva] Nullable annotations for MsgPackExporter folder
  src/OpenTelemetry.Exporter.Geneva/GenevaLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/TableNameSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/JsonSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/UncheckedASCIIEncoding.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/EtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/IDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/UnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/UnixDomainSocketEndPoint.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/Shared/NullableAttributes.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/LogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/SerializationBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDLogExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TLDTraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmarks/Exporter/TraceExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Stress/Program.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/ConnectionStringBuilderTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/JsonSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/LogSerializationTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/MessagePackSerializerTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixDomainSocketDataTransportTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixDomainSocketEndPointTests.cs
Labels: comp:exporter.geneva, perf

#2109 [docs] README - Fix links to membership descriptions
  README.md
Labels: documentation

#2111 [examples] Centralize TFMs for easier management
  build/Common.nonprod.props
  examples/InfluxDB/Examples.InfluxDB/Examples.InfluxDB.csproj
  examples/enrichment/Examples.Enrichment/Examples.Enrichment.csproj
  examples/event-counters/Examples.EventCounters/Examples.EventCounters.csproj
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Examples.GrpcCore.AspNetCore.csproj
  examples/kafka/Examples.ConfluentKafka.csproj
  examples/owin/Examples.Owin.csproj
  examples/process-instrumentation/process-instrumentation.csproj
  examples/redis/Examples.StackExchangeRedis/Examples.StackExchangeRedis.csproj
  examples/runtime-instrumentation/runtime-instrumentation.csproj
  examples/wcf/client-core/Examples.Wcf.Client.DotNet.csproj
  examples/wcf/client-netframework/Examples.Wcf.Client.NetFramework.csproj
  examples/wcf/server-aspnetframework/Examples.Wcf.Server.AspNetFramework.csproj
  examples/wcf/server-netframework/Examples.Wcf.Server.NetFramework.csproj
  examples/wcf/shared/Examples.Wcf.Shared.csproj
Labels: documentation, infra

#2114 [geneva] Vendor code for writing tracepoints on Linux
  .editorconfig
  src/OpenTelemetry.Exporter.Geneva/External/.editorconfig
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/.editorconfig
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/DataSegment.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/PerfTracepoint.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/RawFileHandle.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/TracepointHandle.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/Utility.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/README.md
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Types/EventHeader.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Types/EventHeaderExtension.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Types/EventHeaderExtensionKind.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Types/EventHeaderFieldEncoding.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Types/EventHeaderFieldFormat.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Types/EventHeaderFlags.cs
  src/OpenTelemetry.Exporter.Geneva/External/TraceLoggingDynamic.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  src/OpenTelemetry.Exporter.Geneva/THIRD-PARTY-NOTICES.TXT
Labels: comp:exporter.geneva

#2117 [Exporter.Geneva] Remove .NET 6 target
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/CompatibilitySuppressions.xml
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/UncheckedASCIIEncoding.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Stress/OpenTelemetry.Exporter.Geneva.Stress.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva, perf

#2119 [geneva] Rename metric transports
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDomainSocketDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricWindowsEventTracingDataTransport.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#2116 [Exporter.InfluxDB] Replace .NET 6 target with .NET 8
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
  src/OpenTelemetry.Exporter.InfluxDB/OpenTelemetry.Exporter.InfluxDB.csproj
  test/OpenTelemetry.Exporter.InfluxDB.Tests/OpenTelemetry.Exporter.InfluxDB.Tests.csproj
Labels: comp:exporter.influxdb
