Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-02, with the labels that each got.

#1552 [ResourceDetectors.AWS] Implement support for some cloud.* attributes in AWS ECS detector
  src/OpenTelemetry.ResourceDetectors.AWS/AWSEC2ResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSECSResourceDetector.cs
  src/OpenTelemetry.ResourceDetectors.AWS/AWSSemanticConventions.cs
  src/OpenTelemetry.ResourceDetectors.AWS/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.AWS/README.md
  test/OpenTelemetry.ResourceDetectors.AWS.Tests/AWSEC2ResourceDetectorTests.cs
  test/OpenTelemetry.ResourceDetectors.AWS.Tests/AWSECSResourceDetectorTests.cs
Labels: comp:resourcedetectors.aws

#1561 Bump codecov/codecov-action from 3.1.5 to 4.0.1
  .github/workflows/Component.BuildTest.yml
  .github/workflows/ci.yml
Labels: infra

#1537 [Exporter.Geneva] Skip dispose for ETW singleton of GenevaMetricExporter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricUnixDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1563 [geneva] Add guidance for configuring options using services retrieved from DI
  src/OpenTelemetry.Exporter.Geneva/README.md
Labels: documentation, comp:exporter.geneva

#1540 Fix native AoT test scripts
  .github/workflows/verifyaotcompat.yml
  build/test-aot-compatibility.ps1
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: infra

#1559 [Instrumentation.EntityFrameworkCore] Stop emitting db.statement_type attribute
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/Shared/SpanAttributeConstants.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
Labels: comp:instrumentation.entityframeworkcore

#1566 [wcf] Security fix: GHSA-vh55-786g-wjwj
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/OpenTelemetry.Instrumentation.Wcf.csproj
Labels: comp:instrumentation.wcf

#1574 [Instrumentation.Wcf] Release 1.0.0-rc.15
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
Labels: comp:instrumentation.wcf

#1571 Minor adjustment to the AWS event source
  src/OpenTelemetry.ResourceDetectors.AWS/AWSResourcesEventSource.cs
  src/OpenTelemetry.ResourceDetectors.AWS/Http/ServerCertificateValidationProvider.cs
Labels: comp:resourcedetectors.aws

#1581 [repo] CodeQL workflow tweaks
  .github/workflows/codeql-analysis.yml
  opentelemetry-dotnet-contrib.proj
Labels: infra

#1582 [aspnet-examples] Fix security warnings coming from config files
  examples/AspNet/Views/Web.config
  examples/AspNet/Web.config
  examples/wcf/server-aspnetframework/Web.config
Labels: documentation

#1580 [OpenTelemetry.Exporter.Stackdriver] Release 1.0.0-beta.5 (#1579)
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
Labels: comp:exporter.stackdriver

#1572 bugfix: AWS SQS MD5 Hash Mismatch
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSPropagatorPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSServiceHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSServiceType.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineCustomizer.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SnsRequestContextHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SqsRequestContextHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/RequestContextHelperTests.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/TestsHelper.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestRequest.cs
Labels: comp:instrumentation.aws
