Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-04, with the labels that each got.

#1634 [Exporter.Geneva][otlp protobuf] Add support for Gauge
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1635 Bump OpenTelemetry to 1.8.0
  build/Common.props
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.InfluxDB/CHANGELOG.md
  src/OpenTelemetry.Exporter.Instana/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Cassandra/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EventCounters/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Hangfire/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Quartz/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Runtime/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.Abstractions/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.AWS/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Azure/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Container/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Host/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Process/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.ProcessRuntime/CHANGELOG.md
  src/OpenTelemetry.Sampler.AWS/CHANGELOG.md
Labels: dependencies

#1637 Exporter.Geneva][otlp protobuf] Add benchmarks
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
Labels: comp:exporter.geneva

#1639 Exporter.Geneva][OTLP protobuf] Add tests for different data types
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1645 Request to release OpenTelemetry.Instrumentation.AWS package
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
Labels: comp:instrumentation.aws

#1631 [ResourceDetector.Host] Add host.id for non-containerized systems
  src/OpenTelemetry.ResourceDetectors.Host/CHANGELOG.md
  src/OpenTelemetry.ResourceDetectors.Host/HostDetector.cs
  src/OpenTelemetry.ResourceDetectors.Host/HostSemanticConventions.cs
  src/OpenTelemetry.ResourceDetectors.Host/README.md
  test/OpenTelemetry.ResourceDetectors.Host.Tests/HostDetectorTests.cs
  test/OpenTelemetry.ResourceDetectors.Host.Tests/OpenTelemetry.ResourceDetectors.Host.Tests.csproj
  test/OpenTelemetry.ResourceDetectors.Host.Tests/Samples/etc_machineid
  test/OpenTelemetry.ResourceDetectors.Host.Tests/Samples/etc_var_dbus_machineid
Labels: comp:resourcedetectors.host

#1643 [Instrumentation.Process] Adjust metrics and attributes to Sem. Conv. 1.25.0
  src/OpenTelemetry.Instrumentation.Process/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Process/ProcessMetrics.cs
  src/OpenTelemetry.Instrumentation.Process/README.md
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
Labels: comp:instrumentation.process

#1656 [Instrumentation.AspNet][Instrumentation.Owin] Redact query parameters
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.AspNet/AspNetTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/AspNetInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  src/OpenTelemetry.Instrumentation.Owin/Implementation/OwinInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Owin/OpenTelemetry.Instrumentation.Owin.csproj
  src/OpenTelemetry.Instrumentation.Owin/OwinInstrumentationOptions.cs
  src/Shared/RedactionHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
Labels: comp:instrumentation.owin, comp:instrumentation.aspnet

#1644 [Exporter.Geneva][Otlp protobuf] Add PrepopulatedMetricDimensions and Account/Namespace support
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1660 [Exporter.Stackdriver] Fixes the case when Activity/ActivityLink has several Tags with the same key
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/ActivityExtensionsTest.cs
Labels: comp:exporter.stackdriver

#1661 [Exporter.Geneva][Otlp protobuf] Add logging for serialization exception
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/OtlpProtobuf/OtlpProtobufSerializer.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OtlpProtobufMetricExporterTests.cs
Labels: comp:exporter.geneva

#1655 [Instrumentation.OWIN] Bugfix - make Meter and Histogram as a singletons
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/OwinInstrumentationMetrics.cs
Labels: comp:instrumentation.owin

#1665 [Instrumentation.OWIN] Release 1.0.0-rc.6
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
Labels: comp:instrumentation.owin

#1667 [Exporter.Geneva][Otlp protobuf] Rename private preview option
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
Labels: comp:exporter.geneva

#1669 Disable metric name validation for otlp format
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1670 [OneCollectorExporter] Resolve AOT warnings in OpenTelemetry.Exporter.OneCollector
  .github/workflows/ci.yml
  build/Common.props
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/OneCollectorExporterEventSource.cs
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: comp:exporter.onecollector

#1653 exports service.name to StackDriver if the value is present in an instance of OpenTelemetry.Resources.Resource
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ResourceExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ResourceSemanticConventions.cs
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/ResourceExtensionsTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestTraceServiceClient.cs
Labels: comp:exporter.stackdriver

#1671 [repo] Port public api file improvements from the main repo
  build/Common.prod.props
  build/Common.props
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/net7.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/netstandard2.1/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/net462/PublicAPI.Unshipped.txt
Labels: infra

#1674 [Exporter.Stackdriver] Release 1.0.0-beta.6
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
Labels: comp:exporter.stackdriver

#1677 [wcf] Reduce the amount of public api files in project
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/net462/PublicAPI.Unshipped.txt
Labels: infra, comp:instrumentation.wcf

#1679 [OneCollector] Update public api files for things released stable in 1.6.0
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/PublicAPI.Unshipped.txt
Labels: comp:exporter.onecollector

#1681 [onecollector] Update CHANGELOG for 1.8.0 release
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
Labels: comp:exporter.onecollector

#1666 [Exporter.Geneva] Resolve AOT warnings in OpenTelemetry.Exporter.Geneva
  .github/workflows/ci.yml
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Metrics/GenevaMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/EtwDataTransport.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: comp:exporter.geneva

#1678 [Exporter.Geneva] Add changelog for OTLP protobuf metric exporter.
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/README.md
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva

#1686 [Exporter.Geneva] Prepare release 1.8.0-beta.1
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
Labels: comp:exporter.geneva

#1673 [Instrumentation.SqlClient] Move package from main repository
  .github/ISSUE_TEMPLATE/comp_instrumentation_sqlclient.md
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/package-Instrumentation.SqlClient.yml
  build/Common.props
  build/Projects/OpenTelemetry.Instrumentation.SqlClient.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Contrib.Tests.Shared/EnabledOnDockerPlatformTheoryAttribute.cs
  test/OpenTelemetry.Contrib.Tests.Shared/EventSourceTestHelper.cs
  test/OpenTelemetry.Contrib.Tests.Shared/OpenTelemetry.Contrib.Tests.Shared.csproj
  test/OpenTelemetry.Contrib.Tests.Shared/TestEventListener.cs
  test/OpenTelemetry.Contrib.Tests.Shared/TestSampler.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/EventSourceTest.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTraceInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#1684 [Instrumentation.ElasticsearchClient] Fix sensitive data in url.full (former db.url) tag
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/Implementation/ElasticsearchRequestPipelineDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  src/Shared/SemanticConventions.cs
  src/Shared/UriHelper.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/ElasticsearchClientTests.cs
Labels: comp:instrumentation.elasticsearchclient

#1687 [Instrumentation.SqlClient] nullable enable
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTraceInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#1689 [Exporter.Geneva] Update exemplars with latest SDK changes
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Common.GenevaExporter.props
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  src/OpenTelemetry.Exporter.Geneva/OpenTelemetry.Exporter.Geneva.csproj
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#1659 [OpenTelemetry.Extensions] Add baggage Activity processor
  .github/component_owners.yml
  src/OpenTelemetry.Extensions/.publicApi/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/.publicApi/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Extensions/Trace/BaggageActivityProcessor.cs
  src/OpenTelemetry.Extensions/TracerProviderBuilderExtensions.cs
Labels: comp:extensions

#1694 [Instrumentation.Http] Move package from main repository
  .github/ISSUE_TEMPLATE/comp_instrumentation_http.md
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/package-Instrumentation.Http.yml
  build/Common.props
  build/Projects/OpenTelemetry.Instrumentation.Http.proj
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/RequestDataHelperExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNet/OpenTelemetry.Instrumentation.AspNet.csproj
  src/OpenTelemetry.Instrumentation.Http/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Http/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Http/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientMetrics.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpRequestMessageContextPropagation.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpTagHelper.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/TelemetryHelper.cs
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/Shared/Configuration/IConfigurationExtensionsLogger.cs
  src/Shared/Configuration/OpenTelemetryConfigurationExtensions.cs
  src/Shared/EnvironmentVariables/EnvironmentVariablesConfigurationProvider.cs
  src/Shared/EnvironmentVariables/EnvironmentVariablesConfigurationSource.cs
  src/Shared/EnvironmentVariables/EnvironmentVariablesExtensions.cs
  src/Shared/Options/DelegatingOptionsFactory.cs
  src/Shared/Options/DelegatingOptionsFactoryServiceCollectionExtensions.cs
  src/Shared/Options/SingletonOptionsManager.cs
  src/Shared/RequestDataHelper.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Contrib.Tests.Shared/CustomTextMapPropagator.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RequestDataHelperTests.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmark/Instrumentation/HttpClientInstrumentationBenchmarks.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmark/OpenTelemetry.Instrumentation.Http.Benchmark.csproj
  test/OpenTelemetry.Instrumentation.Http.Benchmark/Program.cs
  test/OpenTelemetry.Instrumentation.Http.Benchmark/README.md
  test/OpenTelemetry.Instrumentation.Http.Tests/EventSourceTest.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpOutTestCase.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpTestData.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/RetryHandler.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/http-out-test-cases.json
Labels: comp:instrumentation.http

#1698 [Exporter.Geneva] Fix exemplar value serialization for TLV serialization format
  src/OpenTelemetry.Exporter.Geneva/Metrics/TlvMetricExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Benchmark/Exporter/MetricExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
Labels: comp:exporter.geneva
