Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-12, with the labels that each got.

#2355 [repo] Bump internal packages
  build/Common.nonprod.props
  build/Common.props
  examples/AspNet/Examples.AspNet.csproj
  examples/grpc.core/Examples.GrpcCore.AspNetCore/Examples.GrpcCore.AspNetCore.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/OpenTelemetry.Instrumentation.GrpcCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/OpenTelemetry.Instrumentation.GrpcNetClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
Labels: documentation, infra, comp:instrumentation.grpccore, comp:exporter.geneva, comp:instrumentation.aspnet, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient

#2363 [Resources.AWS] Move string literals to AWS Semantic Conventions class
  src/OpenTelemetry.Resources.AWS/AWSEBSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEC2Detector.cs
  src/OpenTelemetry.Resources.AWS/AWSECSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEKSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSSemanticConventions.cs
Labels: comp:resources.aws

#2358 Replace ActivityExtensions.SetStatus by Activity.SetStatus
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/Tracing/AWSTraceSpan.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/AWSLambdaWrapper.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumeResultExtensions.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  src/OpenTelemetry.Instrumentation.Quartz/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Quartz/Implementation/QuartzDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/ClientChannelInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/TelemetryDispatchMessageInspector.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
  test/OpenTelemetry.Instrumentation.Quartz.Tests/QuartzDiagnosticListenerTests.cs
Labels: comp:instrumentation.wcf, comp:instrumentation.quartz, comp:instrumentation.owin, comp:instrumentation.entityframeworkcore, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:instrumentation.confluentkafka

#2360 [Instrumentation.AspNetCore] metrics - cleanup code after dropping support for .NET6
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreMetrics.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/MetricTests.cs
Labels: comp:instrumentation.aspnetcore

#2359 Added changes to AWSXRayPropagator
  src/OpenTelemetry.Extensions.AWS/Trace/AWSXRayPropagator.cs
  test/OpenTelemetry.Extensions.AWS.Tests/Trace/AWSXRayPropagatorTests.cs
Labels: comp:extensions.aws

#2403 [aspnetcore] Restore metrics instrumentation in netstandard builds
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreMetrics.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/MetricTests.cs
Labels: comp:instrumentation.aspnetcore

#2404 [Instrumentation.SqlClient] Metrics documentation
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
Labels: documentation, comp:instrumentation.aspnet, comp:instrumentation.sqlclient

#2414 Remove EnableConnectionLevelAttributes option
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#2416 [repo] Fix FindComponentOwners for latest project in component_owners
  build/scripts/build.psm1
Labels: infra

#2418 [geneva] Update links to openmetrics to reference the v1.0.0 release in proto files
  test/OpenTelemetry.Exporter.Geneva.Tests/Proto/opentelemetry/proto/metrics/v1/metrics.proto
Labels: comp:exporter.geneva

#2423 [documentation] Fix links
  CONTRIBUTING.md
  README.md
  src/OpenTelemetry.Exporter.InfluxDB/README.md
  src/OpenTelemetry.Extensions.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.GrpcCore/README.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/OpenTelemetry.Instrumentation.MassTransit/README.md
  src/OpenTelemetry.Instrumentation.MySqlData/README.md
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/OpenTelemetry.Instrumentation.Process/README.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/CHANGELOG.md
Labels: documentation, comp:instrumentation.quartz, comp:instrumentation.owin, comp:instrumentation.mysqldata, comp:instrumentation.masstransit, comp:instrumentation.grpccore, comp:instrumentation.entityframeworkcore, comp:instrumentation.elasticsearchclient, comp:persistentstorage.filesystem, comp:extensions.aws, comp:instrumentation.stackexchangeredis, comp:instrumentation.aspnet, comp:instrumentation.process, comp:instrumentation.cassandra, comp:exporter.influxdb, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient

#2425 [repo] Pin Ubuntu to 22.04
  .github/workflows/Component.BuildTest.yml
  .github/workflows/add-labels.yml
  .github/workflows/assign-reviewers.yml
  .github/workflows/automation.yml
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci.yml
  .github/workflows/core-version-update.yml
  .github/workflows/integration.yml
  .github/workflows/markdownlint.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-packages.yml
  .github/workflows/sanitycheck.yml
  .github/workflows/stale.yml
  .github/workflows/verifyaotcompat.yml
  .github/workflows/yamllint.yml
Labels: infra

#2354 [Extensions] Adds `BaggageLogRecordProcessor`
  src/OpenTelemetry.Extensions/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions/CHANGELOG.md
  src/OpenTelemetry.Extensions/Internal/BaggageLogRecordProcessor.cs
  src/OpenTelemetry.Extensions/Internal/OpenTelemetryExtensionsEventSource.cs
  src/OpenTelemetry.Extensions/Logs/OpenTelemetryLoggingExtensions.cs
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Extensions/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Extensions.Tests/Logs/LoggerFactoryBaggageLogRecordProcessorTests.cs
  test/OpenTelemetry.Extensions.Tests/Logs/LoggerProviderBuilderBaggageLogRecordProcessorTests.cs
  test/OpenTelemetry.Extensions.Tests/OpenTelemetry.Extensions.Tests.csproj
Labels: comp:extensions

#2417 [repo] Allow dependabot to bump SDK patch version
  .github/dependabot.yml
  opentelemetry-dotnet-contrib.sln
Labels: infra

#2288 [Instrumentation.ServiceFabricRemoting] initial implementation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/release_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/ActorRemoting/TraceContextEnrichedActorRemotingProviderAttribute.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/OpenTelemetry.Instrumentation.ServiceFabricRemoting.csproj
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/README.md
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/ServiceFabricRemotingActivitySource.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/ServiceFabricRemotingInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/ServiceFabricRemotingUtils.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/ServiceRemoting/TraceContextEnrichedServiceRemotingProviderAttribute.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/ServiceRemotingMessageDispatcherAdapter.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/TraceContextEnrichedServiceRemotingClientAdapter.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/TraceContextEnrichedServiceRemotingClientFactoryAdapter.cs
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/IMyTestActor.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/IMyTestActorService.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/ITestMyStatefulService.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/Mocks/FabricTransportServiceRemotingRequestContextMock.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/Mocks/ServiceRemotingClientMock.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/Mocks/ServiceRemotingRequestMessageHeaderMock.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/Mocks/ServiceRemotingRequestMessageMock.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/Mocks/ServiceRemotingResponseMessageHeaderMock.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/MyTestActor.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/MyTestActorService.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/MyTestStatefulService.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests.csproj
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/ServiceFabricRemotingTests.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/ServiceFabricUtils.cs
  test/OpenTelemetry.Instrumentation.ServiceFabricRemoting.Tests/ServiceResponse.cs
Labels: infra, comp:instrumentation.servicefabricremoting

#2428 [SemanticConvention] Bump to v1.29.0
  src/OpenTelemetry.SemanticConventions/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.SemanticConventions/Attributes/AwsAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CicdAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CloudAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CloudfoundryAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/DbAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/DeploymentAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ErrorAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/FaasAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/FeatureFlagAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/GenAiAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/GeoAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/K8sAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/NetworkAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ProcessAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ServiceAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/TestAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/UrlAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/UserAgentAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/VcsAttributes.cs
  src/OpenTelemetry.SemanticConventions/CHANGELOG.md
  src/OpenTelemetry.SemanticConventions/scripts/generate.ps1
  src/OpenTelemetry.SemanticConventions/scripts/generate.sh
Labels: comp:semanticconventions

#2422 [GenevaExporter] Add ability to export Log Exception using StackTrace
  src/OpenTelemetry.Exporter.Geneva/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/ExceptionStackExportMode.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackLogExporter.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/Tld/TldLogExporter.cs
Labels: comp:exporter.geneva

#2430 [repo] Metrics instrumentations - utilize advice API for histogram boundaries
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.ConfluentKafka/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaCommon.cs
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/OwinInstrumentationMetrics.cs
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
Labels: comp:instrumentation.owin, comp:instrumentation.aspnet, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.confluentkafka

#2446 [SqlClient] Sanitize SQL query text
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/Shared/SqlProcessor.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
Labels: comp:instrumentation.sqlclient
