Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2024-06, with the labels that each got.

#1852 [repo] Switch core-version-update workflow to use a dedicated bot account
  .github/workflows/automation.yml
  .github/workflows/core-version-update.yml
  build/scripts/post-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1867 [Resources.GCP-documentation] Fix table format error.
  src/OpenTelemetry.Resources.Gcp/README.md
Labels: documentation, comp:resources.gcp

#1866 [repo] Release automation improvements
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-packages.yml
  build/scripts/post-release.psm1
  build/scripts/prepare-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1870 [repo] Separate pkg version for core-unstable packages
  build/Common.props
  examples/process-instrumentation/process-instrumentation.csproj
  examples/runtime-instrumentation/runtime-instrumentation.csproj
Labels: infra

#1876 [onecollector] Add LoggerProviderBuilder registration extension
  src/OpenTelemetry.Exporter.OneCollector/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorLogExportProcessorBuilder.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorLoggerProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.OneCollector/Logs/OneCollectorOpenTelemetryLoggerOptionsExtensions.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterTransportOptions.cs
  src/OpenTelemetry.Exporter.OneCollector/OpenTelemetry.Exporter.OneCollector.csproj
  test/OpenTelemetry.Exporter.OneCollector.Benchmarks/LogRecordCommonSchemaJsonHttpPostBenchmarks.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/OneCollectorLoggerProviderBuilderExtensionsTests.cs
Labels: comp:exporter.onecollector

#1879 [repo] Fix automation creating releases without changelog content
  build/scripts/post-release.psm1
Labels: infra

#1872 [repo] Bump test dependencies
  build/Common.nonprod.props
  src/OpenTelemetry.Instrumentation.Hangfire/HangfireInstrumentationOptions.cs
  test/OpenTelemetry.Contrib.Shared.Tests/ActivityInstrumentationHelperTest.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaMetricExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Extensions.Enrichment.Tests/OpenTelemetryEnrichmentServiceCollectionExtensionsTests.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/AWSLambdaHttpUtilsTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/Implementation/CommonExtensionsTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/ActivityHelperTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/IncomingRequestsCollectionsIsAccordingToTheSpecTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/MetricTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.EventCounters.Tests/EventCountersMetricsTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreServerInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.server.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/HangfireInstrumentationJobFilterAttributeTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
  test/OpenTelemetry.Instrumentation.Process.Tests/ProcessMetricsTests.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/AspNetParentSpanCorrectorTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForHttpTests.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryBindingElementForTcpTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryDispatchMessageInspectorTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryPropagationTests.netfx.cs
  test/OpenTelemetry.Resources.AWS.Tests/AWSECSDetectorTests.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestAWSXRaySamplerClient.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestMatcher.cs
Labels: infra

#1865 [Instrumentation.AWS] Update AWS SDK Activity Tags (#1857)
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSSemanticConventions.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
Labels: comp:instrumentation.aws

#1873 [repo] Automation improvements
  .github/workflows/add-labels.yml
  .github/workflows/automation.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-packages.yml
  build/scripts/add-labels.ps1
  build/scripts/add-labels.psm1
  build/scripts/post-release.psm1
  build/scripts/prepare-release.psm1
  opentelemetry-dotnet-contrib.sln
Labels: infra

#1880 [Exporter.Geneva] Add LoggerProviderBuilder extensions
  src/OpenTelemetry.Exporter.Geneva/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#1850 [Exporter.Geneva] Add TraceState support
  src/OpenTelemetry.Exporter.Geneva/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaExporterOptions.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MsgPackTraceExporter.cs
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/TldTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
Labels: comp:exporter.geneva

#1886 [repo] Auto-label PR workflow improvements
  build/scripts/add-labels.psm1
Labels: infra

#1881 [Instrumentation.Elasticsearch] Nullable
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/ElasticsearchClientInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/Implementation/ElasticsearchRequestPipelineDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/OpenTelemetry.Instrumentation.ElasticsearchClient.csproj
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/TracerProviderBuilderExtensions.cs
  src/Shared/ActivityInstrumentationHelper.cs
  src/Shared/ListenerHandler.cs
  src/Shared/MultiTypePropertyFetcher.cs
  src/Shared/PropertyFetcher.AOT.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/Areas/AnotherArea/Controllers/AnotherAreaController.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/Areas/MyArea/Controllers/ControllerForMyAreaController.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/Controllers/AttributeRouteController.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/Controllers/ConventionalRouteController.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/Customer.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/ElasticsearchClientTests.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests.csproj
Labels: comp:instrumentation.elasticsearchclient, comp:instrumentation.aspnetcore

#1889 [Exporter.Geneva] Fix test dependency conflict
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
Labels: comp:exporter.geneva

#1887 [Sampler.AWS] Tested and Updated X-Ray Sampler
  src/OpenTelemetry.Sampler.AWS/RulesCache.cs
  src/OpenTelemetry.Sampler.AWS/SamplingRuleApplier.cs
  test/OpenTelemetry.Sampler.AWS.Tests/TestSamplingRuleApplier.cs
Labels: comp:sampler.aws

#1914 [Sampler.AWS] Update documentation to install package
  src/OpenTelemetry.Sampler.AWS/README.md
Labels: documentation, comp:sampler.aws

#1915 [Tests] Simplify usage of SamplingResult constructor
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.ElasticsearchClient.Tests/ElasticsearchClientTests.cs
Labels: comp:instrumentation.elasticsearchclient, comp:instrumentation.aspnetcore

#1917 [Instrumentation.GrpcCore] Use shared semantic conventions
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ClientTracingInterceptorOptions.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/OpenTelemetry.Instrumentation.GrpcCore.csproj
  src/OpenTelemetry.Instrumentation.GrpcCore/RpcScope.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/SemanticConventions.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptor.cs
  src/OpenTelemetry.Instrumentation.GrpcCore/ServerTracingInterceptorOptions.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreClientInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/GrpcCoreServerInterceptorTests.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/InterceptorActivityListener.cs
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/TestActivityTags.cs
Labels: comp:instrumentation.grpccore

#1925 [repo] Align PR template with main repo
  .github/PULL_REQUEST_TEMPLATE.md
Labels: infra

#1924 [repo] Simplify preprocessor directives
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/Metrics/Transport/MetricEtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/MessagePackSerializer.cs
  src/OpenTelemetry.Exporter.Geneva/MsgPackExporter/Transport/EtwDataTransport.cs
  src/OpenTelemetry.Exporter.Geneva/TLDExporter/JsonSerializer.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/ConnectionStringParser.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventNameManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/ExtensionFieldInformationManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/OneCollectorExporterEventSource.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationHelper.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/CommonSchemaJsonSerializationState.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/HttpJsonPostTransport.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Transports/IHttpClient.cs
  src/OpenTelemetry.Exporter.OneCollector/OneCollectorExporterOptions.cs
  src/OpenTelemetry.Extensions.AWS/AWSXRayIdGenerator.cs
  src/OpenTelemetry.Extensions.AWS/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Extensions.Enrichment/TraceEnrichmentProviderBuilderExtensions.cs
  src/OpenTelemetry.Extensions.Enrichment/TraceEnrichmentServiceCollectionExtensions.cs
  src/OpenTelemetry.Extensions/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/AspNetCoreInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Runtime/RuntimeMetrics.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Resources.AWS/AWSEBSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEC2Detector.cs
  src/OpenTelemetry.Resources.AWS/AWSEKSDetector.cs
  src/OpenTelemetry.Resources.AWS/ResourceDetectorUtils.cs
  src/OpenTelemetry.Resources.AWS/SourceGenerationContext.cs
  src/OpenTelemetry.Resources.Azure/AppServiceResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AzureVmMetaDataRequestor.cs
  src/OpenTelemetry.Resources.Azure/SourceGenerationContext.cs
  src/OpenTelemetry.Resources.Process/ProcessDetector.cs
  src/OpenTelemetry.Sampler.AWS/AWSXRaySamplerClient.cs
  src/OpenTelemetry.Sampler.AWS/SourceGenerationContext.cs
  src/Shared/AssemblyVersionExtensions.cs
  src/Shared/Guard.cs
  src/Shared/Options/DelegatingOptionsFactory.cs
  src/Shared/Options/DelegatingOptionsFactoryServiceCollectionExtensions.cs
  src/Shared/Options/SingletonOptionsManager.cs
  src/Shared/PropertyFetcher.AOT.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/CommonSchemaJsonSerializationHelperTests.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTestHelpers/ClientTestHelpers.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.client.cs
  test/OpenTelemetry.Instrumentation.GrpcNetClient.Tests/GrpcTests.server.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.Runtime.Tests/RuntimeMetricsTests.cs
  test/Shared/TestHttpServer.cs
Labels: comp:instrumentation.runtime, comp:extensions, comp:exporter.geneva, comp:instrumentation.aws, comp:extensions.aws, comp:instrumentation.stackexchangeredis, comp:resources.azure, comp:exporter.onecollector, comp:extensions.enrichment, comp:sampler.aws, comp:resources.aws, comp:resources.process, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient

#1928 [Exporter.Instana] nullable support
  src/OpenTelemetry.Exporter.Instana/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpan.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpanSerializer.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/InstanaSpanTransformInfo.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/ActivityProcessorBase.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/DefaultActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/ErrorActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/EventsActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/IActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Processors/TagsActivityProcessor.cs
  src/OpenTelemetry.Exporter.Instana/Implementation/Transport.cs
  src/OpenTelemetry.Exporter.Instana/InstanaExporter.cs
  src/OpenTelemetry.Exporter.Instana/OpenTelemetry.Exporter.Instana.csproj
  test/OpenTelemetry.Exporter.Instana.Tests/Processors/EventsActivityProcessorTests.cs
Labels: comp:exporter.instana

#1922 [Resources.AWS] Prevent potential deadlocks by removing .Result calls
  src/OpenTelemetry.Resources.AWS/AWSEC2Detector.cs
  src/OpenTelemetry.Resources.AWS/AWSECSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEKSDetector.cs
  src/OpenTelemetry.Resources.AWS/AsyncHelper.cs
  src/OpenTelemetry.Resources.AWS/ResourceDetectorUtils.cs
  test/OpenTelemetry.Resources.AWS.Tests/AsyncHelperTests.cs
Labels: comp:resources.aws

#1885 [Instrumentation.StackExchangeRedis] Support when IConnectionMultiplexer is added with keyed service
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
Labels: comp:instrumentation.stackexchangeredis
