Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-06, with the labels that each got.

#2807 Initialize SNS/SQS MessageAttributes if needed to inject trace context
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SnsRequestContextHelper.cs
  src/OpenTelemetry.Instrumentation.AWS/Implementation/SqsRequestContextHelper.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/RequestContextHelperTests.cs
Labels: comp:instrumentation.aws

#2789 feat(detector-gcp): add support for faas resource attributes on GCP Cloud Run
  src/OpenTelemetry.Resources.Gcp/CHANGELOG.md
  src/OpenTelemetry.Resources.Gcp/GcpResourceDetector.cs
  test/OpenTelemetry.Resources.Gcp.Tests/GcpResourceDetectorTests.cs
Labels: comp:resources.gcp

#2806 Fix AWS SQS/SNS TraceStateNotInjected unit tests
  test/OpenTelemetry.Instrumentation.AWS.Tests/Implementation/RequestContextHelperTests.cs
Labels: comp:instrumentation.aws

#2804 Add `Filter` option to `StackExchangeRedisInstrumentationOptions`
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
Labels: comp:instrumentation.stackexchangeredis

#2818 [Exporter.Geneva] Add httpUrl for HTTP server spans
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Internal/MsgPack/MsgPackTraceExporter.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/MsgPackTraceExporterTests.cs
Labels: comp:exporter.geneva

#2823 [Resources.ProcessRuntime] Allow preview versions
  test/OpenTelemetry.Resources.ProcessRuntime.Tests/ProcessRuntimeDetectorTests.cs
Labels: comp:resources.processruntime

#2824 [WCF] Skip ServiceHost tests if non-elevated
  test/OpenTelemetry.Instrumentation.Wcf.Tests/RunAsAdminTheoryAttribute.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/TelemetryPropagationTests.netfx.cs
Labels: comp:instrumentation.wcf

#2835 [Hangfire] Fix flaky test
  test/OpenTelemetry.Instrumentation.Hangfire.Tests/HangfireInstrumentationJobFilterAttributeTests.cs
Labels: comp:instrumentation.hangfire

#2836 [Instrumentation.Cassandra] Bump min Cassandra package to 3.17.0
  build/Common.props
  src/OpenTelemetry.Instrumentation.Cassandra/CHANGELOG.md
Labels: infra, comp:instrumentation.cassandra

#2827 [Instrumentation.EntityFrameworkCore] Add component owners
  .github/component_owners.yml
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
Labels: documentation, infra, comp:instrumentation.entityframeworkcore

#2838 [Infra] Update Dockerfiles with dependabot
  .github/dependabot.yml
Labels: infra

#2829 [Instrumentation.EFCore] Support use with SqlClient Instrumentation
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/Item.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/ItemsContext.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
Labels: comp:instrumentation.entityframeworkcore, comp:instrumentation.sqlclient

#2847 [Instrumentation.ConfluentKafka] rethrow exception on consume and process
  src/OpenTelemetry.Instrumentation.ConfluentKafka/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumeResultExtensions.cs
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/TracingTests.cs
Labels: comp:instrumentation.confluentkafka

#2862 [Infra] Fix flaky test
  test/OpenTelemetry.Instrumentation.AWS.Tests/AWSClientInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/AssemblyInfo.cs
Labels: comp:instrumentation.aws

#2867 [Grpc] Fix flaky test
  test/OpenTelemetry.Instrumentation.GrpcCore.Tests/FoobarService.cs
Labels: comp:instrumentation.grpccore
