Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-04, with the labels that each got.

#2683 [SemanticConventions] Make project packable
  src/OpenTelemetry.SemanticConventions/OpenTelemetry.SemanticConventions.csproj
Labels: comp:semanticconventions

#2680 [repo] Disable pack for Shared.Tests
  .github/workflows/ci.yml
Labels: infra

#2688 [repo] Move Blanch to approver
  .github/component_owners.yml
  README.md
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/OpenTelemetry.Instrumentation.Wcf/README.md
Labels: documentation, infra, comp:instrumentation.wcf, comp:instrumentation.owin, comp:extensions, comp:exporter.geneva, comp:exporter.onecollector

#2685 [repo] OpenSSF Scorecard - pin pip packages to exact versions
  .github/workflows/yamllint.yml
  build/yamllint-requirements.txt
Labels: infra

#2684 [repo] OpenSSF Scorecard - pin docker images to exact digest
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/Dockerfile
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/Dockerfile
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Dockerfile
Labels: comp:instrumentation.stackexchangeredis, comp:instrumentation.cassandra, comp:instrumentation.confluentkafka

#2689 [sql] SQL parsing for generating `db.query.summary`
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/Shared/SqlProcessor.cs
  src/Shared/SqlStatementInfo.cs
  test/OpenTelemetry.Contrib.Shared.Tests/OpenTelemetry.Contrib.Shared.Tests.csproj
  test/OpenTelemetry.Contrib.Shared.Tests/SqlProcessorTestCases.cs
  test/OpenTelemetry.Contrib.Shared.Tests/SqlProcessorTestCases.json
  test/OpenTelemetry.Contrib.Shared.Tests/SqlProcessorTests.cs
Labels: comp:instrumentation.sqlclient

#2686 [repo] RegexGenerator for .NET
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventNameManager.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlConnectionDetails.cs
  src/OpenTelemetry.Resources.AWS/AWSECSDetector.cs
  src/OpenTelemetry.Resources.Container/ContainerDetector.cs
  src/Shared/GrpcTagHelper.cs
Labels: comp:resources.container, comp:exporter.onecollector, comp:resources.aws, comp:instrumentation.sqlclient

#2692 Update CodeOwners for OneCollector Exporter
  .github/component_owners.yml
  src/OpenTelemetry.Exporter.OneCollector/README.md
Labels: documentation, infra, comp:exporter.onecollector

#2694 [PersistentStorage.FileSystem] fix compilation issues for main repo
  src/OpenTelemetry.PersistentStorage.FileSystem/FileBlobProvider.cs
Labels: comp:persistentstorage.filesystem

#2696 add @TimothyMothra as component owner
  .github/component_owners.yml
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
Labels: documentation, infra, comp:instrumentation.runtime, comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#2698 [Exporter.Geneva] Add AFD CorrelationId enrichment for logs
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/GenevaLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/AFDCorrelationIdLogProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ConnectionStringBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/README.md
  test/OpenTelemetry.Exporter.Geneva.Tests/ConnectionStringBuilderTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#2705 [chore] Update Resources.Gcp component owners
  .github/component_owners.yml
  src/OpenTelemetry.Resources.Gcp/README.md
Labels: documentation, infra, comp:resources.gcp

#2708 [Exporter.Geneva] Fix AFDCorrelationId retrieval exception handling in Geneva Exporter
  src/OpenTelemetry.Exporter.Geneva/CHANGELOG.md
  src/OpenTelemetry.Exporter.Geneva/Internal/AFDCorrelationIdLogProcessor.cs
  src/OpenTelemetry.Exporter.Geneva/Internal/ExporterEventSource.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaCorrelationFixture.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterAFDCorrelationTests.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/GenevaLogExporterTests.cs
Labels: comp:exporter.geneva

#2714 [SqlClient] Refactor Enrich test
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlTestData.cs
Labels: comp:instrumentation.sqlclient

#2715 [SqlClient] Refactor tests enabling trace/metric instrumentation
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlTestData.cs
Labels: comp:instrumentation.sqlclient

#2718 Refactor tests validating configuration for capture of db.query.text
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlTestData.cs
Labels: comp:instrumentation.sqlclient

#2723 [SqlClient] Refactor tests validating RecordException
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlTestData.cs
Labels: comp:instrumentation.sqlclient
