Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-05, with the labels that each got.

#2726 Set max support AWS SDK version to V3
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/OpenTelemetry.Instrumentation.AWS.csproj
Labels: comp:instrumentation.aws

#2727 [SqlClient] Support new DB convention: `db.system.name`
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlEventSourceTests.netfx.cs
Labels: comp:instrumentation.sqlclient

#2693 [sql] Implement updates to new semantic conventions for stored procedures
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
Labels: comp:instrumentation.sqlclient

#2716 [Instrumentation.Wcf] Restore aspnet headers read-only state
  src/OpenTelemetry.Instrumentation.Wcf/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Wcf/Implementation/AspNetParentSpanCorrector.cs
  test/OpenTelemetry.Instrumentation.Wcf.Tests/AspNetParentSpanCorrectorTests.netfx.cs
Labels: comp:instrumentation.wcf

#2722 [infra] Add GitHub Actions test logger
  .github/workflows/Component.BuildTest.yml
  .gitignore
  build/Common.nonprod.props
Labels: infra

#2732 [Instrumentation.Owin] fix incorrect url.query attribute
  src/OpenTelemetry.Instrumentation.Owin/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Owin/Implementation/DiagnosticsMiddleware.cs
  test/OpenTelemetry.Instrumentation.Owin.Tests/DiagnosticsMiddlewareTests.cs
Labels: comp:instrumentation.owin

#2750 [SqlClient] fix IndexOutOfRangeException in SqlProcessor
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/Shared/SqlProcessor.cs
  test/OpenTelemetry.Contrib.Shared.Tests/SqlProcessorTestCases.json
Labels: comp:instrumentation.sqlclient

#2765 [docs] typo fixes
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
Labels: comp:instrumentation.awslambda, comp:instrumentation.aws, comp:resources.aws

#2782 [SemanticConvention] Bump to 1.33.0
  src/OpenTelemetry.SemanticConventions/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.SemanticConventions/Attributes/AppAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CicdAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CodeAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ContainerAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CpythonAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/DbAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/DeviceAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ErrorAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/FeatureFlagAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/GcpAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/GenAiAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/HttpAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/JvmAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/K8sAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/OtelAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ProcessAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ProfileAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/RpcAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/VcsAttributes.cs
  src/OpenTelemetry.SemanticConventions/CHANGELOG.md
  src/OpenTelemetry.SemanticConventions/scripts/generate.ps1
  src/OpenTelemetry.SemanticConventions/scripts/generate.sh
Labels: comp:semanticconventions

#2798 [SqlClient] Refactor SqlClient test
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTestCase.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTestCases.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTestCases.json
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlTestData.cs
Labels: comp:instrumentation.sqlclient

#2802 Remove Mothra from codeowners and update affiliation
  .github/component_owners.yml
  README.md
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
  src/OpenTelemetry.Resources.Azure/README.md
Labels: documentation, infra, comp:instrumentation.runtime, comp:persistentstorage.filesystem, comp:exporter.geneva, comp:persistentstorage.abstractions, comp:resources.azure, comp:exporter.onecollector

#2800 Add db.operation.name attribute
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTestCases.json
Labels: comp:instrumentation.sqlclient
