Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-09, with the labels that each got.

#2992 [Instrumentation.SqlClient] Adopt shared handle manager
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.SqlClient/TracerProviderBuilderExtensions.cs
Labels: comp:instrumentation.sqlclient

#3048 [OpAMP.Client] Fix concurrency test
  test/OpenTelemetry.OpAmp.Client.Tests/FrameProcessorTests.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Mocks/MockListener.cs
Labels: comp:opamp.client

#3046 Refactor dotnet-format
  .github/workflows/dotnet-format.yml
Labels: infra

#3041 [SqlClient] Stop Activity.Current if present
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlEventSourceListener.netfx.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
Labels: comp:instrumentation.sqlclient

#3053 [WCF] Add development note to README
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.Wcf/README.md
Labels: documentation, comp:instrumentation.wcf, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient

#3044 [Resources.AWS] Suppress OTel HTTP instrumentation in AWS Resource Detector
  src/OpenTelemetry.Resources.AWS/AWSEC2Detector.cs
  src/OpenTelemetry.Resources.AWS/AWSECSDetector.cs
  src/OpenTelemetry.Resources.AWS/AWSEKSDetector.cs
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
Labels: comp:resources.aws

#3056 [infra] Fix Use Artifacts Output layout
  .github/workflows/publish-packages.yml
Labels: infra

#3061 [Infra] Fix release workflow
  .github/workflows/publish-packages.yml
Labels: infra

#3063 [Infra] Update Testcontainers
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTestsFixture.cs
  test/Shared/DockerHelper.cs
Labels: comp:instrumentation.entityframeworkcore, comp:instrumentation.sqlclient

#3065 [Infra] Use Dockerfile for SQL container version
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTestsFixture.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/sqlserver.Dockerfile
Labels: comp:instrumentation.entityframeworkcore, comp:instrumentation.sqlclient

#3070 [Instrumentation.AspNet] Rename Enrich metrics options
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/AspNetMetricsInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
Labels: comp:instrumentation.aspnet

#3075 [EFCore] Remove non-defined DB system names
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
Labels: comp:instrumentation.entityframeworkcore

#3083 [Infra] GetTargetFrameworkIdentifier for baselines
  build/Common.prod.props
  src/OpenTelemetry.Extensions.AWS/.publicApi/.NETCoreApp/PublicAPI.Shipped.txt
  src/OpenTelemetry.Extensions.AWS/.publicApi/.NETCoreApp/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/.NETCoreApp/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/.NETFramework/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Wcf/.publicApi/.NETFramework/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.AWS/.publicApi/.NETCoreApp/PublicAPI.Shipped.txt
  src/OpenTelemetry.Resources.AWS/.publicApi/.NETCoreApp/PublicAPI.Unshipped.txt
Labels: infra, comp:instrumentation.wcf, comp:extensions.aws, comp:resources.aws, comp:instrumentation.sqlclient

#3081 [EFCore] [SqlClient] Remove SetDbQueryParameters
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/EntityFrameworkInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkInstrumentationOptionsTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTraceInstrumentationOptionsTests.cs
Labels: comp:instrumentation.entityframeworkcore, comp:instrumentation.sqlclient

#3092 [OpAMP.Client] WebSocket Transport for NetFx
  src/OpenTelemetry.OpAmp.Client/CHANGELOG.md
  src/OpenTelemetry.OpAmp.Client/Internal/FrameProcessor.cs
  src/OpenTelemetry.OpAmp.Client/Internal/OpAmpClient.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Transport/WebSocket/WsReceiver.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Transport/WebSocket/WsTransmitter.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Transport/WebSocket/WsTransport.cs
  test/OpenTelemetry.OpAmp.Client.Tests/WsTransportTest.cs
Labels: comp:opamp.client

#3096 [Resources.AWS] Replace IWebHost with IHost in tests
  test/OpenTelemetry.Resources.AWS.Tests/AWSECSDetectorTests.cs
Labels: comp:resources.aws

#3071 [Instrumentation.AspNet.TelemetryHttpModule] Rename activity source + trim public API
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/README.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModule.cs
  src/OpenTelemetry.Instrumentation.AspNet/AspNetInstrumentationTracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/ActivityHelperTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#3095 [OpAMP.Client] Add heartbeats
  src/OpenTelemetry.OpAmp.Client/CHANGELOG.md
  src/OpenTelemetry.OpAmp.Client/Internal/FrameBuilder.cs
  src/OpenTelemetry.OpAmp.Client/Internal/FrameDispatcher.cs
  src/OpenTelemetry.OpAmp.Client/Internal/IFrameBuilder.cs
  src/OpenTelemetry.OpAmp.Client/Internal/OpAmpClient.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Services/Heartbeat/ComponentHealthStatus.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Services/Heartbeat/HealthReport.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Services/Heartbeat/HeartbeatService.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Services/IBackgroundService.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Settings/ConnectionType.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Settings/HeartbeatSettings.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Settings/OpAmpClientSettings.cs
  src/OpenTelemetry.OpAmp.Client/OpenTelemetry.OpAmp.Client.csproj
  test/OpenTelemetry.OpAmp.Client.Tests/FrameDispatcherTests.cs
  test/OpenTelemetry.OpAmp.Client.Tests/HeartbeatServiceTests.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Mocks/MockListener.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Mocks/MockTransport.cs
Labels: comp:opamp.client

#3101 [Infra] Fix quotes in curl command for artifact download
  .github/workflows/publish-packages.yml
Labels: infra

#3102 [OpAMP.Client] Add EventSource logging
  src/OpenTelemetry.OpAmp.Client/CHANGELOG.md
  src/OpenTelemetry.OpAmp.Client/Internal/FrameDispatcher.cs
  src/OpenTelemetry.OpAmp.Client/Internal/OpAmpClientEventSource.cs
  src/OpenTelemetry.OpAmp.Client/Internal/Services/Heartbeat/HeartbeatService.cs
  src/OpenTelemetry.OpAmp.Client/OpenTelemetry.OpAmp.Client.csproj
  test/OpenTelemetry.OpAmp.Client.Tests/EventSourceTests.cs
  test/OpenTelemetry.OpAmp.Client.Tests/OpenTelemetry.OpAmp.Client.Tests.csproj
Labels: comp:opamp.client

#3084 [Instrumentation.StackExchangeRedis] Adopt new database span attributes
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisConnectionInstrumentation.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/StackExchangeRedisInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
Labels: comp:instrumentation.stackexchangeredis

#3118 [OpAMP.Client] Add disconnect frame
  src/OpenTelemetry.OpAmp.Client/Internal/FrameBuilder.cs
  src/OpenTelemetry.OpAmp.Client/Internal/FrameDispatcher.cs
  src/OpenTelemetry.OpAmp.Client/Internal/IFrameBuilder.cs
  src/OpenTelemetry.OpAmp.Client/Internal/OpAmpClientEventSource.cs
  src/OpenTelemetry.OpAmp.Client/OpAmpClient.cs
  test/OpenTelemetry.OpAmp.Client.Tests/DataGenerators/FrameBuilderTestData.cs
Labels: comp:opamp.client

#3110 [AspNet] Use Http*Base classes in public API
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModule.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModuleOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNet/AspNetMetricsInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/AspNetTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNet/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpRequestRouteHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/RequestDataHelperExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/ActivityHelperTest.cs
  test/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.Tests/HttpContextHelper.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/HttpInMetricsListenerTests.cs
  test/OpenTelemetry.Instrumentation.AspNet.Tests/RequestDataHelperExtensionsTests.cs
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet

#3114 [infra] Migrate to otelbot
  .github/workflows/automation.yml
  .github/workflows/core-version-update.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-packages.yml
  .github/workflows/sync-sql-tests.yml
  build/scripts/post-release.psm1
  build/scripts/prepare-release.psm1
Labels: infra

#3128 [infra] Fix release process
  .github/workflows/automation.yml
  .github/workflows/prepare-release.yml
  build/scripts/prepare-release.psm1
Labels: infra

#3129 [infra] Fix release process part 2
  .github/workflows/prepare-release.yml
Labels: infra

#3121 [OpAMP.Client] Support large WebSocket messages
  src/OpenTelemetry.OpAmp.Client/CHANGELOG.md
  src/OpenTelemetry.OpAmp.Client/Internal/Transport/WebSocket/WsTransmitter.cs
  test/OpenTelemetry.OpAmp.Client.Tests/WsTransportTest.cs
Labels: comp:opamp.client

#3136 [OpAMP.Client] Invalid WebSocket frame logging
  src/OpenTelemetry.OpAmp.Client/Internal/FrameProcessor.cs
  src/OpenTelemetry.OpAmp.Client/Internal/OpAmpClientEventSource.cs
Labels: comp:opamp.client

#3079 [SqlClient] Remove non-functional netfx properties
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/.NETCoreApp/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/.NETStandard/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/.NETStandard/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/CompatibilitySuppressions.xml
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientTraceInstrumentationOptionsTests.cs
Labels: comp:instrumentation.sqlclient
