Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-02, with the labels that each got.

#2544 Update code ownership for OpenTelemetry.Extensions.Enrichment
  .github/component_owners.yml
  src/OpenTelemetry.Extensions.Enrichment/README.md
Labels: documentation, infra, comp:extensions.enrichment

#2547 Remove Cijo Thomas from GenevaExporter codeowners
  .github/component_owners.yml
  src/OpenTelemetry.Exporter.Geneva/README.md
Labels: documentation, infra, comp:exporter.geneva

#2548 Add TimothyMothra and xiang17 to GenevaExporter codeowner
  .github/component_owners.yml
  src/OpenTelemetry.Exporter.Geneva/README.md
Labels: documentation, infra, comp:exporter.geneva

#2557 [Persistent Storage] Amend change log to include the deterministic flag enablement
  src/OpenTelemetry.PersistentStorage.Abstractions/CHANGELOG.md
  src/OpenTelemetry.PersistentStorage.FileSystem/CHANGELOG.md
Labels: comp:persistentstorage.filesystem, comp:persistentstorage.abstractions

#2479 [Exporter.Geneva] Adding user_events support for logs on Linux - user_events data transport utility
  src/OpenTelemetry.Exporter.Geneva/Internal/Transports/UnixUserEventsDataTransport.cs
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixUserEventsDataTransportTests.cs
Labels: comp:exporter.geneva

#2569 [repo] Add Rajkumar Rangaraj as maintainer
  README.md
Labels: documentation

#2539 [Instrumentation.AspNetCore] Listen to SignalR server activities
  build/Common.props
  src/OpenTelemetry.Instrumentation.AspNetCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/TestApp.AspNetCore/Program.cs
  test/TestApp.AspNetCore/TestHub.cs
Labels: infra, comp:instrumentation.aspnetcore

#2577 [Instrumentation.AspNetCore] Missing PR link in CHANGELOG
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
Labels: comp:instrumentation.aspnetcore

#2571 [Instrumentation.EntityFrameworkCore] Fix db.system for Devart packages
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
Labels: comp:instrumentation.entityframeworkcore
