Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-08, with the labels that each got.

#2981 [SqlClient] Fix spacing
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
Labels: documentation, comp:instrumentation.sqlclient

#2926 [OpAMP.Client] Add support for plain http transport
  .github/workflows/ci.yml
  src/OpenTelemetry.OpAmp.Client/CHANGELOG.md
  src/OpenTelemetry.OpAmp.Client/FrameBuilder.cs
  src/OpenTelemetry.OpAmp.Client/FrameDispatcher.cs
  src/OpenTelemetry.OpAmp.Client/FrameProcessor.cs
  src/OpenTelemetry.OpAmp.Client/IFrameBuilder.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/IOpAmpListener.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/IOpAmpMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/AgentIdentificationMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/CapabilitiesMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/CommandMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/ConnectionSettingsMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/CustomCapabilitiesMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/CustomMessageMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/ErrorResponseMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/FlagsMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/PackagesAvailableMessage.cs
  src/OpenTelemetry.OpAmp.Client/Listeners/Messages/RemoteConfigMessage.cs
  src/OpenTelemetry.OpAmp.Client/OpAmpClient.cs
  src/OpenTelemetry.OpAmp.Client/OpAmpClientSettings.cs
  src/OpenTelemetry.OpAmp.Client/OpenTelemetry.OpAmp.Client.csproj
  src/OpenTelemetry.OpAmp.Client/Protos/anyvalue.proto
  src/OpenTelemetry.OpAmp.Client/Protos/opamp.proto
  src/OpenTelemetry.OpAmp.Client/Transport/Http/PlainHttpTransport.cs
  src/OpenTelemetry.OpAmp.Client/Transport/IOpAmpTransport.cs
  src/OpenTelemetry.OpAmp.Client/Utils/SequenceHelper.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.OpAmp.Client.Tests/FrameBuilderTests.cs
  test/OpenTelemetry.OpAmp.Client.Tests/FrameDispatcherTests.cs
  test/OpenTelemetry.OpAmp.Client.Tests/FrameProcessorTests.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Mocks/MockFrame.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Mocks/MockListener.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Mocks/MockTransport.cs
  test/OpenTelemetry.OpAmp.Client.Tests/OpenTelemetry.OpAmp.Client.Tests.csproj
  test/OpenTelemetry.OpAmp.Client.Tests/PlainHttpTransportTest.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Tools/FrameGenerator.cs
  test/OpenTelemetry.OpAmp.Client.Tests/Tools/OpAmpFakeHttpServer.cs
Labels: infra, comp:opamp.client

#2966 [Infra] CodeQL fixes
  .github/workflows/core-version-update.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-packages.yml
Labels: infra

#3011 [EFCore] Set server.port attribute
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/Shared/SqlConnectionDetails.cs
  test/OpenTelemetry.Contrib.Shared.Tests/OpenTelemetry.Contrib.Shared.Tests.csproj
  test/OpenTelemetry.Contrib.Shared.Tests/SqlConnectionDetailsTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkIntegrationTests.cs
Labels: comp:instrumentation.entityframeworkcore, comp:instrumentation.sqlclient

#2998 [Extensions.Enrichment] Darius Letterman - component owner
  .github/component_owners.yml
  src/OpenTelemetry.Extensions.Enrichment/README.md
Labels: documentation, infra, comp:extensions.enrichment

#3017 [AWS] Norm Johanson - component owner
  .github/component_owners.yml
  src/OpenTelemetry.Extensions.AWS/README.md
  src/OpenTelemetry.Instrumentation.AWS/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Resources.AWS/README.md
  src/OpenTelemetry.Sampler.AWS/README.md
Labels: documentation, infra, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws, comp:sampler.aws, comp:resources.aws

#3012 Add ASP.NET Core telemetry metrics and traces for .NET 10
  src/OpenTelemetry.Instrumentation.AspNetCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
Labels: comp:instrumentation.aspnetcore

#3021 [Instrumentation.AspNetCore.Tests] remove not used file
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.net6.0.md
Labels: documentation, comp:instrumentation.aspnetcore

#3030 [Infra] Add workflow to sync SQL test cases
  .github/workflows/sync-sql-tests.yml
Labels: infra

#2816 [infra] Use Artifacts Output layout
  .github/workflows/Component.BuildTest.yml
  .github/workflows/publish-packages.yml
  .gitignore
  Directory.Build.props
  build/Common.prod.props
  build/scripts/test-aot-compatibility.ps1
  examples/Directory.Build.props
  src/Directory.Build.props
  test/Directory.Build.props
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/OpenTelemetry.Instrumentation.AspNetCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTestFixture.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/TestApplication/TestApplicationFactory.cs
Labels: documentation, infra, comp:instrumentation.aspnetcore

#2928 [AWSLambda] Add faas.instance and faas.max_memory
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaResourceDetector.cs
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  src/Shared/AWS/AWSSemanticConventions.Base.cs
  src/Shared/AWS/AWSSemanticConventions.Legacy.cs
  src/Shared/AWS/AWSSemanticConventions.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/SampleLambdaContext.cs
Labels: comp:instrumentation.awslambda

#2979 #2978 Remove azure vm sku attribute
  src/OpenTelemetry.Resources.Azure/AzureVMResourceDetector.cs
  src/OpenTelemetry.Resources.Azure/AzureVmMetadataResponse.cs
  src/OpenTelemetry.Resources.Azure/CHANGELOG.md
  src/OpenTelemetry.Resources.Azure/README.md
  src/OpenTelemetry.Resources.Azure/ResourceAttributeConstants.cs
  test/OpenTelemetry.Resources.Azure.Tests/AzureResourceDetectorTests.cs
Labels: comp:resources.azure

#3039 [Extensions.Enrichment.AspNetCore] Project base
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/release_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Extensions.Enrichment.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Extensions.Enrichment.AspNetCore/OpenTelemetry.Extensions.Enrichment.AspNetCore.csproj
  src/OpenTelemetry.Extensions.Enrichment.AspNetCore/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Extensions.Enrichment.AspNetCore.Tests/OpenTelemetry.Extensions.Enrichment.AspNetCore.Tests.csproj
Labels: infra, comp:extensions.enrichment.aspnetcore

#3015 [SqlClient] [EFCore] Support query parameter attributes
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/EntityFrameworkInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/OpenTelemetry.Instrumentation.EntityFrameworkCore.csproj
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  src/Shared/SqlParameterProcessor.cs
  test/OpenTelemetry.Contrib.Shared.Tests/OpenTelemetry.Contrib.Shared.Tests.csproj
  test/OpenTelemetry.Contrib.Shared.Tests/SqlParameterProcessorTests.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkIntegrationTests.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/OpenTelemetry.Instrumentation.SqlClient.Tests.csproj
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
Labels: comp:instrumentation.entityframeworkcore, comp:instrumentation.sqlclient
