Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-07, with the labels that each got.

#2866 [Infra] Add package READMEs
  build/Common.prod.props
Labels: infra

#2879 [Instrumentation.AspNet] Replace StringComparison.InvariantCulture with Ordinal
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
Labels: comp:instrumentation.aspnet

#2886 [infra] Drop yamllint installation
  .github/workflows/yamllint.yml
  build/yamllint-requirements.txt
Labels: infra

#2883 [infra] Fix Codecov baseline reporting
  .github/workflows/ci.yml
Labels: infra

#2907 [SqlClient] Update test container
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTestsFixture.cs
Labels: comp:instrumentation.sqlclient

#2904 [infra] Checkout code on main to detect changes
  .github/workflows/ci.yml
Labels: infra

#2709 [Instrumentation.SqlClient] Introducing context propagation to SQL Server
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlClientInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/SqlClientTraceInstrumentationOptions.cs
  test/OpenTelemetry.Instrumentation.SqlClient.Tests/SqlClientIntegrationTests.cs
Labels: comp:instrumentation.sqlclient

#2912 [Tests] Drop SpanAttributeConstants
  src/Shared/SpanAttributeConstants.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/OpenTelemetry.Instrumentation.AWSLambda.Tests.csproj
  test/OpenTelemetry.Instrumentation.AspNet.Tests/OpenTelemetry.Instrumentation.AspNet.Tests.csproj
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.Quartz.Tests/OpenTelemetry.Instrumentation.Quartz.Tests.csproj
Labels: comp:instrumentation.quartz, comp:instrumentation.entityframeworkcore, comp:instrumentation.awslambda, comp:instrumentation.aspnet, comp:instrumentation.http

#2917 [OpAMP.Client] Project base
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/release_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.OpAmp.Client/CHANGELOG.md
  src/OpenTelemetry.OpAmp.Client/OpenTelemetry.OpAmp.Client.csproj
  src/OpenTelemetry.OpAmp.Client/README.md
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.OpAmp.Client.Tests/OpenTelemetry.OpAmp.Client.Tests.csproj
Labels: infra, comp:opamp.client

#2922 Add Martin Costello as Approver
  README.md
Labels: documentation

#2924 [Instrumentation.AspNet] Code cleanup
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/ActivityHelper.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/AspNetTelemetryEventSource.cs
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule.csproj
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/TelemetryHttpModule.cs
  src/OpenTelemetry.Instrumentation.AspNet/AspNetInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNet/AspNetInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNet/Implementation/HttpRequestRouteHelper.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreTraceInstrumentationOptions.cs
  src/Shared/Options/DelegatingOptionsFactoryServiceCollectionExtensions.cs
  test/Shared/TestTextMapPropagator.cs
Labels: comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet, comp:instrumentation.aspnetcore

#2941 [Infra] Remove version from compose files
  build/docker-compose.net8.0.yml
  build/docker-compose.net9.0.yml
  test/OpenTelemetry.Instrumentation.Cassandra.Tests/docker-compose.yml
  test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/docker-compose.yml
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/docker-compose.yml
Labels: infra, comp:instrumentation.stackexchangeredis, comp:instrumentation.cassandra, comp:instrumentation.confluentkafka

#2925 [Exporter.StackDriver] updated dependencies and obsolete package code
  src/OpenTelemetry.Exporter.Stackdriver/CHANGELOG.md
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  src/OpenTelemetry.Exporter.Stackdriver/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
Labels: comp:exporter.stackdriver

#2952 [docs] Fix status header formatting
  src/OpenTelemetry.Exporter.Geneva/README.md
  src/OpenTelemetry.Exporter.InfluxDB/README.md
  src/OpenTelemetry.Exporter.Instana/README.md
  src/OpenTelemetry.Exporter.OneCollector/README.md
  src/OpenTelemetry.Exporter.Stackdriver/README.md
  src/OpenTelemetry.Extensions.AWS/README.md
  src/OpenTelemetry.Extensions.Enrichment/README.md
  src/OpenTelemetry.Extensions/README.md
  src/OpenTelemetry.Instrumentation.AWS/README.md
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
  src/OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule/README.md
  src/OpenTelemetry.Instrumentation.AspNet/README.md
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  src/OpenTelemetry.Instrumentation.Cassandra/README.md
  src/OpenTelemetry.Instrumentation.ConfluentKafka/README.md
  src/OpenTelemetry.Instrumentation.ElasticsearchClient/README.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/README.md
  src/OpenTelemetry.Instrumentation.EventCounters/README.md
  src/OpenTelemetry.Instrumentation.GrpcCore/README.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.Hangfire/README.md
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/OpenTelemetry.Instrumentation.Owin/README.md
  src/OpenTelemetry.Instrumentation.Process/README.md
  src/OpenTelemetry.Instrumentation.Quartz/README.md
  src/OpenTelemetry.Instrumentation.Runtime/README.md
  src/OpenTelemetry.Instrumentation.ServiceFabricRemoting/README.md
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/README.md
  src/OpenTelemetry.Instrumentation.Wcf/README.md
  src/OpenTelemetry.OpAmp.Client/README.md
  src/OpenTelemetry.PersistentStorage.Abstractions/README.md
  src/OpenTelemetry.PersistentStorage.FileSystem/README.md
  src/OpenTelemetry.Resources.AWS/README.md
  src/OpenTelemetry.Resources.Azure/README.md
  src/OpenTelemetry.Resources.Container/README.md
  src/OpenTelemetry.Resources.Gcp/README.md
  src/OpenTelemetry.Resources.Host/README.md
  src/OpenTelemetry.Resources.OperatingSystem/README.md
  src/OpenTelemetry.Resources.Process/README.md
  src/OpenTelemetry.Resources.ProcessRuntime/README.md
  src/OpenTelemetry.Sampler.AWS/README.md
Labels: documentation, comp:instrumentation.wcf, comp:instrumentation.runtime, comp:instrumentation.quartz, comp:instrumentation.owin, comp:instrumentation.hangfire, comp:instrumentation.grpccore, comp:instrumentation.entityframeworkcore, comp:instrumentation.elasticsearchclient, comp:persistentstorage.filesystem, comp:extensions, comp:exporter.stackdriver, comp:exporter.geneva, comp:instrumentation.awslambda, comp:instrumentation.aws, comp:extensions.aws, comp:persistentstorage.abstractions, comp:instrumentation.stackexchangeredis, comp:exporter.instana, comp:resources.container, comp:instrumentation.aspnet.telemetryhttpmodule, comp:instrumentation.aspnet, comp:instrumentation.eventcounters, comp:instrumentation.process, comp:resources.azure, comp:exporter.onecollector, comp:extensions.enrichment, comp:instrumentation.cassandra, comp:sampler.aws, comp:resources.aws, comp:exporter.influxdb, comp:resources.processruntime, comp:resources.process, comp:resources.host, comp:instrumentation.aspnetcore, comp:instrumentation.http, comp:instrumentation.sqlclient, comp:instrumentation.grpcnetclient, comp:resources.gcp, comp:instrumentation.confluentkafka, comp:resources.operatingsystem, comp:instrumentation.servicefabricremoting, comp:opamp.client

#2953 [Infra] Exclude keep-open label from stale
  .github/workflows/stale.yml
Labels: infra

#2954 [docs] Contributing - reporting bug/feature requests
  CONTRIBUTING.md
Labels: documentation

#2950 [Exporter.Stackdriver] Remove code
  .github/ISSUE_TEMPLATE/release_request.yml
  .github/codecov.yml
  .github/component_owners.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  opentelemetry-dotnet-contrib.sln
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/Constants.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ExporterStackdriverEventSource.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/GoogleCloudResourceUtils.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ResourceExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/ResourceSemanticConventions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Implementation/StackdriverStatsConfiguration.cs
  src/OpenTelemetry.Exporter.Stackdriver/OpenTelemetry.Exporter.Stackdriver.csproj
  src/OpenTelemetry.Exporter.Stackdriver/StackdriverTraceExporter.cs
  src/OpenTelemetry.Exporter.Stackdriver/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Stackdriver/Utils/CommonUtils.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/ActivityExtensionsTest.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/Implementation/StackdriverStatsConfigurationTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/OpenTelemetry.Exporter.Stackdriver.Tests.csproj
  test/OpenTelemetry.Exporter.Stackdriver.Tests/ResourceExtensionsTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/StackdriverExporterTests.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestActivityProcessor.cs
  test/OpenTelemetry.Exporter.Stackdriver.Tests/TestTraceServiceClient.cs
Labels: infra, comp:exporter.stackdriver

#2955 [Infra] Improve CodeQL analysis
  .github/workflows/codeql-analysis.yml
Labels: infra

#2961 [Infra] Fix labelling for blank issues
  .github/workflows/add-labels.yml
  build/scripts/add-labels.psm1
Labels: infra

#2963 [Infra] Ignore drafts from PR review assignment
  .github/workflows/assign-reviewers.yml
Labels: infra
