Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-03, with the labels that each got.

#2654 [Exporter.Geneva] Refactor ConsoleCommand utility class
  opentelemetry-dotnet-contrib.sln
  test/OpenTelemetry.Exporter.Geneva.Tests/OpenTelemetry.Exporter.Geneva.Tests.csproj
  test/OpenTelemetry.Exporter.Geneva.Tests/UnixUserEventsDataTransportTests.cs
  test/Shared/ConsoleCommand.cs
  test/Shared/PerfTracepointListener.cs
Labels: comp:exporter.geneva

#2659 [repo] CodeCove - Fix workflow warning
  .github/workflows/Component.BuildTest.yml
Labels: infra

#2655 [SemanticConvention] Bump to v1.31.0
  src/OpenTelemetry.SemanticConventions/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.SemanticConventions/Attributes/AndroidAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CicdAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CloudAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CodeAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/CpuAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/DbAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/EnduserAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/GenAiAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/IosAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/K8sAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/OciAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/OtelAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/ProcessAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/RpcAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/SystemAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/TlsAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/UrlAttributes.cs
  src/OpenTelemetry.SemanticConventions/Attributes/UserAgentAttributes.cs
  src/OpenTelemetry.SemanticConventions/CHANGELOG.md
  src/OpenTelemetry.SemanticConventions/scripts/generate.ps1
  src/OpenTelemetry.SemanticConventions/scripts/generate.sh
  src/OpenTelemetry.SemanticConventions/scripts/templates/registry/SemanticConventionsAttributes.cs.j2
Labels: comp:semanticconventions

#2653 Set initial AWS Semantic Convention list capacity to guard against list resizing
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
  src/Shared/AWS/AWSSemanticConventions.cs
Labels: comp:instrumentation.awslambda, comp:instrumentation.aws, comp:resources.aws

#2663 [Instrumentation.Http] Fix stability in readme
  src/OpenTelemetry.Instrumentation.Http/README.md
Labels: documentation, comp:instrumentation.http

#2667 [Instrumentation.StackExchangeRedis] only netstandard2.0 references System.Reflection.Emit.Lightweight
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/OpenTelemetry.Instrumentation.StackExchangeRedis.csproj
Labels: comp:instrumentation.stackexchangeredis

#2671 [repo] GitHub Actions hardening
  .github/workflows/Component.BuildTest.yml
  .github/workflows/add-labels.yml
  .github/workflows/assign-reviewers.yml
  .github/workflows/ci-Exporter.OneCollector-Integration.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/core-version-update.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/integration.yml
  .github/workflows/markdownlint.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-packages.yml
  .github/workflows/sanitycheck.yml
  .github/workflows/stale.yml
  .github/workflows/verifyaotcompat.yml
  .github/workflows/yamllint.yml
Labels: infra
