Repository open-telemetry/opentelemetry-dotnet-contrib, pull requests merged in 2025-01, with the labels that each got.

#2424 Update note on SqlClient
  src/OpenTelemetry.Instrumentation.SqlClient/README.md
Labels: documentation, Stale, comp:instrumentation.sqlclient

#2451 Fixed Exception error from AWS Resource Detectors
  src/OpenTelemetry.Resources.AWS/AWSResourcesEventSource.cs
Labels: comp:resources.aws

#2437 [aws] default to use Semantic Convention 1.28 and remove option Legacy
  src/OpenTelemetry.Instrumentation.AWS/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Resources.AWS/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Resources.AWS/CHANGELOG.md
  src/Shared/AWS/AWSSemanticConventions.Legacy.cs
  src/Shared/AWS/AWSSemanticConventions.cs
  src/Shared/AWS/SemanticConventionVersion.cs
Labels: comp:instrumentation.awslambda, comp:instrumentation.aws, comp:resources.aws

#2457 [OpenTelemetry.Instrumentation.AWSLambda] Do not crash on empty LambdaContext
  src/OpenTelemetry.Instrumentation.AWSLambda/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWSLambda/Implementation/AWSLambdaUtils.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/AWSLambdaWrapperTests.cs
  test/OpenTelemetry.Instrumentation.AWSLambda.Tests/SampleLambdaContext.cs
Labels: comp:instrumentation.awslambda

#2447 [Instrumentation.AWS]: always add context propagation data to requests
  src/OpenTelemetry.Instrumentation.AWS/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AWS/Implementation/AWSTracingPipelineHandler.cs
  test/OpenTelemetry.Instrumentation.AWS.Tests/TestAWSClientInstrumentation.cs
Labels: comp:instrumentation.aws

#2465 [Instrumentation.EntityFrameworkCore] Add case for providerName when Devart Oracle is used
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.EntityFrameworkCore/Implementation/EntityFrameworkDiagnosticListener.cs
  test/OpenTelemetry.Instrumentation.EntityFrameworkCore.Tests/EntityFrameworkDiagnosticListenerTests.cs
Labels: comp:instrumentation.entityframeworkcore

#2468 [Instrumentation.StackExchangeRedis] Adopt v1.23 database span network attributes
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.StackExchangeRedis/Implementation/RedisProfilerEntryToActivityConverter.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/Implementation/RedisProfilerEntryToActivityConverterTests.cs
  test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/StackExchangeRedisCallsInstrumentationTests.cs
Labels: comp:instrumentation.stackexchangeredis

#2478 [Sampler.AWS] Tests - Bump WireMock.Net to 1.7.0
  build/Common.nonprod.props
  test/OpenTelemetry.Sampler.AWS.Tests/OpenTelemetry.Sampler.AWS.Tests.csproj
Labels: infra, comp:sampler.aws

#2475 [Exporter.Geneva] Adding user_events support for logs on Linux - Vendor code for writing tracepoints on Linux
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/EventHeaderDynamicBuilder.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/EventHeaderDynamicProvider.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/EventHeaderDynamicProviderOptions.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/EventHeaderDynamicTracepoint.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/Provider/EventHeaderValue128.cs
  src/OpenTelemetry.Exporter.Geneva/External/LinuxTracepoints-Net/README.md
Labels: comp:exporter.geneva

#2529 [OneCollector] Allow underscore in event name
  src/OpenTelemetry.Exporter.OneCollector/CHANGELOG.md
  src/OpenTelemetry.Exporter.OneCollector/Internal/EventNameManager.cs
  src/OpenTelemetry.Exporter.OneCollector/Internal/Serialization/LogRecordCommonSchemaJsonSerializer.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/EventNameManagerTests.cs
  test/OpenTelemetry.Exporter.OneCollector.Tests/LogRecordCommonSchemaJsonSerializerTests.cs
Labels: comp:exporter.onecollector

#2535 List OpenTelemetry.Extensions.AWS as Stable
  src/OpenTelemetry.Extensions.AWS/README.md
Labels: documentation, comp:extensions.aws

#2537 List OpenTelemetry.Resources.AWS as Stable
  src/OpenTelemetry.Resources.AWS/README.md
Labels: documentation, comp:resources.aws

#2534 List OpenTelemetry.Instrumentation.AWS as Stable
  src/OpenTelemetry.Instrumentation.AWS/README.md
Labels: documentation, comp:instrumentation.aws

#2536 List OpenTelemetry.Instrumentation.AWSLambda as Stable
  src/OpenTelemetry.Instrumentation.AWSLambda/README.md
Labels: documentation, comp:instrumentation.awslambda
